[2020-03-30 14:20] vamossagar12 commented on #1096
Regarding point 2, I still have a question. As far as what I have understood, the hierarchy of a test is as follows:

Test -> Step -> Phase(s) Or measurement(s)

If we just focus on measurements, it's 2 levels lower than a test. So, when we hit the api-server from start and gather from within a measurement, that would be still within the context of that particular step.  Is the question clear now?

[2020-03-30 14:25] mm4tt commented on #1096
Oh, I see where the confusion comes from. The hierarchy you listed is correct. But the measurement there should be treated as measurement invocation. The measurement object life spans the whole test. So if your test is

[code]

Then methods start and gather will be called on the same measurement instance

[2020-03-31 12:33] skurtzemann commented on #604
Hi @oxddr,
I'll like to get this issue and I had some questions ;)

- can we perharps include the `go build` process into the `Dockerfile` as a build stage instead of copying the binary into the `Dockerfile`
- what version of golang do you use to build `perf-dash`
- how can i plugs data into `perf-dash` to test it ?

Thanks

[2020-03-31 12:49] oxddr commented on #604
Awesome!

Sure, that's a good idea to make builds more reproducible.

I've used go1.14 last time. I'd use whichever is the newest and works with the codebase. We don't have specific requirements around this as long as perf-dash works.

Please have a look at `Makefile` and `run` target. It loads actual test data for few recent builds (you may want to decrease this number even more to speed things u

[2020-03-31 15:46] skurtzemann commented on #604
Thanks for your response.

Inside the `golang:1.14.1` I've got the following error after launch `make run` :

[code]

[2020-03-31 15:49] oxddr commented on #604
AFAIK this is expected. perf-dash lookups cartesian product of {jobs, log files}, so it won't be able to find some of them. Error messages around it can be misleading it seems.

[2020-03-31 16:29] wojtek-t commented on #735
/remove-lifecycle rotten
/lifecycle frozen

[2020-03-31 17:19] skurtzemann commented on #604
With these errors the dashboard will still display some data ?

[2020-04-01 07:54] mm4tt commented on #595
/remove-lifecycle stale

There are WIP (but unfortunately, not active) PRs for this. If anyone else would like to take over the work here, please let me know.

[2020-04-01 08:34] mm4tt commented on #803
/remove-lifecycle stale

We still want to do it...

[2020-04-01 10:01] oxddr commented on #604
Most of the time, this is expected. If you want to verify, data was loaded correctly, check some of the graphs (e.g. API responsivess or compare to perf-dash.k8s.io) . As mentioned earlier, those log statements are misleading.

[2020-04-02 04:29] maniSbindra commented on #1036
Hi @mm4tt I believe this issue can be closed now.

Thanks,
Mani

[2020-04-02 05:37] wojtek-t commented on #1036
There is one more thing - for stuff that we don't disable anywhere (e.g. secrets), we should also cleanup the config file:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/load/config.yaml

[The simpler it will be, the better]

[2020-04-02 06:09] maniSbindra commented on #1036
Hi just wanted to confirm my understanding. Currently only places (which I could find) in test-infra where we use not use the default values of these override variables are where we set ``` CL2_ENABLE_PVS=false ``` in [sig-scalability-presubmit-jobs.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml), and where we s

[2020-04-02 06:16] wojtek-t commented on #1036
Yes - that's exactly what I'm suggesting.

[2020-04-02 17:38] mm4tt commented on #948
/close

[2020-04-02 17:38] #948 closed

[2020-04-03 10:20] mm4tt commented on #552
Thanks, @skurtzemann!  Also big thanks for fixing the etcd profiles!!!

@oxddr, you had some thoughts about it, right?  Let me know if I'm mistaken, if so, I'll try explaining what should be done.

[2020-04-03 10:32] oxddr commented on #552
I don't recall having a specific thoughts about it. The only thing I can think of now is that we can start using `golangci-lint` instead if `gofmt` and `golint` to check the code (please see https://github.com/kubernetes/perf-tests/issues/573). In general those two check are good candidate to migrate first. There are existing images available for them (or for `golangci-lint` FWIW), so adding a new

[2020-04-03 10:37] mm4tt commented on #552
Thanks, @oxddr

@skurtzemann, please let me know if the first steps that Janek proposed are clear. Don't hesitate to ask questions if something is not

[2020-04-03 11:11] wojtek-t commented on #552
In travis we were building everything in this repo and running unit tests. Being able to do that would be extremely useful - without it we're a bit blind.

[2020-04-03 19:31] skurtzemann commented on #552
@mm4tt, @oxddr
If my understanding of your issue is good : you will to migrate the `.travis.yml` content into prow jobs ?
And the first step wiil be these 2 instructions (https://github.com/kubernetes/perf-tests/blob/master/.travis.yml#L26-L27) using `golangci-lint` ?

[2020-04-04 12:23] wojtek-t commented on #779
/remove-lifecycle rotten
/lifecycle frozen

[2020-04-06 09:30] oxddr commented on #552
@skurtzemann, yes, your understanding is correct: we would like to move away from Travis in favor of Prow and move linters in the first step.

[2020-04-06 09:42] skurtzemann commented on #552
@oxddr : Thanks.
Where can I start writing Prow jobs ?

[2020-04-06 09:51] oxddr commented on #552
We run presubmits on Prow instance maintained by test-infra folks.
Configuration of our presubmits live in `kubernetes/test-infra` repository
in
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml.
Linters should be added there under `perf-tests` key in yaml file.

[2020-04-07 06:43] vamossagar12 commented on #1096
@mm4tt I have taken an initial stab at this here: https://github.com/kubernetes/perf-tests/pull/1162/files

Plz review when you have the bandwidth..

[2020-04-07 12:07] wojtek-t commented on #794
We have a wrapper measurement.

Now we can simplify our existing config (mostly for load test).
@vamossagar12 - are you interested in doing that too maybe?

[2020-04-07 14:07] oxddr opened #1163 "perf-test should pass golint checks without -min_confidence=0.9"
There is a number of `golint` violations across perf-tests repo. They are hidden as of now, because we pass `-min_confidence=0.9` to `golint`. We should:

1. Fix hidden issues (they should be self-explanatory) or if that's not feasible disable linter with an explanation (least prefered).
2. Remove `-min_confidence` from verify-golint.sh

/help-wanted
/good-first-issue

[2020-04-07 15:23] wojtek-t commented on #797
We have already versioned perf-tests repo. There is basically one more follow up on it: https://github.com/kubernetes/test-infra/issues/17097, but it can be closed.

[2020-04-07 15:23] #797 closed

[2020-04-08 02:48] vamossagar12 commented on #794
hey @wojtek-t yup i would take it up. Probably after the Api availability measurement issue that i am working on? Is that ok?

[2020-04-08 07:18] wojtek-t commented on #794
@vamossagar12 - sure that's fine [also, you may be looking into it, if you're blocked on our reviews, though I think it's not the case now]

[2020-04-09 17:36] yuanchen8911 opened #1169 "ClusterLoader enhancement: use existing namespaces in a test"
clusterloader automatically creates and manages namespaces, but we need to use existing namespaces in some testing scenarios. For example, an internal controller has to create a bunch of namespaces with quota limits first for any tests in our environment.  There might be other use cases for using pre-created namespaces too.

We have implemented an enhancement to clusterloader in support of using e

[2020-04-09 18:45] wojtek-t commented on #1169
At the high level I agree it would be useful. The case with "prepared namespaces" is definitely a valid one. Another usecase that I see is actually running multiple tests against the same set of namespaces.

So yes - I'm will to accept the feature at the high level.

If we get to details, I would like to avoid introducing a dedicated field for that.
Instead, I think that we should:
- deprecate the

[2020-04-09 19:52] yuanchen8911 commented on #1169
@wojtek-t Yes, the introduction of a namespace structure is certainly a better way.  So the logic would look like.

1.  Check whether the namespaces with names $Prefix-1, -2, -3, ...  exist.

2.  If the namespaces exist,  report an error and stop the test if _Adopt_ is not set  or use the existing namespaces if _Adopt_ is set.  Otherwise,  create the namespaces.

 A subtle issue is when _Number_ i

[2020-04-09 19:56] wojtek-t commented on #1169
I don't have strong preference - I would create those additional one, but the error also sounds fine to me.

[2020-04-09 20:01] yuanchen8911 commented on #1169
Maybe a warning?

[2020-04-10 11:52] wojtek-t commented on #1169
Warning in logs? Noone will see that (technically it will be equal to not doing anything imho - so it's effectively the "create additiona" option).
Anyway - as I said, I don't have strong preference here.

[2020-04-10 19:38] #897 closed

[2020-04-11 04:09] yuanchen8911 commented on #1169
Also, how about separating kubernetes cluster related configurations (e.g., kubeconfig, master-ip) from test specific parameters such as the number of namespaces, whether to delete stale namespaces, etc?  The former are still the command line options and the latter are defined in the testconfig yaml file.

We can define the following structure for namespace.
[code]
The corresponding configuration

[2020-04-14 12:23] wojtek-t commented on #1169
Seems reasonable

[2020-04-14 23:24] yuanchen8911 commented on #1169
Submitted a PR https://github.com/kubernetes/perf-tests/pull/1173

[2020-04-16 17:28] wojtek-t commented on #246
/remove-lifecycle stale
/lifecycle frozen

[2020-04-16 18:01] wojtek-t commented on #990
/remove-lifecycle stale
/lifecycle frozen

[2020-04-20 08:13] oxddr commented on #589
/remove-lifecycle stale
/lifecycle frozen

[2020-04-20 11:45] wojtek-t commented on #617
/remove-lifecycle stale

[2020-04-20 11:45] wojtek-t commented on #866
/remove-lifecycle stale

[2020-04-21 09:18] maniSbindra commented on #1036
Hi @wojtek-t  for this issue to be closed, do I need to submit a PR deleting the file [experimental-config.yaml](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/load/experimental-config.yaml)?

[2020-04-21 11:53] wojtek-t commented on #1036
Yes - it's out-of-date anyway. So let's please remove it and close this issue then.

[2020-04-22 19:56] yuanchen8911 commented on #1169
Two PRs were merged.
 kubernetes/perf-tests#1181
 kubernetes/perf-tests#1173

[2020-04-22 19:56] #1169 closed

[2020-04-27 01:58] xial-thu opened #1191 "consider checking labels to decide if it's a master node"
/area clusterloader

Now clusterloader2 just checks the suffix, however, in some costumed installation, node names don't contain a specific 'master'. Instead, it may contain labels such as `node-role.kubernetes.io/master=''`. Do we consider checking labels of nodes?

[2020-04-27 07:04] mm4tt commented on #986
/remove-lifecycle stale

We most likely would like to do something like this. Or something else but addressing the same problem that Janek describe. The problem still exists and makes our tests flaky

[2020-04-27 11:07] oxddr commented on #986
/assign

I am planning to have a look at this issue this or next week.

[2020-04-27 11:31] wojtek-t commented on #1191
We need to check if all existing tests set those label before we remove the current check. But we can immediately add it as an additional check (i.e. either name or label is set).

[2020-04-27 12:11] xial-thu commented on #1191
I'm using release 1.15 branch, relative code uses `IsMasterNode()` in vendor/k8s.io/kubernetes/pkg/util/system/system_utils.go

[code]

All the code in cl2 calls `system.IsMasterNode()`.

I personally think it's better to check labels, but it requires following changes:
1. `IsMasterNode` accepts `corev1.Node` as input, no longer `string`, so we gotta code it in maybe some 'util' pkg
2. since `core

[2020-04-27 13:31] wojtek-t commented on #1191
We stopped vendoring that function (and copied it) in master branch. So if you're willing to fix that in master branch, it would be great.

[2020-04-28 02:04] xial-thu commented on #1191
I checked that function in master branch, it says

So should I fix this or just leave it alone?

[2020-04-28 12:06] wojtek-t commented on #1191
This is fine, as we're going to use it only as an additional signal (at least for now). So if it's unset, we will return false anyway (no matter if you add this code or not).
Please go ahead and update.

[2020-04-28 16:07] oxddr commented on #572
/help-wanted
/good-first-issue

This is a good opportunity to learn `clusterloader2`. Tests can be added package-by-package.

[2020-04-30 13:00] #1020 closed

[2020-05-01 10:24] #1191 closed

[2020-05-01 12:12] maniSbindra commented on #1036
Hi @wojtek-t ,

Can this issue be closed now that #1183 has been merged.

Thanks,
Mani

[2020-05-03 11:35] wojtek-t commented on #1036
Yes - we can close it. Thanks!

[2020-05-03 11:35] #1036 closed

[2020-05-04 15:18] JanetSch commented on #1057
We are also getting issues with using clusterloader2 with OpenShift due to 2 prometheus-operators being deployed. Being able to use the one already there in OpenShift would be a big help.

[2020-05-04 16:59] wojtek-t commented on #980
/remove-lifecycle stale

[2020-05-04 16:59] wojtek-t commented on #980
/lifecycle frozen

[2020-05-05 09:35] mm4tt commented on #887
/remove-lifecycle stale

[2020-05-05 15:57] wojtek-t commented on #552
/assign @oxddr

[2020-05-05 16:20] wojtek-t commented on #1024
/remove-lifecycle stale

[2020-05-06 11:38] wojtek-t commented on #1027
/remove-lifecycle stale

[2020-05-06 11:39] wojtek-t commented on #1028
/remove-lifecycle stale

[2020-05-06 17:10] oxddr commented on #573
/assign

[2020-05-08 14:58] oxddr commented on #573
Fixed!

/close

[2020-05-08 14:58] #573 closed

[2020-05-08 14:59] oxddr commented on #552
Done!

/close

[2020-05-08 14:59] #552 closed

[2020-05-08 15:01] oxddr commented on #640
Closing this one in favor of https://github.com/kubernetes/kubernetes/issues/82364

[2020-05-08 15:01] oxddr commented on #1068
Closing this one in favor of https://github.com/kubernetes/kubernetes/issues/82364

/close

[2020-05-08 15:01] #1068 closed

[2020-05-08 15:02] oxddr commented on #640
/close

[2020-05-08 15:02] #640 closed

[2020-05-08 15:38] oxddr commented on #1112
/assign

I had an initial look at this, but I haven't found enough time to finish this. I'll try to have a look at this next week or so.

[2020-05-08 16:04] oxddr opened #1243 "Run shellcheck as a presubmit"
There is significant amount of Bash in this repository. It'd be good to run shellcheck (in a form of a presubmit) to prevent some common issues.

/assign

[2020-05-08 16:07] oxddr opened #1244 "Run more linters with golangci-lint"
Currently we run only `golint` and `gofmt`. We should at least enable linters which are enabled by default in `golangci-lint`:
[code]

Enabling some of them (I've checked `errcheck` and `deadcode`) would require fixing outstanding issues.

Work here should be done incrementally, one-by-one.

/good-first-issue
/help-wanted

[2020-05-08 16:12] oxddr opened #1245 "Logic for measuring pod startup latency should be unified"
Currently there is similar logic implemented in two places: `clusterloader2` and `slo-monitor`. Both tools measure the same thing. I can imagine this logic to be either extracted to a shared library (IMO preferred) or make one tool depend on the another.

/area clusterloader
/area slo

[2020-05-10 18:02] bitcodr commented on #1244
@oxddr I'd like to work on it

[2020-05-11 08:53] mm4tt commented on #1112
Thanks, @oxddr!

[2020-05-11 10:28] oxddr commented on #1244
@bitcodr that's great to hear. I think the best way to proceed is to pick up one of the linters from above (e.g. `deadcode` of `errcheck`), enable it and fix all reported issue and send me a PR for a review.

[2020-05-11 11:04] oxddr commented on #1003
/close

The answer was to use recording rules for such queries.

[2020-05-11 11:04] #1003 closed

[2020-05-11 14:02] qckzr commented on #1163
@oxddr could you close this?, I already fixed it in #1203.

Thanks!

[2020-05-11 14:14] oxddr commented on #1163
/close

Thanks for your contributions!

[2020-05-11 14:14] #1163 closed

[2020-05-13 08:43] mm4tt opened #1248 "Potential segfault in runtimeobjects.GetNumObjectsMatchingSelector method"
It happened in one of our 1.16 tests, but the vulnerability is present in all release branches.

Stacktrace:
[code]

[2020-05-13 08:43] mm4tt commented on #1248
/assign

[2020-05-13 08:52] mm4tt commented on #1248
Sent https://github.com/kubernetes/perf-tests/pull/1249, once it gets in I'll cherypick it into older releases

[2020-05-14 09:23] mm4tt commented on #1248
/close

[2020-05-14 09:24] #1248 closed

[2020-05-14 14:24] wojtek-t opened #1259 "WaitForControlledPods is racy for deletions"
In WaitForControllerPods::gather method, we first determine what RV we should be synced to to ensure that all checkers are already registered:
https://github.com/kubernetes/perf-tests/blob/628c8a54ba8041bfa3231a89576e93f1a5be85b6/clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go#L181

However, if we delete an object, it's no longer in the list, we don't wait for it.
In extreme case

[2020-05-14 14:32] wojtek-t commented on #1259
Unfortunately, I don't see any immediate fix for it - the only "somewhat working" thing I see is tracking all deletions we do in CL2 and choosing RV from those. But it's not full solution, because something else may be deleting objects too (e.g. I delete Deployment, but wait for pods deletions for ReplicaSet).

[2020-05-14 19:41] wojtek-t commented on #1259
Actually, I figured out how to solve it.
https://github.com/kubernetes/perf-tests/pull/1260 is the fix and it contains a nice explanation how it works in the comment (inside the code) if someone is interesting.

[2020-05-15 18:42] wojtek-t commented on #1259
THe PR was reverted. From @mm4tt

[2020-05-15 18:50] wojtek-t commented on #1259
I looked into that run. What happened was:

1. DS was deleted:
[code]
2. All pods were deleted by 13:02:05
3. Last DS modification happened:
[code]
4.  We listed DS to check where we are 1m10s later
[code]

So the problem is connected to bookmarks as Matt mentioned.

Though it's not by bookmarks themselves, because bookmarks only contain RVs of resources of that type.
But what I missed when creati

[2020-05-15 19:46] wojtek-t commented on #1259
It's unfortunately not super simple to generically determine if object matches field-selector. I would like to avoid reinventing a bunch of machinery here...

[2020-05-16 14:34] wojtek-t commented on #1259
#1267 is the second attempt to fix it.

[2020-05-18 08:53] #1259 closed

[2020-05-18 15:23] #957 closed

[2020-05-20 15:17] mm4tt commented on #1066
Given the CI/CD kubemark tests are green - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100, I'm closing this.
Please re-open if needed

/close

[2020-05-20 15:17] #1066 closed

[2020-05-22 04:43] nicktming opened #1272 "divideFloat zero got unmarshaling JSON problem"
I noticed this issue is resolved in [#887](https://github.com/kubernetes/perf-tests/issues/887)

But this problem is still in the release-1.13 branch, since i am using k8s version 1.13.
should every k8s version use the master CL2 release or the corresponding version(k8s 1.13 uses CL2 release-1.13) ? and did perf-tests release branch keep consistent with k8s release branch ?

thx

[2020-05-25 12:01] wojtek-t commented on #1272
In general, you should be using branch corresponding to your k8s cluster.

That said, we started branching the repo relatively recently and the old branches aren't in the ideal shape. Over time, we should be getting to much better shape.

[2020-05-25 12:20] nicktming commented on #1272
thx

[2020-05-26 03:29] liu4480 opened #1273 "perfdash githubConfigDir err"
I ran perfdash:2.23 in the pod, it got following errors
./perfdash \
                --www \
                --address=0.0.0.0:8080 \
                --builds=20 \
                --force-builds \
                --githubConfigDir=https://api.github.com/repos/kubernetes/test-infra/contents/config/jobs/kubernetes/sig-scalability \
                --githubConfigDir=https://api.github.com/repos/kuber

[2020-05-26 03:34] liu4480 commented on #1273
So I 've two questions about perfdash:
1、could perfdash diaplay local clusterloader test?if can, how could perfdash got the test result from the case?
2、What Can I do to get the config files?

[2020-05-26 03:35] liu4480 commented on #1273
/perfdash

[2020-05-26 12:03] wojtek-t commented on #1014
/remove-lifecycle stale

[2020-05-27 12:47] wojtek-t opened #1275 "Support MasterAndNonDaemonSystemPods option in resource gathere"
Currently resource gathere supports three options: master, master and nodes, master and dns:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go#L39

We use master-and-dns option in large scale to avoid overloading CL2.

However, what we really want is to avoid scraping pods running on every node, but we would really ben

[2020-05-28 12:28] mm4tt opened #1285 "Perf-dash api-call-latency graphs seems to be broken for master jobs"
Example graph -
![TQOLneKPd3W](https://user-images.githubusercontent.com/2604887/83141123-6deb8180-a0ef-11ea-8541-19a1eefa7a05.png)

It looks similar for other resource/ver pairs

Other graphs (e.g. scheduler latency) look good

[2020-05-28 12:28] mm4tt commented on #1285
/assign @mborsz

[2020-05-28 12:30] tosi3k opened #1286 "Refactor API responsiveness tests which use klog"
Current implementation of logging tests relies too much on turning off logging to stderr by klog which is possible to be done using a hack as below:

[code]

Idea: introduce some Logger interface which will be easy to mock and will facilitate catching the log statements inside the unit tests.

[2020-05-28 13:20] mborsz commented on #1285
Link: http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness_Prometheus&Resource=pods&Scope=namespace&Subresource=&Verb=LIST&SlowCount=0

Sample zereoed test:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1265689704909508608/artifacts/APIResponsivenessPrometheus_density_2020-05-27T19:12:12Z.js

[2020-05-28 13:22] mborsz commented on #1285
http://perf-dash.k8s.io/buildsdata?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness_Prometheus

Data is there:
[code]

[2020-05-28 13:49] mborsz commented on #1285
New field has been added: SlowCount and perf-dash adds breakdown by that field (you need to chose whether you want to see timeline for SlowCount = X or Y), e.g.:

http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness_Prometheus&Resource=pods&Scope=namespace&Subresource=&Verb=LIST&SlowCount=20

http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes

[2020-05-29 07:55] mborsz commented on #1285
It works now:

http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness_Prometheus&Resource=pods&Scope=namespace&Subresource=&Verb=LIST

[2020-05-29 07:55] mborsz commented on #1285
/close

[2020-05-29 07:55] #1285 closed

[2020-05-29 08:13] mborsz opened #1290 "Mouse click on perf-dash graph stopped redirecting to test logs"
e.g. here:

http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness_Prometheus&Resource=pods&Scope=namespace&Subresource=&Verb=LIST

Click on any point used to redirect to test run logs, right now it redirects to url like:

[code]
/assign

[2020-05-29 08:16] mborsz commented on #1290
Relevant JS code:

https://github.com/kubernetes/perf-tests/blob/e7cea23c4f6b2a00b020c4bee36dd7c8c5983055/perfdash/www/script.js#L46-L52

and

https://github.com/kubernetes/perf-tests/blob/5d15f0f796e371284b47a1831a5d06b73afb6bc4/perfdash/perfdash.go#L121-L131

For some reason JS expects `storageUrl` while API returns `storageURL`.

[2020-05-29 08:16] mborsz commented on #1290
https://github.com/kubernetes/perf-tests/commit/5d15f0f796e371284b47a1831a5d06b73afb6bc4#diff-824455981b31a867d75ca77e17833a13L43 changes this

[2020-05-29 08:24] mborsz commented on #1290
https://github.com/kubernetes/perf-tests/pull/1291 fixes this

[2020-05-29 14:00] wojtek-t commented on #1275
Done.
And enabled in https://github.com/kubernetes/perf-tests/pull/1279

/close

[2020-05-29 14:00] #1275 closed

[2020-06-02 07:13] wojtek-t commented on #787
/remove-lifecycle stale

[2020-06-02 07:18] wojtek-t commented on #1099
/remove-lifecycle stale

@mm4tt - has this been finished?

[2020-06-02 07:18] wojtek-t commented on #1099
I know we migrated some things (like ClusterLoader), but the question is whether we upgraded all.

[2020-06-02 07:44] my1990 opened #1301 "error calling DivideInt: division by zero"
Press test according to the example, error is reported, execute the command：
 ./clusterloader --kubeconfig=/root/.kube/config  --alsologtostderr --provider=local --masterip=192.128.7.5 --master-internal-ip=192.128.7.5 --mastername=master --report-dir=result --testconfig=testing/density/config.yaml

ERROR INFO：
I0602 15:26:34.173546  231435 clusterloader.go:198] ------------------------------------

[2020-06-02 08:51] mm4tt commented on #1099
We haven't migrated all. There are some that we'll probably never migrate, like benchmark or compare tools. But, we should definitely migrate perf-dash as we're using (building) it a lot.

[2020-06-02 10:45] mm4tt commented on #1007
/remove-lifecycle stale

[2020-06-02 10:48] mm4tt commented on #1086
/remove-lifecycle stale

[2020-06-03 10:10] chendave opened #1307 "negative value found for throughput metrics"
run "node-throughput" clusterloader test, and the metric of "schedule_to_run“ got negative values in the report,

for example (I consistently saw this on ARM64),

[code]

Debug into the source, the latency is truly a negative value,
[code]

and this is the time got for the pod,

[code]

negative value for the schedule latency does not make sense to me, pls note, this is consistently found on ARM64

[2020-06-03 10:11] chendave commented on #1307
/assign

I am currently investigate this issue.

[2020-06-03 10:13] chendave commented on #1307
/cc @mm4tt @wojtek-t @oxddr

Do you have any comment, is that a known issue?

[2020-06-03 10:34] mm4tt commented on #1307
I haven't seen anything like that. Can it be caused by the clock skew? The `schedule to run` is computed as a difference between "pod started time", reported by kubelet on a "user" node inside the pod object and the "pod scheduled" event generated by scheduler on the master node. If there is a clock skew between master and node then a negative `schedule to run` is possible.

[2020-06-04 03:21] chendave commented on #1307
@mm4tt , it's not caused by clock skew, all the nodes are in the same timezone and synced well.

[2020-06-04 10:50] mm4tt commented on #1307
Could you reproduce and paste here:
1. Json/yaml of an affected pod
2. Scheduler event for "pod scheduled" for this pod, here is the code in cl2 that fetches it - https://github.com/mm4tt/perf-tests/blob/7db196a328d0483f5dbc293997e422f177e4be2d/clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go#L179, you can do it via kubetctl

[2020-06-05 10:35] chendave commented on #1307
I print out all those time in a readable format, take some of them as an example, pls note these time is not from the same pod, but enough to see the where is the issue.
[code]
You can see both "run" and "create" miss the parts of microsecond and nanosecond, when it comes to the calculation, `schedule_to_run` will lead to
```2020-06-04 16:58:55 +0800 CST - 2020-06-04 16:58:55.849727556 +0800 CST``

[2020-06-05 11:04] chendave commented on #1307
I think all the pod has the issues,  one for example,
[code]

[2020-06-05 12:02] wojtek-t opened #1311 "Eliminate latency phase from density test"
PodStartup from SaturationPhase signiifcantly dropped recently:

![Screenshot from 2020-06-05 13-58-57](https://user-images.githubusercontent.com/10743879/83873843-d01e3500-a734-11ea-9d6a-1c62b8977f5b.png)

This seem to be the diff between those two runs:
https://github.com/kubernetes/kubernetes/compare/bded41a81...1700acb03

We should understand why that happened, as if this is expected (not a bu

[2020-06-05 12:06] wojtek-t commented on #1311
Nothing interesting happened neither in test-infra nor in perf-tests repo at that time...

[2020-06-05 12:24] mm4tt commented on #1311
Interesting. Looks like we **had** a similar drop in load test pod startup, but it got back to normal after a few runs and it completely doesn't coincide in time:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=LoadPodStartup&Metric=pod_startup
![5L9Y6Eh6jaZ](https://user-images.githubusercontent.com/2604887/83875775-00b39e00-a738-11ea-865e-d01f4312e8eb.png)

Str

[2020-06-07 04:17] chendave commented on #1307
see:
https://github.com/kubernetes/kubernetes/issues/15262
https://github.com/kubernetes/kubernetes/pull/15263/

and the code here,

https://github.com/kubernetes/kubernetes/blob/22de8fc321386277565aabc35dfc45bf371a7be7/pkg/kubelet/status/status_manager.go#L668-L675

[2020-06-07 04:17] chendave commented on #1307
this is done purposely, we need to consider to workaround the issue, at least make it not a negative value.

[2020-06-07 04:18] chendave commented on #1307
@mm4tt

[2020-06-08 06:58] chendave commented on #1307
Do we have any other way to get the the finer granularity timestamp with nanosecond? this currently impact the time of "create" and "run".

[2020-06-08 08:58] mm4tt commented on #1307
Just to confirm, it has been like that for some time, it's nothing new, right?
If so, then I think the only thing we can do is to change clusterloader2 code to export 0 if a computed value is negative. Could you send a PR to do that?
Unfortunately, I don't know of any way to get finer timestamps. I'm aware that the method of calculating pod startup latency is subject to an error, but given that po

[2020-06-08 09:07] chendave commented on #1307
yes, and I think it's not easy to convince apiserver and kubelet to change the current code logic to solve the issue like this.

In my testing, more than 90% pods are affected, I tend to agree with you on this since I don't have a better way to fix it, will push a PR soon and cc you then.

[2020-06-08 09:33] chendave commented on #1307
Btw, I don't know exactly the reason, this happened in my testing on X86, `EventTime` maybe null and clusterloader2 will get fetch `firstTimestamp`, which don't have nanosecond as well, so the "schedule_to_run" will get all the result with "0" since both the "schedule" and "run" has discarded the precision which is less than second.

[code]

and as a comparsion
[code]

[code]

[2020-06-08 09:40] chendave commented on #1307
this is what I get on X86,
[code]

with the suggested change, I feel likely the result will be looks like this on my ARM64 as well.

[2020-06-08 10:54] wojtek-t commented on #1307
It's probably a matter of what k8s release we're using.

The FirstTimestamp is set using the old events API, the EventTime is used when using new Events API. Scheduler switched to use the new one IIRC in 1.16.

[2020-06-09 07:02] pytimer opened #1318 "Clusterloader2 node-exporter can not work in local cluster without gcloud"
`clusterloader2` use `gcloud compute ssh` to deploy node-exporter on kubemark masters when `--prometheus-scrape-node-exporter` is enabled. But in my local Kubernetes cluster, the `gcloud` command not found, so this `--prometheus-scrape-node-exporter` flags not works.

I hope use `DaemonSet` instead of static pod, because of it can deploy node-exporter in any Kubernetes environment. If this proposa

[2020-06-09 07:39] pytimer commented on #1129
@karim-manaouil  Does kube-apiserver listen on 443 port? I use `kubeadm` create Kubernetes cluster, and i update the master serviceMonitor endpoint, because the default kube-apiserver listen on 6443. You can check your master endpoint. `kubectl get servicemonitor -n monitoring master`.

[2020-06-09 08:35] #1307 closed

[2020-06-10 11:49] wojtek-t opened #1319 "Force delete pods on timeout in WaitForControlledPodsRunning"
If the node is broken (e.g. kubelet can't connect to apiserver or the node itself is hard-down or sth), controllers are not able to delete the pods (because the deletion is happening as a result of kubelet confirming that).

In order to prevent this from completely failing our tests, when WaitForControlledPodsRunning on deletion is failing with timeout, we should fail the test as we do now, but al

[2020-06-16 18:27] ZhiFeng1993 commented on #1319
Hi. I'm interested in working on this. @wojtek-t  do you mind adding more details? Like which test this is? Thanks!

[2020-06-18 14:33] #1059 closed

[2020-06-19 18:55] wojtek-t commented on #561
/remove-lifecycle rotten

[2020-06-19 21:19] wfernandes commented on #1244
Hey @bitcodr Are you perhaps still working on this? If so feel free to `/assign` this issue. Thanks.

[2020-06-23 10:31] vamossagar12 opened #1343 "Understand the semantics of ssh client in case the command fails"
While working on : https://github.com/kubernetes/perf-tests/issues/1096 , the code tries to access the /healthz end point SSHing into the a master node:

https://github.com/kubernetes/perf-tests/blob/d26909c93aaa6b601a853cc206928d36434f54d3/clusterloader2/pkg/measurement/common/api_availability_measurement.go#L62

The semantics that we need to understand is what happens if the command fails intern

[2020-06-24 08:16] wojtek-t commented on #238
This is being addressed as we speak: https://github.com/kubernetes/perf-tests/pull/1344

[2020-06-24 19:16] satishbellapu commented on #1244
/assign

[2020-06-24 19:32] satishbellapu commented on #1244
/assign

[2020-06-25 06:12] wojtek-t commented on #1244
Adding gofmt would be especially useful.

[2020-06-25 17:47] wojtek-t commented on #1137
Closing as duplicte of https://github.com/kubernetes/perf-tests/issues/238

[2020-06-25 17:47] #1137 closed

[2020-06-27 08:48] satishbellapu commented on #1244
@oxddr  Cleared errors for few of the modules, need some help on "clusterloader2" on few errors,

ERRO Running error: deadcode: analysis skipped: errors in package: [.../perf-tests/clusterloader2/pkg/chaos/nodes.go:109:52: cannot use k.client (variable of type kubernetes.Interface) as kubernetes.Interface value in argument to util.GetSchedulableUntainedNodes: wrong type for method Admissionregistr

[2020-06-28 18:36] wojtek-t commented on #1244
@satishbellapu - this looks strange.
But let's work iteratively on it. Feel free to send a PR that is fixing just some of the errors.
And then the pattern should be:
- extend the presubmit to check gofmt, but make it not fail the test (just informative)
- we will be working on fixing it while having it running
- once we fix everything, we will make it blocking

[2020-06-29 07:32] jkaniuk commented on #1005
/remove-lifecycle stale

[2020-06-30 08:10] wojtek-t commented on #595
/remove-lifecycle stale

[2020-06-30 09:04] wojtek-t commented on #803
/remove-lifecycle stale
/lifecycle frozen

[2020-06-30 12:36] vamossagar12 commented on #1343
@wojtek-t I did some more experiments on this and also posted a question on #kubernetes-dev slack channel. the response i got is more or less in line with what I had found previously:

[code]

1 suggestion was to use -f option with curl. The man page mentions the following:

[code]

I tested by throwing 500 error and accessing an invalid url in a web server running in a pod. on both occasions the

[2020-06-30 21:08] Catramen opened #1361 "deprecated KubemarkRootKubeConfigPath"
We should use a more general way to config providers

[2020-07-01 06:54] wojtek-t commented on #1092
/remove-lifecycle rotten

@jkaniuk @mm4tt - FTR

[2020-07-06 05:59] pytimer opened #1371 "Clusterloader2: etcd disk backend commit metrics histogram query syntax wrong in the master dashboard"
Run `clusterloader2` and autocreate grafana dashboard, but i found the `etcd_disk_backend_commit_duration_seconds` metrics query syntax is wrong in the master dashboard, the `etcd_disk_backend_commit_duration_seconds` metrics like below from etcd metrics url:

[code]

But in the clusterloader2 dashboard, the histogram query is `histogram_quantile(0.99, sum(rate(etcd_disk_backend_commit_duration_se

[2020-07-06 07:37] mm4tt commented on #1096
/remove-lifecycle stale

[2020-07-06 08:21] mm4tt commented on #1273
1. Technically you could, but it's not officially supported nor documented anywhere. Perfdash is a tool for displaying results from CI tests, it's not really meant to display local results
2. Given that it's second time someone got this error, could you please change this line - https://github.com/kubernetes/perf-tests/blob/5d15f0f796e371284b47a1831a5d06b73afb6bc4/perfdash/github-configs-fetcher.g

[2020-07-06 08:21] mm4tt commented on #1273
/reopen

[2020-07-06 08:33] mm4tt commented on #1110
/remove-lifecycle rotten
We're still working on that

[2020-07-09 16:31] mirahmed753 commented on #1273
Setting a Github Token solved this issue for me which makes me think it's related to rate limiting from the github API. There's a PR that deals with this on #1374

[2020-07-13 09:22] mm4tt opened #1384 "Cut release-1.19 branch"
The k/k branch has been created, we should create a similar one for perf-tests repo

[2020-07-13 09:23] mm4tt commented on #1384
/assign @wojtek-t

[2020-07-15 05:59] vamossagar12 commented on #787
hey @oxddr the PR that I talked about got merged a couple of months ago. Do you think we can get started with this?

[2020-07-15 06:01] vamossagar12 commented on #794
hey @wojtek-t do you think i can get started with the config changes?

[2020-07-16 06:21] ahmadalli opened #1388 "[netperf] sctp testing breaks testing in clusters without sctp support"
I had to revert #1153 in order to make it work

[2020-07-17 12:05] dddddai opened #1395 "Should they use RWMutex?"
Should they use RWMutex instead of Mutex to avoid the contention between readings?

https://github.com/kubernetes/perf-tests/blob/95e5a1ca466ca871b2b9f7b7fb43309273f8933b/clusterloader2/pkg/measurement/util/phase_latency.go#L63-L85

https://github.com/kubernetes/perf-tests/blob/9790f58705ddfac0225ee18e07eca7d66475d2e1/clusterloader2/pkg/errors/error_list.go#L37-L42

https://github.com/kubernetes/p

[2020-07-20 06:06] wojtek-t commented on #617
/remove-lifecycle stale

[2020-07-20 06:07] wojtek-t commented on #866
/remove-lifecycle stale

[2020-07-20 08:47] jprzychodzen opened #1397 "Perf-dash shows mixed results when job name migrates between versions"
When new K8s release is prepared, job names are moved between versions. For example ci-kubernetes-e2e-gci-gce-scalability-stable1 used to target 1.17, but after [commit to test-infra](https://github.com/kubernetes/test-infra/commit/f5071b0122aaefd609b0c4e57c9d2d4d333ced17#diff-4fb545d5eb6d688bd8e53a2e6d32836aR278_) this job name targets 1.18.

![117118regression](https://user-images.githubusercont

[2020-07-20 09:04] wojtek-t commented on #1384
Done.

Opening a revert of the PR above.

[2020-07-20 09:04] #1384 closed

[2020-07-20 14:15] wojtek-t commented on #1395
RWMutex makes sense in places where there are many more reads than writes.
In all places above, we don't really suffer from contention, so changing it doesn't make much sense (given RWMutex is a bit more expensive than regular Mutex).

In general - we shouldn't be changing those unless there is clear reason for it confirmed with a real-life benchmark. It's not the case here.

[2020-07-20 14:15] #1395 closed

[2020-07-21 05:57] #1371 closed

[2020-07-21 08:56] wojtek-t commented on #1343
Thanks for digging into it - it's really useful.

[2020-07-21 08:56] wojtek-t commented on #604
/remove-lifecycle stale

[2020-07-21 08:57] wojtek-t commented on #604
@shyamjvs - will you or someone on your side be able to help with it? We are periodically facing vulnerabilities with debian image and it would be good to finally get rid of it.

[2020-07-21 09:02] wojtek-t commented on #787
@vamossagar12 - yes, we can start with it now. The goal is to have a single SLI measurement that will initialize all our existing SLIs (it's fine to start with merging the first two, e.g. networking programming SLI and dns-programming SLI as a starting point)

[2020-07-21 09:04] wojtek-t commented on #794
@vamossagar12 - yes, let's do the config change now

[2020-07-21 12:16] vamossagar12 commented on #787
Thanks @wojtek-t , let me start by looking at the SLIs and come up with a small description of changes here  before I proceed with the implementation.

[2020-07-21 12:22] vamossagar12 commented on #794
sure. I will pick one and start running...

[2020-07-22 23:03] Catramen opened #1399 "Avoid provider specific logics out of provider package"
PR  #1344 is trying to consolidate all the provider related code into one packge.

The goal is to make it easy to develop new providers and easy to develop new features for existing providers.

We should avoid these:
if config.CloudProvider != "kubemark"
InKubemark:                        strings.ToLower(provider.Name()) == "kubemark",

And prefer this:
if provider. Features().SupportXXXX {
}

[2020-07-24 18:32] #1077 closed

[2020-07-26 12:33] vamossagar12 commented on #1343
Closing this issue.

[2020-07-26 12:33] #1343 closed

[2020-07-26 12:49] vamossagar12 commented on #794
hi @wojtek-t , I thought I will start with the config changes. Any config files that you think I can change so that it can get tested ? I remember I used to do local testing with a config file that I have lost now but should be easy to rewrite. Wanted to know from a general rule stand point, how do you guys go about testing such things?

[2020-07-27 11:12] wojtek-t commented on #794
We pretty much need to change load test config, which will be automatically tested via presubmit.

[2020-07-27 12:58] wojtek-t commented on #986
This has been enabled and rolled out.

/close

[2020-07-27 12:59] #986 closed

[2020-07-27 20:25] #980 closed

[2020-07-28 01:49] #1085 closed

[2020-07-28 08:25] wojtek-t opened #1406 "APIPrometheusReponsiveness returns incorrect values for SlowCount"
This is the example:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1287819459200815104

[code]

However, clearly there aren't 11 slow call. Looking into kube-apiserver logs:
[code]

So clearly there are only 4 slow calls.

We should understand and fix why more are reported [this may contribute to higher flakiness of our jobs than it should be].

@mm4tt

[2020-07-30 07:26] vamossagar12 commented on #794
@wojtek-t , I have created a PR https://github.com/kubernetes/perf-tests/pull/1407 with updated configs for the load test config.

[2020-08-03 06:51] WangEP commented on #251
If you use kubeadm to build the cluster, the metric port may not 2379. In my machine, it's 2381. you can use  ps aux | grep -P '/etc[d] ' to get in detail( pay attention to the --listen-metrics-urls=)

[2020-08-03 10:20] wojtek-t commented on #887
/remove-lifecycle stale

[2020-08-04 08:05] wojtek-t commented on #1024
/remove-lifecycle stale

[2020-08-04 11:46] wojtek-t commented on #1028
/remove-lifecycle stale

[2020-08-04 11:46] wojtek-t commented on #1027
/remove-lifecycle stale

[2020-08-06 09:31] RafalKorepta commented on #803
/assign

[2020-08-06 17:37] wojtek-t commented on #1245
/remove-lifecycle stale

In addition, we should fix the logic so that it matches the SLI/SLO definition:
https://github.com/kubernetes/community/blob/master/sig-scalability/slos/pod_startup_latency.md

[2020-08-07 14:43] vamossagar12 commented on #787
hi @wojtek-t , I got the chance to look at the code today. My earlier thought was to reuse the measurement_executor that was developed : https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/measurement_executor.go

But, looking at the comments here again, it makes sense to have a new measurement.

So, in the config yamls, users don't need to specify any individual SL

[2020-08-10 07:47] wojtek-t commented on #787
Yes - this is exactly the goal. I would call it SLO, but that's a naming we can figure out later.

Ideally, our default will be smart enough that we won't need all those params, but that's again can be addressed independently.

[2020-08-10 08:27] mm4tt opened #1410 "[clusterloader2] [monitoring] The grafana dashboards should have the "nullPointMode" set to "null" instead of connected"
Currently, all pre-configured grafana dashboards use the default value of the `nullPointMode` setting, which is `connected`. Connected is not a good choice, sometimes it's very misleading and hides critical moments when api-server was not available. We should use the `null` setting instead.

1. The dashboards are located in https://github.com/kubernetes/perf-tests/tree/master/clusterloader2/pkg/pr

[2020-08-10 08:42] Evalle commented on #1410
Hey @mm4tt I can take care of it.
/assign

[2020-08-13 12:03] Evalle commented on #1410
Got sidetracked by other stuff, feel free to assign this issue.
/unassign

[2020-08-14 16:51] ahg-g opened #1414 "kubemark benchmarks for affinity and pod spread workloads"
**What would you like to be added**:
Add kubemark benchmarks to test scheduler's affinity and pod spread performance.

We can replicate the tests we have in the integration benchmark:

- [SchedulingPreferredPodAffinity]( https://github.com/kubernetes/kubernetes/blob/3b5aedcef43fa01538518ecbc7de369b27ecd191/test/integration/scheduler_perf/config/performance-config.yaml#L128)

- [SchedulingPreferred

[2020-08-14 16:52] adtac commented on #1414
/assign

[2020-08-17 13:21] vamossagar12 commented on #1096
@wojtek-t The PR got merged. I guess the next task would be to write the config files? Any specific areas for me to start looking at for that?

[2020-08-18 11:45] mm4tt commented on #1410
Done in https://github.com/kubernetes/perf-tests/pull/1415

/close

[2020-08-18 11:45] #1410 closed

[2020-08-24 02:38] #1272 closed

[2020-08-24 07:33] #1406 closed

[2020-08-24 09:03] zackzhangkai opened #1421 "how to set the namespace?"
[code]

config

[code]

[code]
 **the error is because of namespaces is 0，how to set this value?**

[code]

[2020-08-24 09:11] mm4tt commented on #1421
Changing the
[code]

to
[code]

should do the trick

[2020-08-24 12:37] wojtek-t commented on #1014
/remove-lifecycle stale

[2020-08-24 13:14] zackzhangkai commented on #1421
Thanks a lot, it does work.

[2020-08-24 13:14] #1421 closed

[2020-08-25 23:12] kushthedude commented on #1244
Hey @wojtek-t, I would like to take a dig at it!

[2020-08-26 06:06] wojtek-t commented on #1244
I didn't see any actions from @satishbellapu for last month, so it seems fine.

[2020-08-26 06:09] kushthedude commented on #1244
/assign

[2020-08-27 00:29] #1139 closed

[2020-08-27 08:44] mm4tt commented on #1290
This has been fixed, we can close the issue

/close

[2020-08-27 08:44] #1290 closed

[2020-08-27 16:59] adtac opened #1438 "perf-dash: remove average from graphs when the data doesn't have averages"
http://perf-dash.k8s.io/#/?jobname=kubemark-100Nodes&metriccategoryname=Scheduler&metricname=SchedulingThroughput

![Screenshot_2020-08-27 Screenshot](https://user-images.githubusercontent.com/7521600/91472163-116e3e80-e865-11ea-9605-033a29aaa790.png)

[2020-08-27 16:59] adtac commented on #1438
/assign

[2020-08-28 08:35] mm4tt commented on #1438
It's not 0, we just stopped exporting it in https://github.com/kubernetes/perf-tests/pull/1093 as it was pointless (it didn't really work)

The only thing to do is to remove the "Avg" from perf-dash as it's not exported anymore by CL2

[2020-08-31 06:35] wojtek-t commented on #794
This seem to be fixed now - we can cleanup other instances when spotted now.

[2020-08-31 06:35] #794 closed

[2020-08-31 07:29] wojtek-t commented on #1286
/remove-lifecycle stale
/lifecycle frozen

[2020-08-31 09:20] wojtek-t commented on #1099
/remove-lifecycle stale
/lifecycle frozen

[2020-08-31 11:15] wojtek-t commented on #1007
/remove-lifecycle stale

[2020-08-31 11:54] wojtek-t commented on #1086
/remove-lifecycle stale
/lifecycle frozen

[2020-09-01 04:57] kushthedude opened #1444 "Readme.md: remove Travis-CI badge"
The repository is not using Travis CI for its continuous integration rather we are using Prow CI.
It should be better to remove the failing badge from the Readme file.

[2020-09-01 04:57] kushthedude commented on #1444
/assign

[2020-09-01 05:03] kushthedude commented on #1099
@mm4tt @wojtek-t I would like to take stab at it.
/assign

[2020-09-01 06:11] #1444 closed

[2020-09-01 06:15] wojtek-t commented on #1099
Note that it's partially done already - most of dirs are already migrated. There are one or two remaining IIRC.

[2020-09-01 07:34] kushthedude commented on #1244
Errcheck has been added, Deadcode linter on the way!

[2020-09-01 08:44] kushthedude commented on #1244
Hi @wojtek-t with https://github.com/kubernetes/perf-tests/pull/1448, we will have six outstanding linters running with golangci-lint. Apart from them I would like to suggest staticcheck & goimport to be enabled, what do you suggest do we need them or we are fine without them?

[2020-09-01 09:33] wojtek-t commented on #1244
I think we're fine without them (at least now). We can add them later...

[2020-09-02 09:26] mm4tt commented on #1057
/remove-lifecycle rotten
/good-first-issue

[2020-09-03 12:25] wojtek-t commented on #1311
/remove-lifecycle stale

[2020-09-05 19:53] kushthedude opened #1455 "Add Issue Templates & PR Templates"
**Description**
Add Issue Templates & PR Templates for better triage purposes as has been done in many Kubernetes repositories.

/cc @wojtek-t

[2020-09-05 19:55] kushthedude commented on #1455
/kind documentation

[2020-09-05 19:58] kushthedude commented on #1243
/remove-lifecycle stale

[2020-09-05 19:58] kushthedude commented on #1243
/remove-lifecycle rotten

[2020-09-05 19:59] kushthedude commented on #1243
Hey, @oxddr I would like to work on this, can you give me more context do we need this as a pre-commit hook or a ci job?

[2020-09-07 07:03] #1455 closed

[2020-09-07 11:01] mm4tt opened #1458 "Migrate dns benchmarks to python3"
Python2 has been deprecated, yet we still use it in some of our benchmarks.
In https://github.com/kubernetes/perf-tests/pull/1457, we needed to pin python/pip version to python2/pip2 to fix failing tests.
As a follow up we should migrate those tests to use python3.

/kind cleanup
/good-first-issue

[2020-09-08 06:08] vamossagar12 commented on #1458
hey @mm4tt I can take it up.. I have started working on https://github.com/kubernetes/perf-tests/issues/787#issuecomment-671210865 which is related to SLIs which looks at DNS related benchmarks. Do you think they are related?

[2020-09-08 06:09] wojtek-t commented on #1458
They are not related at all.

[2020-09-08 06:11] vamossagar12 commented on #1458
Oh ok :) either ways, if there aren't any takers, i can take it up.

[2020-09-08 07:50] mm4tt commented on #1458
This is great, thanks!

[2020-09-08 09:51] vamossagar12 commented on #1458
/assign

[2020-09-08 11:49] vamossagar12 commented on #787
@wojtek-t @oxddr i have a question this. while going through the code, i found that there's already a measurement called probes which inhouses the dns lookup measurement and network latency. But, the difference is, it creates those measurements and then each one of them is executed as a separate measurement- which is what needs to be avoided.
In the new implementation, once the measurement has bee

[2020-09-08 11:52] wojtek-t commented on #787
You should NOT touch any of the existing measurements at all.

What you should do is to create a NEW measurement, that for each action, it will call an appropriate action on all underlying measurements. We should probably start only with the APIResponsiveness, and add new measurements over time.

[2020-09-08 12:05] vamossagar12 commented on #787
Ok may be I wasn't clear enough but I didn't mean to touch any of the existing measurements. What I meant was, in the new measurement, do i invoke the prometheus query to get the network latency/dns lookup metrics repeatedly or do i do it only once in the gather phase.

[2020-09-08 12:11] wojtek-t commented on #787
You rely on the underlying measurements and whatever they are currently doing.

[2020-09-08 14:16] vamossagar12 commented on #787
Yeah that's what i had thought of doing as well, but the thing is dns lookup and network latency measurements are being created within the probes measurement:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/probes/probes.go#L64-L71

So, they don't have any explicit definitions like other measurements.

[2020-09-08 18:29] wojtek-t commented on #787
This is only registration - it doesn't matter for the purpose of it.

[2020-09-09 21:21] adtac opened #1462 "kubemark: benchmark optimize-utilization scheduler profile"
**What would you like to be added**: Add kubemark benchmark to benchmark performance of the scheduler under the optimize-utilization profile (otherwise vanilla pod specs).

**Why is this needed**: We want to measure the latencies of relevant extension points (such as scoring) with the optimize-utilization profile in comparison to the default scheduler to quantify improvement.

/sig scheduling
/ass

[2020-09-09 21:30] adtac commented on #1462
/close

[2020-09-09 21:30] #1462 closed

[2020-09-11 15:34] adtac opened #1465 "categorise scheduler framework extension point latencies by plugin"
**What would you like to be added**: The `plugin_execution_duration_seconds` metric samples plugin latency and also categorises data by extension point. This issue proposes labelling scheduler metrics data in perf-dash using this metric.

**Why is this needed**: While it discards some data, per-plugin latency could be very useful to determine which plugins are running in which workloads. I propose

[2020-09-11 18:30] adtac commented on #1465
/area clusterloader
/area perf-dash

[2020-09-12 17:17] vamossagar12 commented on #787
@wojtek-t , i looked at it further. One problem that I am currently facing is, how to invoke the relevant methods of underlying measurements from the uber SLI Measurement. One approach which I had followed in the implementation of Wrapper measurements is that I could find the relevant measurement using the measurementManager object being passed here:

https://github.com/kubernetes/perf-tests/blob/

[2020-09-14 03:06] vamossagar12 commented on #1458
@mm4tt I think the issue is that while the pip install command installed numpy version numpy-1.19.1 which works exclusively on python 3, the python scripts are still running on python2. This is evident from the logs on the test that had failed:
[code]

[2020-09-14 10:54] mm4tt commented on #1458
This is the test we want to run - https://github.com/kubernetes/test-infra/blob/7bf5e377a57c206f4a06088988ba9eb86198c816/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L466
Currently, it's run only continuously, there is no presubmit for it.

We should start with adding a presubmit test (basically copy-paste-edit the test into the presubmit-jobs.yaml file). Once we have

[2020-09-14 11:17] wojtek-t commented on #787
You're trying to do that dynamically, which is not the goal. Just hardcode.

[2020-09-14 15:04] vamossagar12 commented on #1458
Thanks @mm4tt , when you say presumt-jobs.yaml, you mean this one here:
https://github.com/kubernetes/test-infra/blob/7bf5e377a57c206f4a06088988ba9eb86198c816/config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml

So, I will need to send a pr to test-infra as well with this new test also configured?

[2020-09-14 17:47] vamossagar12 commented on #787
Ok. I can hardcode it, I don't think that's a problem. But my original problem is still the same, how do I get the measurementInstance object of the underlying measurements from the Combined SLI measurement. I don't see any other way of doing what you mentioned above:

**What you should do is to create a NEW measurement, that for each action, it will call an appropriate action on all underlying me

[2020-09-14 23:58] weiling61 opened #1468 "Pod Start Latency Measure Accuracy Problem"
When I test pod startup latency, I found that cluster loader uses "pod.CreationTimestamp.Time" as createPhase timestamp.
Standard k8s api only returns Pod creationTimeStamp with a precision in second --- all nano second contents are set to 000000. My question is: without nano second content in timestamp, does Pod startup latency make any sense?

[2020-09-15 05:57] wojtek-t commented on #1319
/remove-lifecycle stale

[2020-09-15 06:20] wojtek-t commented on #787
You don't need to obtain anything - the new measurement can create its own instances of the measurements.

[2020-09-15 07:08] wojtek-t commented on #1468
Is it accurate - it isn't.
Does it make sense - yes - it makes sense. The diference from real is <1s, which isn't perfect, but gives a strong signal.

/cc @mm4tt

[2020-09-15 07:30] mm4tt opened #1469 "pull-perf-tests-verify-lint fails (almost) consistently due to timeouts"
![7HaMwVy9xQvWMhy](https://user-images.githubusercontent.com/2604887/93179527-1290de00-f736-11ea-8f25-b77e0eac1624.png)

Example PR with failure - https://github.com/kubernetes/perf-tests/pull/1464
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/perf-tests/1464/pull-perf-tests-verify-lint/1305501029361520640

[2020-09-15 07:30] mm4tt commented on #1469
/assign @mborsz

[2020-09-15 07:31] mm4tt commented on #1469
Assigning to the current scalability oncall

[2020-09-15 08:14] mm4tt commented on #1468
Yeah, also see this - https://github.com/kubernetes/perf-tests/issues/1307

[2020-09-15 08:15] mm4tt commented on #1458
Yes and yes :)

[2020-09-15 11:03] vamossagar12 commented on #1458
@mm4tt created a pre submit job for kube dns. PR: https://github.com/kubernetes/test-infra/pull/19217

[2020-09-15 11:53] vamossagar12 commented on #1458
Created another PR for actual migration from python2 to python3: https://github.com/kubernetes/perf-tests/pull/1470
Note that I haven't changed the shebang lines at the starting of the python files, just to see what kind of failures do we get.

[2020-09-15 18:31] weiling61 commented on #1468
Thanks @mm4tt and @wojtek-t for the pointers. The pod latency data has its limitation. But for now it seems nothing we can do at cluster loader side.

[2020-09-15 18:31] #1468 closed

[2020-09-16 11:01] tosi3k commented on #1469
Strange, the only recent change I noticed related to that job is https://github.com/kubernetes/test-infra/pull/19120 where we set the explicit resource requests and limits. It was submitted on the day we started experiencing consistent failures due to those timeouts (September 9th).

There were also changes to the `.golangci.yml` configuration file in https://github.com/kubernetes/perf-tests/pull/

[2020-09-16 11:27] mm4tt commented on #1469
Dunno, we can try bumping the resource (or timeout) to see if it helps? Would you mind sending a PR?

[2020-09-16 13:07] kushthedude commented on #1469
That is odd as generally the lint job completes under <10 min and golangci-lint doesn't need much overhead, seeing from the above failures the job ran for 42 minutes and then timed out.

[2020-09-16 14:30] tosi3k commented on #1469
Bumping up from 1 to 2 CPUs has lowered the job execution time from 42 mins to almost 9 ([link](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/perf-tests/1473/pull-perf-tests-verify-lint/1306234458470354944)), so indeed the CPU was the issue here. We can either further increase the CPU limit for the job (local executions of `make verify-lint` have shown me the peak CPU usage of 3.5) o

[2020-09-16 14:32] mm4tt commented on #1469
Leaving 2vCPUs and increasing the timeout makes sense, thanks!

[2020-09-16 14:36] tosi3k commented on #1469
/assign @tosi3k

[2020-09-16 15:11] #1469 closed

[2020-09-18 19:07] #1414 closed

[2020-09-21 11:17] wojtek-t commented on #1438
@adtac @mm4tt - hasn't this been addressed in the meantime?

[2020-09-21 11:18] wojtek-t commented on #1399
This has been addressed in the meantime. We can file a more dedicated issues for specific changes if needed in the future.

[2020-09-21 11:18] #1399 closed

[2020-09-21 11:20] wojtek-t commented on #1007
@mborsz @marseel

[2020-09-21 11:22] wojtek-t commented on #787
/assign @vamossagar12

The initial PR to address it it #1479

[2020-09-21 11:43] tosi3k opened #1481 "Failing pull-perf-tests-verify-{all,lint} presubmit jobs"
**Which jobs are failing**:
pull-perf-tests-verify-lint
pull-perf-tests-verify-all

**Since when has it been failing**:
Sep 18: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-perf-tests-verify-all

**Reason for failure**:
`slo-monitor` vendors old Prometheus package which leverages `goautoneg` package hosted at bitbucket.org using Mercurial which was recently removed

[2020-09-21 13:23] adtac commented on #1438
@wojtek-t I'm not aware of a fix, the average data point is still being shown in perf-dash. I'll edit the title to reflect the issue more accurately.

[2020-09-21 13:24] adtac commented on #1438
Unassigning myself as I don't think I'll realistically be able to work on this in the near future.

/unassign

[2020-09-21 14:38] #1481 closed

[2020-09-22 13:03] Dingshujie opened #1487 "ClusterLoader2: podStartupLatency may not correct"
**What happened**:
now CL2 use pod binding eventTime as pod scheduled timestamp, and use pod container status startAt as pod running timestamp，see following two graph,  and we see that running time is early than schedule time, because of event time use metav1.MicroTime(use RFC3339Micro), and startAt use metav1.Time(use time.RFC3339), it influence performace test results.

![image](https://user-ima

[2020-09-22 14:57] adtac opened #1488 "kubemark-100Nodes-scheduler: perfdash graph zero for pod-anti-affinity"
**What happened**:

1. perfdash graphs for pod-anti-affinity are now zero for some reason: http://perf-dash.k8s.io/#/?jobname=kubemark-100Nodes-scheduler&metriccategoryname=Scheduler&metricname=SchedulingThroughput&TestName=pod-anti-affinity
2. at the same time the graph went to zero, pod-affinity became non-zero: http://perf-dash.k8s.io/#/?jobname=kubemark-100Nodes-scheduler&metriccategoryname=Sc

[2020-09-23 06:15] wojtek-t commented on #1487
See: https://github.com/kubernetes/perf-tests/issues/1468

[2020-09-23 14:03] wojtek-t opened #1489 "Don't run access-tokens test as part of presubmits"
Access-tokens is really targeted test that didn't yet discover any problem.
While it's reasonable to leave it in continuous testing (at least for now), there is not much sense in running it as part of presubmit, as it slows down the presubmit (it's often the slowest presubmit in k/k).

@jprzychodzen @mborsz @tosi3k

[2020-09-23 14:04] wojtek-t commented on #1489
@mborsz @marseel - when you will be switching density+load test it might make sense to make it together (this would allow us to still run both density and load for the time of transition, at least at 100 scale without increasing time the whole test takes).

[2020-09-25 12:43] jprzychodzen commented on #1489
Numbers to get the context
 *  access tokens test (with running cluster) ~ 8 minutes.
 *  creating pods/tokens/service accounts (without pods ready) ~ 30 seconds
 *  waiting for pods to be ready ~ 1 minute

I remember that initially we wanted to include access tokens test into load test, to cover additional dimensions, after enough soak time.

If merged: 'Wait for controlled pods running' could be

[2020-09-25 12:47] mborsz commented on #1489
@jprzychodzen , I think Wojtek is recommending removing access tokens completely from presubmit to save all ~10m it takes, not merging it into density test.

[2020-09-25 12:48] jprzychodzen commented on #1489
Yes, I was asking about removing vs merging.

[2020-09-25 13:00] wojtek-t commented on #1489
Yes - I'm saying:
- the test takes 8m
- it never caught any issue

So if we catch the problem in postubmit (which is running continuously anyway) - so ~1-2hours later it's good enough.
So I think there is no point in running it in presubmit.

[2020-09-28 05:53] wojtek-t commented on #1005
/remove-lifecycle stale
/lifecycle frozen

[2020-09-29 05:44] wojtek-t commented on #1361
/remove-lifecycle stale
/lifecycle frozen

[2020-09-29 05:48] wojtek-t opened #1500 "Define and implement scheduling latency SLO"
@ahg-g - if you can provide more details based on our internal work

[2020-09-29 07:33] wojtek-t commented on #1092
/remove-lifecycle stale

[2020-09-29 10:35] #1489 closed

[2020-10-02 12:09] vamossagar12 commented on #1319
@wojtek-t i can take this one up.
/assign

[2020-10-02 12:14] vamossagar12 commented on #1500
@wojtek-t is this something that I can pick up?

[2020-10-02 12:25] ahg-g commented on #1500
I will provide some details early next week.

[2020-10-02 14:41] #1488 closed

[2020-10-04 10:19] wojtek-t commented on #1110
/remove-lifecycle stale

[2020-10-05 16:43] vamossagar12 commented on #1319
@wojtek-t , i took one pass at it. As far as I understood, this is the point in gather, where we can figure out if an action timed out:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go#L245

Is this the place where you are expecting the logic to force delete the pods? Also, in the description, you have mentioned that

**when Wai

[2020-10-05 17:29] wojtek-t commented on #1319
1) yes - that sounds reasonable

2) it seems this action is not there at this point; but when you create a checker:
https://github.com/kubernetes/perf-tests/blob/4458e55128544d9bcfa87bcb23c3019138328de9/clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go#L353
You have all the necessary information (isObjDeleted) - so it seems it's only a matter of setting a status differently maybe b

[2020-10-08 11:03] #1112 closed

[2020-10-10 17:35] vamossagar12 commented on #1319
Thanks @wojtek-t , For point 3, i was able to find the API end point being invoked:
[code]

This can be invoked from the coreV1 rest client end point. Only doubt i have is, how to fetch the namespace of the pods.

[2020-10-11 15:19] wojtek-t commented on #1319
I don't understand - you will need to pass --namespace too. So you would need the same there.

[2020-10-12 09:49] vamossagar12 commented on #1319
What I meant was, how do I get the namespace of the pods from the measurement code?

[2020-10-12 14:33] vamossagar12 commented on #1319
Thanks @wojtek-t . Created this PR: https://github.com/kubernetes/perf-tests/pull/1528

[2020-10-13 21:15] adtac opened #1533 "should we reconsider how scheduling throughput is measured?"
Currently, the scheduling throughput is measured as follows. Every 5 seconds, the number of pods scheduled is measured. The previously measured number of scheduled pods is subtracted from this number and the difference is divided by 5 to get the average throughput for the 5 second period. This is repeated until **all pods are running** and at each 5 second interval, the average is appended to an a

[2020-10-13 21:27] alculquicondor commented on #1533
+1

Running phase is indeed independent of scheduled. Still, let's say in the last 5 seconds we only scheduled the remaining 5 pods. Then the throughput for that period is 1 pod/s, which doesn't mean that the scheduler couldn't handle more.

That said, your proposal moves the throughput calculation in the right direction.

[2020-10-14 01:31] ahg-g commented on #1533
Sounds good to me.

That is just one data point, in a long enough run it shouldn't have an impact on even the 99th percentile.

[2020-10-14 06:31] wojtek-t commented on #1533
Scheduling throughput has be rewritten completely to be metrics based:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/scheduling_throughput_prometheus.go

The measurement you're talking about isn't the right way of measuring it, because it may be affected by e.g. slow watch.
We will remove it completely in the next couple days. So please don't invest int

[2020-10-14 15:14] ahg-g commented on #1533
@wojtek-t out of curiosity what metric will be used? one exported by the apiserver?

[2020-10-14 15:25] wojtek-t commented on #1533
POST pods/bindings

[2020-10-15 12:29] jkaniuk opened #1536 "OOM tracker timing out in clusters with very large number of events"
With > 500k events, OOM tracker have problems starting watching for events with narrow selector for OOMs
[code]
As there are O(0) OOM events, initial list before watch start needs to process all events before returning the result. apiserver call times out, as apiserver tries retrieve results from etcd paginating over all events with default page size of 500 results.

[2020-10-15 12:29] jkaniuk commented on #1536
/cc @tosi3k

[2020-10-15 12:43] jkaniuk commented on #1536
Ideas how to improve it:

slo-monitor faced similar challenges and ended with:
- moving reflector to custom NoStore Store implementation that drops all data as soon as possible
- limiting first list calls to 1 result as previous events were not so important

We do not need to worry about memory consumption so much, so let's not switch to NoStore right away.

Limiting list call to 1 is problematic:

[2020-10-15 12:43] jkaniuk commented on #1536
/assign @tosi3k

@wojtek-t
@mborsz

[2020-10-15 12:47] wojtek-t commented on #1536
We can not set filter for list, but set filter for watch. That means that OOMTracker won't need to do filtering at all.

[2020-10-15 12:57] jkaniuk commented on #1536
If we can issue initial list call for watch with limit 1 and without selector but open watch with selector then yes - we can do that.
I think that someone said that it is possible, if so, then this is the best way.

[2020-10-16 01:52] frbimo opened #1537 "Clusterloader2: Report's validity on failed perftest"
_*I have check issues but i didn't find the information i need_

This is not an issue rather a question. When clusterloader2 perftest failed, it still generates reports. Are these reports valid?

**junit.xml**
[code]

[2020-10-16 11:04] wojtek-t commented on #1537
Yes - they are valid. That's the whole point.

[2020-10-16 11:25] vamossagar12 commented on #1500
hi... Would it be possible to provide the details?

[2020-10-16 17:22] frbimo commented on #1537
@wojtek-t thanks for the confirmation.

[2020-10-16 17:22] #1537 closed

[2020-10-18 09:07] wojtek-t commented on #866
/remove-lifecycle stale

[2020-10-18 09:10] wojtek-t commented on #561
/remove-lifecycle rotten

/assign @mborsz
As you're already looking into that as we speak.

[2020-10-18 11:27] wojtek-t commented on #617
/remove-lifecycle stale

[2020-10-19 09:19] wojtek-t commented on #604
/remove-lifecycle stale

[2020-10-19 13:24] ahg-g commented on #1500
@wojtek-t I am wondering if we should expose a new metric similar to the ones proposed in [pod resource metrics](https://github.com/kubernetes/enhancements/pull/1916) that reports pod-level latency metrics instead of relying on the aggregated histogram metrics we currently have. Such metric should make it a lot easier to implement various eligibility criteria. Let me raise that on the KEP.

[2020-10-19 15:29] wojtek-t commented on #1500
Hmm - can we afford a metric stream per pod? We can have 150k pods in the cluster...

[2020-10-23 13:13] tosi3k opened #1543 "OOM tracker does not work on nodes with kernel version 5.1+"
OOM tracker relies on watching certain diagnostic events emitted by the node problem detector. These events are not being generated from the nodes which have Linux installed with the kernel version 5.1 or newer.

In order to fix that, I already opened an appropriate PR to NPD repo: https://github.com/kubernetes/node-problem-detector/issues/481. More context (root cause, etc.) can be found in that

[2020-10-23 13:14] tosi3k commented on #1536
This is currently blocked by https://github.com/kubernetes/perf-tests/issues/1543. We can revisit this after we sort out the NPD issues first.

[2020-10-27 09:39] tosi3k opened #1547 "Alter the logic of "updated" pods in WaitForControlledPodsRunning measurement"
Before https://github.com/kubernetes/perf-tests/pull/1035 was merged, `WaitForControlledPodsRunning` barrier was simply waiting for all pods specified by a label selector to reach the running state. Such approach doesn't take into account potential rolling updates of pods belonging to certain deployment(s). https://github.com/kubernetes/perf-tests/pull/1035 introduced an additional check that the

[2020-10-28 10:00] wojtek-t commented on #595
/remove-lifecycle rotten

[2020-10-29 15:05] mborsz commented on #561
https://github.com/kubernetes/test-infra/pull/19729 makes 5k oss test faster (it finishes in ~4-5h).

The test is passing, but 'POST events' latency has grown to ~500ms.

This is most likely caused by events lists we see:
[code]

Questions:
1. Why the watch is being interrupted? Is it due to slow kube-apiserver or kube-controller-manager?  Lack of resources?
2. Why does kube-controller-manager wat

[2020-10-30 09:36] #1301 closed

[2020-10-30 12:46] wojtek-t commented on #561
It's important to add that we don't have watchcache for events, so they are watched directly from etcd. So we know it's not because of watcache in this point.

I briefly looked into the code, and I think that QuotaController is the one that is starting informer for all resources potentially.
Which makes some sense.

Re short watches, I would expect those to be because of "out-of-history" errors, b

[2020-10-30 12:52] wojtek-t commented on #561
Actually this one is interesting:
[code]

Note that the first watch (second log line above) had latency 230ms.
But we were able to resume it later (which also suggests at least one item was delivered). Actually looking into RVs, that was exactly one item (the next watch was started with RV+1. And it succeeded. So it definitely wan't "out-of-history" window.

[2020-10-30 12:58] wojtek-t commented on #561
Thinking more about this, if we would face `Unexpected watch close - watch lasted less than a second and no items received` error for any other resource (where we have watchcache enabled), that would result in breaking all the watches for that resource type. I don't think we're observing this, because that would almost certainly break our test.

So I though it might be a network issue. But all of

[2020-10-30 14:25] wojtek-t commented on #561
Actually - I lived under wrong assumption.

While watchcache is turned of for "core/v1 Event", apparently it is NOT switched of for "events.k8s.io/v1 Event".
Tihs is what I'm seeing in logs:
[code]

which fully explains why those watches are closed.

So how the question is actually: "is the amount of events so large that we can't keep up in watcache or is there some other problem".

[2020-10-30 14:26] liggitt commented on #561
that seems like something we should fix

[2020-10-30 14:27] wojtek-t commented on #561
Actually - it seems that there are exactly 3 watchcaches for events, which suggests:
core/v1 Event
events.k8s.io/v1beta1  Event
events.k8s.io/v1 Event

[2020-10-30 14:27] wojtek-t commented on #561
Which is even worse...

[2020-10-30 14:27] wojtek-t commented on #561
Yes - we should absolutely fix that - something is really bad here - I will open a k/k issue to track it.

[2020-10-30 15:13] wojtek-t commented on #561
So it's highly probably that https://github.com/kubernetes/kubernetes/pull/96052 will actually fix the problem with events.

[2020-10-31 06:14] vamossagar12 commented on #1500
@ahg-g , just wanted to know would you be creating a KEP for this or is it something still that is under discussion?

[2020-11-01 10:49] wojtek-t commented on #887
/remove-lifecycle stale

[2020-11-02 03:27] ahg-g commented on #1500
### Eligibility Criteria

The scheduling latency depends on multiple external dependencies that are not under the scheduler’s control, and this includes:
- Customer’s workload characteristics
- Storage provisioning
- Cluster autoscaler adding new capacity

To eliminate those dependencies, we define the following eligibility criteria:
- Pods that successfully schedule from the first attempt. This m

[2020-11-02 08:20] mborsz commented on #561
FTR: I checked logs for one of event-etcd's failures and I see some etcd sigsegvs (they are unlikely root cause, as etcd was terminating that time anyway). I opened: https://github.com/etcd-io/etcd/issues/12441

[2020-11-02 11:09] vamossagar12 commented on #1500
Thanks @ahg-g . I was going through the description that you provided and needed a couple of clarifications:
You have mentioned making use of 3 metrics which the scheduler reports. All of them are  mentioned here: https://github.com/kubernetes/kubernetes/blob/44cd4fcedccbf35c2b674f9d53faa6fc3230b8fa/pkg/scheduler/metrics/metrics.go.. These metrics are reported by scheduler and are stored in Promet

[2020-11-02 15:10] ahg-g commented on #1500
These metrics are exported by the scheduler, I am not sure how and where clusterloader scrape them though.

[2020-11-02 17:30] wojtek-t commented on #1027
/remove-lifecycle stale

/assign @marseel

Since this is already happening - @marseel can you please update the issue with info what work is remaining to do?

[2020-11-02 17:30] wojtek-t commented on #1024
/remove-lifecycle stale

[2020-11-02 17:31] wojtek-t commented on #1028
/remove-lifecycle stale

[2020-11-03 06:34] vamossagar12 commented on #1500
I see that it is being invoked already for a measurement here:

https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/metrics_for_e2e.go#L65-L72

It's pulling even the scheduler metrics here. I believe we should be able to use this to implement the logic you described above. WDYT @wojtek-t ?

[2020-11-03 17:44] thockin opened #1554 "old (beta) topology labels are going away"
Hello.

The labels `failure-domain.beta.kubernetes.io/zone` and `failure-domain.beta.kubernetes.io/region` have been deprecated for almost a year now and are scheduled to be removed from kubernetes/kubernetes after 1.20 (Q1'21).

In prep for that I scanned all our repos looking for places that reference the old names and not the new ones.  There are a couple such places in this repo.  Without know

[2020-11-03 17:57] wojtek-t commented on #1554
Thanks Tim.

@mm4tt - please add that to the next iteration planning, it should be less than half an hour of work...

[2020-11-04 07:04] mm4tt commented on #1554
Done. Added to the top of our backlog

[2020-11-04 19:21] wojtek-t commented on #1245
/remove-lifecycle stale

[2020-11-04 19:42] wojtek-t commented on #1500
We don't have access to scheduler metrics in every environment. But I'm fine with assuming we have at least initially to have that enforced in our oss tests.

BTW - the eligibility criteria here is something that we've never fully figured out for pod startup SLO. We should do the same for that SLO for consistency, as this effectively is exactly what we want there.

@mm4tt - FYI

[2020-11-06 09:19] #1129 closed

[2020-11-06 09:19] #1318 closed

[2020-11-09 14:08] tosi3k commented on #1554
/assign

[2020-11-12 10:27] wojtek-t commented on #1554
Reopening - the PR is being reverted.

[2020-11-12 10:29] wojtek-t commented on #1554
@thockin - it seems that for GCE disks we're still setting only the old labels only (which we rely on here...)

[2020-11-12 16:26] marseel commented on #1007
/assign

[2020-11-12 16:27] marseel commented on #1027
/assign

[2020-11-12 16:34] marseel commented on #1027
Currently, new prometheus metric is already implemented and data is collected for all tests in master branch.
It's worth to mention that previous SchedulingThroughput allowed us to gather metric with interval 1s, based on Prometheus we are only able to gather with interval 5s.
The only thing remaining is turning on alerting for specific tests and removing old SchedulingThroughput. I've postponed t

[2020-11-12 18:30] wojtek-t commented on #1027
Unless we start scraping metrics more/less often. We may consider scraping more often potentially too.

Which is the right decision :)
Though we're almost done with this merging, so we will be able to get back to it.

[2020-11-12 19:45] thockin commented on #1554
Yeah, I am working with Storage folks - that logic has not yet been
converted to use the new labels. :(

@msau42

On Thu, Nov 12, 2020 at 2:29 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2020-11-12 19:54] msau42 commented on #1554
cc @mattcary

[2020-11-14 09:16] vamossagar12 commented on #1500
Thanks @wojtek-t . i started looking at this and am slightly confused as to which method to use for scraping this data.
I see 2 different approaches for this:
1) metrics_for_e2e invokes the metricsGrabber interface which invokes APIs to get the data. So, on approach could be we hit this API after configured duration of time and get the values for the metrics we care for and use the logic pointed o

[2020-11-14 22:31] alejandrox1 commented on #246
lost the bandwidth for working on this. sorry for not being able to drive this to completion but i'll unassign to let others sign up.
/unassign @alejandrox1

[2020-11-16 07:00] wojtek-t commented on #1096
/remove-lifecycle stale

[2020-11-16 07:02] wojtek-t commented on #1500
We should go with (2).

[2020-11-17 13:45] chenxu1990 commented on #875
@regardfs I encountered the same problem, did you solve it?

[2020-11-17 15:08] mborsz opened #1575 "Load test shouldn't delete configmaps and secrets for running pods"
From https://github.com/kubernetes/kubernetes/issues/96038#issuecomment-728988763

It looks like we do delete deployment, configmap and secret at roughly the same time. This is incorrect in general, as there can be large delay between deployment deletion and pod deletion (e.g. if we make our tests even faster and the kube-controller-manager has a O(minutes) backlog of pods to be deleted).

During

[2020-11-17 15:12] wojtek-t commented on #1575
I don't think that's really a bug per-se. Yes - technically we can delete secrets/configmaps before deleting a pod, but that's supported usecase in k8s.

[2020-11-19 18:22] adtac opened #1585 "perf-dash: make time axis labels more readable"
**What would you like to be added**: Make the time axis labels in graphs more readable in the following ways:

1. We do not need every data point to have a label in the axis. Users can click on the data point to go to the prow link.
2. Use human-readable timestamps instead of what appears to be UNIX epoch.

**Why is this needed**: The time axis labels are currently unreadable. Here's an example :)

[2020-11-19 20:06] prameshj opened #1586 "nodelocaldns perf tests failing after migration to python3"
**Which jobs are failing**:
NodelocalDNS benchmark/scale test.
Results used to be http://perf-dash.k8s.io/#/?jobname=node-local-dns%20benchmark&metriccategoryname=dns&metricname=Queries, but this is empty since tests arent running.

**Which test(s) are failing**: nodelocaldns scale test, no periodic CI

**Since when has it been failing**:
Since https://github.com/kubernetes/perf-tests/pull/1470 me

[2020-11-19 20:06] prameshj commented on #1586
/assign @vamossagar12
/cc @wojtek-t

[2020-11-20 06:51] wojtek-t commented on #1585
I would like to get rid of perf-dash eventually and migrate to something more standard like Mako.
So if someone wants to pick it up it's great, but I don't we we will invest into it as a SIG.

[2020-11-20 08:44] mm4tt commented on #1586
/cc

Hey Pavithra, thanks for catching this. I'll see into getting this fixed next week.

[2020-11-20 08:44] mm4tt commented on #1586
/assign

[2020-11-20 10:21] tosi3k commented on #1554
@msau42 @mattcary do we have an OSS issue to track the lack of new labels for the disks?

[2020-11-20 11:12] mm4tt commented on #1586
There are actually two issues here

1. Prow job succeeding even though the python code fails
2. Python code fails as a result of python2-> python3 migration

Let me tackle the 1. first. Once we have working continuous and presubmit tests it will be easier to fix 2.

[2020-11-20 11:14] mm4tt commented on #1586
The culprit of 1 is that exit status is not properly propagated:
[code]

[2020-11-20 16:39] msau42 commented on #1554
https://github.com/kubernetes/kubernetes/issues/92237

[2020-11-23 06:56] wojtek-t commented on #1014
/remove-lifecycle stale

@mborsz - do I understand correctly that you were already adding around that?

[2020-11-23 07:36] mm4tt commented on #1586
The issue no. 1 has been fixed in https://github.com/kubernetes/perf-tests/pull/1588.

Fixing issue no. 2 in https://github.com/kubernetes/perf-tests/pull/1587

[2020-11-23 12:13] tosi3k commented on #1543
All 4 steps are done.

[2020-11-23 12:13] tosi3k commented on #1543
/close

[2020-11-23 12:13] #1543 closed

[2020-11-24 07:19] mm4tt commented on #1586
The test seems to be genuinely passing now - https://k8s-testgrid.appspot.com/sig-scalability-benchmarks#kube-dns&grid=old
/close

[2020-11-24 07:19] #1586 closed

[2020-11-25 07:40] mm4tt opened #1595 "Consider setting cpu limit for pods created by CL2"
See the discussion in https://github.com/kubernetes/perf-tests/pull/1594.

/cc @wojtek-t

[2020-11-26 05:15] zhou1992513 opened #1597 "imagepreload.go if timeout should return err"
if err!=nil should return err

klog.V(2).Infof("Waiting for %d Node objects to be updated...", clusterSize)
	if err := wait.Poll(pollingInterval, pollingTimeout, func() (bool, error) {
		klog.V(3).Infof("%d out of %d nodes have pulled images", len(doneNodes), clusterSize)
		return len(doneNodes) == clusterSize, nil
	}); err != nil {
		return nil

[2020-11-26 13:35] wojtek-t commented on #1597
https://github.com/kubernetes/perf-tests/blob/2bef79ff91a8e5b39976b5dbbfdafd0f5521211f/clusterloader2/pkg/imagepreload/imagepreload.go#L136

[2020-11-26 17:03] Evalle commented on #1597
/assign

[2020-11-26 20:06] #1597 closed

[2020-11-27 14:26] hanamantagoudvk opened #1619 "CL2 image-preload feature doesn't work with containerd CRI"
**What happened**:

node-preload-images option fails to pre-load the images to all the nodes in the cluster.

**What you expected to happen**:

When node-preload-images option is used , it should pre-load the images before starting the testcases.

**How to reproduce it (as minimally and precisely as possible)**:

There are two ways to reproduce this problem:

1) By directly applying daemonset yaml

[2020-11-30 10:32] wojtek-t commented on #1244
/remove-lifecycle stale

[2020-11-30 14:00] wojtek-t commented on #1619
@mm4tt - FYI

[2020-11-30 14:04] mm4tt opened #1624 "Migrate scalability jobs from bootstrap.py to pod-utils"
We tried once but failed. One of the biggest blocker would be to make logexporter work in the pod-util world. See discussion in https://github.com/kubernetes/test-infra/pull/17215

[2020-12-02 09:13] mm4tt commented on #1619
Sorry for the delay. Busy week.

IIRC, the image-preloading functionality was implemented in CL2 but we didn't enable it anywhere. It may not work. Let me check this

[2020-12-02 10:03] mm4tt commented on #1619
My guess is that it doesn't work because it's based on docker pull while we don't use docker anymore on nodes (we switched to containerd).
I'll try to get it working in our tests.

@hanamantagoudvk, could you dump here logs for the failing image-preload init container? I.e. `kubectl logs ...`

[2020-12-02 10:54] hanamantagoudvk commented on #1619
I get the following error , when i try to get the logs of init conainer "preload-1" , pod : preload-bt5tl

root@k8s:~# kubectl logs preload-bt5tl -c preload-1 -n preload
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

root@k8s:~# kubectl get pods --all-namespaces
....
....
...
preload              preload-bt5tl                                0/1

[2020-12-02 12:34] wojtek-t commented on #1311
/remove-lifecycle stale

[2020-12-03 07:49] mm4tt commented on #1619
Ok, I managed to reproduce the same error in our presubmit in https://github.com/kubernetes/perf-tests/pull/1625.
The image preload fails with: `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?` [example log](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/perf-tests/1625/pull-perf-tests-clusterloader2/1334185724596981760/artifacts/e2

[2020-12-03 08:00] mm4tt commented on #1619
/good-first-issue

### Repro

1. The failure is reproduced in https://github.com/kubernetes/perf-tests/pull/1625. Use it as a base for further debugging / experiments

### How to fix

We need to replace the usage of docker in the [image-preload daemonset](https://github.com/kubernetes/perf-tests/blob/4f3e551abf27b8df5fcde0a0c547579ed9be10aa/clusterloader2/pkg/imagepreload/manifests/daemonset.yaml)

[2020-12-07 08:12] mm4tt commented on #1273
/reopen
/good-first-issue

I'd like to see the error message changed before we close this one. It's to make sure it doesn't happen again and we waste time on debugging.

[2020-12-07 08:12] mm4tt commented on #1273
/remove-lifecycle rotten

[2020-12-07 08:12] mm4tt commented on #1273
/good-first-issue

[2020-12-07 08:16] mm4tt commented on #1243
/remove-lifecycle stale

@kushthedude, so sorry for the delayed answer. @oxddr left the team.

It should be a CI job. See an example of a [presubmit job](https://github.com/kubernetes/test-infra/blob/ede8f30c742abf701b3b94621b4402fcd578e6af/config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml#L662) that calls `make verify-lint` in the perf-repo defined [here](https://github.c

[2020-12-07 10:56] kushthedude commented on #1243
/assign

[2020-12-08 01:02] vasanth-ks commented on #1619
/assign

[2020-12-08 10:06] CLFlemon opened #1630 "Error while Prometheus Controller"
When I use parameters 'enable-prometheus-server' and  '--tear-down-prometheus-server=false'.
Log error：Error while creating Prometheus Controller: multi client set creation error: config prepare failed: error loading kubeconfig: open /xxx/xxx
What should I do as a novice？

[2020-12-08 12:20] mborsz commented on #1311
I checked https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1335992827380764672/ where we see 57s latency for only stateless pods.

Sample slow pod:

[code]

Timeline:
* Created at 18:05:11.015687
[code]

* Scheduled at 18:06:10.760230
[code]
* Running at 18:06:15.139943

[code]

So it looks like most of the time it was waiting on kube-scheduler, but also

[2020-12-10 08:09] mm4tt commented on #1630
Does the kubeconfig exist at /xxx/xxx? CL2 needs a valid kubeconfig in order to connect to the cluster it tests

[2020-12-10 08:17] VivekThrivikraman-est opened #1631 "Network Performance measurement: make worker and controller communicate using k8s API"
**What would you like to be added**:
In the current implementation controller and worker communicates with each other using http, it would be better design to have them communicate using k8s API instead, i.e.:

- controller creates a CustomResource like: 'NetworkTestRequest' (with appropriate fields)
- worker watches for it, performs appropriate actions based on that and then updates the Status of

[2020-12-10 08:45] CLFlemon commented on #1630
I solved the problem.But the strange thing is, my parameter KUBE_ CONFIG has been set up, but the Prometheus server still automatically looks for my {$home} /. Kube / config. But thank you all the same.

[2020-12-10 09:45] ahmadalli commented on #1388
please don't go stale

[2020-12-14 13:48] wojtek-t commented on #1458
This has been fixed in the meantime. Closing.

[2020-12-14 13:48] #1458 closed

[2020-12-14 21:29] adtac commented on #1465
/remove-lifecycle stale

[2020-12-15 12:12] marseel opened #1636 "Validate config before running test"
**What would you like to be added**:
Validate if config is correct before running test.
**Why is this needed**:
Currently, step can be either measurement step or phase step (modules are being added in #1634)
https://github.com/kubernetes/perf-tests/blob/18e90fc65c6b95c0bff96938458a77d74e19b27a/clusterloader2/api/types.go#L60
Unfortunately, this behaviour is not well implemented:
https://github.com

[2020-12-17 10:21] #1397 closed

[2020-12-17 13:17] marseel commented on #799
@mm4tt @wojtek-t So I am actually wondering about one thing. Let's assume we change jobs to "sleep X".
Currently we have two phases: creating job and waiting for pods to be running and second phase where we scale number of pods within job.
After changing to "sleep X" first phase will complete job, so second part of scaling up/down job will not work (completions is also immutable). Do you have any

[2020-12-17 13:21] wojtek-t commented on #799
We can get rid of scaling phase for jobs at this point. Just run it to completion, ideally with parallelism < completions.

[2020-12-23 04:53] vamossagar12 commented on #787
@wojtek-t , i guess this issue can be closed as the PR has been merged.

[2020-12-30 14:13] wojtek-t commented on #1092
/remove-lifecycle stale

[2021-01-05 23:57] Jiawei0227 commented on #1554
Hey folks, I am working on adding the GA labels to the GCE PD disk PV.
But I think currently the way that people getting information from PV labels can be a csi migration blocker. Since after we switch to PD CSI driver mode, the new PV does not have topology labels on it. @msau42 Do we want to consider adding the labels to the CSI created PV?

[2021-01-06 01:01] msau42 commented on #1554
Yes, for informational purposes, I think we should set labels on the PV object (using the GA labels). For scheduling though, it only looks at the PV.NodeAffinity.

For native CSI volumes though, we would need to build an admission controller to label PV objects with the gke csi labels: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/390

[2021-01-06 19:11] BenTheElder opened #1646 "HTTP perf-dash should redirect to HTTPS instead of returning 404"
[Originally filed by @adtac in https://github.com/kubernetes/test-infra/issues/20359]

---

What happened: http://perf-dash.k8s.io returns 404.

What you expected to happen: It should redirect to https://perf-dash.k8s.io instead.

How to reproduce it (as minimally and precisely as possible): Go to http://perf-dash.k8s.io on your browser.

cc @mborsz

[2021-01-07 08:18] wojtek-t commented on #787
/remove-lifecycle stale

 I would like to push it a bit further:
- move networkProgramminLatency SLI to this measurement too
- see if we're ready to move api-call latencies to it too

[2021-01-07 14:05] wojtek-t commented on #1110
/remove-lifecycle stale

That kind-of already happened, because we updated the default in startup scripts.
We should just clean up stuff a bit (our test configs - containerd is already a default) and then update the documentation.

[2021-01-09 10:27] ahmadalli commented on #1388
/reopen

[2021-01-09 10:27] ahmadalli commented on #1388
/remove-lifecycle rotten

[2021-01-11 09:57] mm4tt commented on #1646
Maybe it was fixed in the meantime but it seems to be working both over http and https.
Also, redirect from http to https should happen in the LB config not in the perf-dash code. So if the issue persists, an issue should be filed against kubernetes/k8s.io to change the LB settings

[2021-01-11 09:57] #1646 closed

[2021-01-11 11:12] wojtek-t commented on #1319
Fixed in #1528

[2021-01-11 11:12] #1319 closed

[2021-01-11 13:26] wojtek-t commented on #1311
This is great finding.
Given we already have P&F enabled, I'm wondering if we can consider bumping scheduler QPS limits in our 5k-node job to 200 to accommodate for those scenarios (without changing anything on controller-manager side).
This would also allow us to validate that further.

@mborsz - once https://github.com/kubernetes/kubernetes/issues/97798 is debugged and fixed, WDYT about this?

[2021-01-11 14:12] lyzs90 commented on #1619
@vasanth-ks hows progress on your end? i'm hoping to see this through so we can unblock https://github.com/kubernetes/kubernetes/issues/90833

[2021-01-12 15:44] wojtek-t commented on #1533
/remove-lifecycle stale

[2021-01-13 04:44] lyzs90 commented on #1619
@mm4tt I'll follow up on this one

[2021-01-13 04:44] lyzs90 commented on #1619
/assign

[2021-01-13 18:38] vasanth-ks commented on #1619
Sorry for the delayed response. Been a little busy. I am working with Matt on this issue to try to build and push containerd image to docker hub. Have not been successful yet.

[2021-01-18 06:54] wojtek-t commented on #604
/remove-lifecycle stale

[2021-01-18 06:56] wojtek-t commented on #866
/remove-lifecycle stale

[2021-01-18 07:19] wojtek-t commented on #617
/remove-lifecycle stale

[2021-01-18 09:57] mm4tt opened #1659 "Migrate CL2's load test to CL2 Modules"
The CL2 Modules have been introduced in https://github.com/kubernetes/perf-tests/pull/1634. They allow dividing a single test configs into multiple module files, which improves readability and maintainability. The primary target for this is the load test [config.yaml](https://github.com/kubernetes/perf-tests/blob/add2da270f0857e5495e6c4692d5b9c51adee0cb/clusterloader2/testing/load/config.yaml#L911

[2021-01-19 15:45] lyzs90 commented on #887
/assign

[2021-01-21 17:48] mm4tt commented on #1619
I believe we can close this one. Fixed in https://github.com/kubernetes/perf-tests/pull/1654

[2021-01-21 17:48] #1619 closed

[2021-01-22 08:48] tosi3k commented on #1536
I created a candidate fixing PR some time ago but it was blocked on the (already fixed) bug in the OOM tracker dependency, node-problem-detector.

The PR requires testing but I didn't have time to come back to it yet (hopefully will have some more soon).

/remove-lifecycle stale

[2021-01-22 11:05] lyzs90 commented on #1636
@marseel could I help out with this one?

[2021-01-22 12:21] marseel commented on #1636
@lyzs90  Yes sure, I would appreciate it :)
If you will have some PR I can help with reviewing.

[2021-01-22 12:24] wojtek-t commented on #1636
@lyzs90 - this long-standing PR is relevant to this one:
https://github.com/kubernetes/perf-tests/pull/142
It shows how should probably approach this problem - feel free to pick it up and continue working on that.

[2021-01-22 13:05] lyzs90 commented on #1636
Thanks @wojtek-t I'll check it out

/assign

[2021-01-22 17:59] lyzs90 commented on #1636
@wojtek-t I had a look at https://github.com/kubernetes/perf-tests/pull/142 and had some thoughts:
- Currently Modules are being recursively compiled into steps at [runtime](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/test/simple_test_executor.go#L125). Correct me if I am wrong but the mapping passed to the Module seems static and there is no use case where runtime vari

[2021-01-23 15:19] petersveter108 commented on #1659
/assign

[2021-01-23 19:58] wojtek-t commented on #1636
@mm4tt - for thoughts

The consistency with k8s has a benefit that you don't have to learn new stuff when you're operating in a single k8s ecosystem. I agree that this can reduce the boilerplate, but (a) this boilerplate is well-separated (b) it's fairly trivial, so I don't think it's actually that huge advantage. So I would rather stick to that for now.

[2021-01-25 02:18] lyzs90 commented on #1636
Noted on this 👍

[2021-01-25 09:21] marseel commented on #1636
I think it makes sense, but let's double check with @mm4tt

[2021-01-25 09:41] mm4tt commented on #1636
It makes a lot of sense :) Just a nit, you should move it after [this](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/test/test.go#L76) to make sure that the config is valid after a custom modifications have been applied. There is also testConfig.Validate [here](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/test/test.go#L89) that we could probably

[2021-01-25 11:23] tosi3k commented on #1547
/remove-lifecycle stale

[2021-01-25 15:26] lyzs90 commented on #1636
@mm4tt gotcha, I'll first submit a PR to extract module compilation out of ExecuteTest

[2021-01-25 17:09] lyzs90 commented on #1636
@mm4tt Actually since there might be multiple tests (via test suite / config paths), would it be worth moving the compilation and validation logic even higher up eg. before https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/cmd/clusterloader.go#L317 and https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/cmd/clusterloader.go#L323.

That way we can fail faster if an

[2021-01-26 09:45] mm4tt commented on #1636
Sounds good. Let me know if there is anything I can help you with. Thanks!

[2021-01-26 11:30] wojtek-t commented on #595
/remove-lifecycle stale

[2021-01-27 08:49] tosi3k opened #1683 "Parallelize polling individual hosts in APIAvailabilityMeasurement"
Currently, when control plane hosts availability is measured, the hosts are polled sequentially while the proper way to do this is to run the polling threads in parallel to measure everything at the same time.

[2021-01-27 08:50] tosi3k commented on #1683
/help-wanted

[2021-01-28 14:29] tosi3k opened #1691 "Passing CL2_-prefixed env vars to object templates does not work"
We have a couple of objects that intend to use `CL2_`-prefixed environment variables like in [statefulset.yaml](https://github.com/kubernetes/perf-tests/blob/c64f92e65884de524e938941135aac76fc629653/clusterloader2/testing/load/statefulset.yaml#L1,L2).

Overriding the default values does not work in that case, though, as if the objects do not have visibility into these env vars.

/kind bug

[2021-01-28 15:40] mm4tt commented on #1691
From a cursory look at the code I believe it should work.

1. CL2 envs are present in the mapping returned by config.GetMapping - https://github.com/kubernetes/perf-tests/blob/8e56c52b47a9d5b221ceec2c0445f49924bbef4f/clusterloader2/pkg/config/template_provider.go#L224
2. This mapping it's used to create the context - https://github.com/kubernetes/perf-tests/blob/58e7520edcae3b06c39336e39bf827af850

[2021-01-28 16:01] tosi3k commented on #1691
You're right, everything works as expected. It was my manual CL2 runs that have made me believe there was something wrong since instead of typing the following line in the shell:
[code]
I typed as follows:
[code]
So the `CL2_ENV_VAR` was just set for the shell, not for all processes started from that shell...

/close

[2021-01-28 16:01] #1691 closed

[2021-01-29 09:18] mm4tt commented on #1311
Another important bit of information here is that the deamonset in the load test has its own priorityClass (https://github.com/kubernetes/perf-tests/blob/6aa08f8817fd347b3ccf4d18d29260ce2f57a0a1/clusterloader2/testing/load/daemonset-priorityclass.yaml.). This is why the daemonset pods are starving other pods during scheduling phase.

I believe the main issue here is that one of the load test assum

[2021-01-30 11:35] #1057 closed

[2021-01-30 15:43] lyzs90 opened #1693 "kind provider for CL2"
I got really close to running CL2 on a [kind](https://kind.sigs.k8s.io/) cluster with the local provider. The first issue I faced was having to wrap the poll eg. `docker exec -it <containerID> curl -X GET -k https://localhost:10259/metrics` during the metric collection. The second was because of unauthenticated access to the scheduler's metrics endpoint (somewhat related to https://github.com/kube

[2021-02-01 06:48] wojtek-t commented on #1024
/remove-lifecycle stale

[2021-02-01 06:49] wojtek-t commented on #1028
/remove-lifecycle stale

[2021-02-01 08:25] wojtek-t commented on #561
/remove-lifecycle stale

[2021-02-01 09:02] mm4tt commented on #1693
It'd be great even to have kind working without those features. If we need to disable them only for kind we can do that using the [provider](https://github.com/kubernetes/perf-tests/blob/fd7ccf5b51ae0b54e6c2152f54c3c51e56147c83/clusterloader2/pkg/provider/provider.go) interface. After that we can open an issues to make them work for kind and work on them independently

[2021-02-02 14:24] lyzs90 opened #1696 "Remove deprecated automanagedNamespaces"
AutomanagedNamespaces has been deprecated but is still being used in `node-throughput` and `windows-tests` configs. These configs are used in sig-scalability periodic jobs and sig-windows tests.

[2021-02-02 14:26] mm4tt commented on #1696
Thanks!

/good-first-issue
/help-wanted

[2021-02-02 15:07] Palerion commented on #1696
Hi!  I'm a new contributor, and I'd love to work on this as my first issue.  Thanks!

[2021-02-02 15:29] lyzs90 commented on #1696
@Palerion Please go ahead :)

In https://github.com/kubernetes/perf-tests/pull/1694 I've marked the places where automanaged namespaces could be removed.

Based on what I observed on testgrid, these [jobs](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes) are still being run today:
- ci-kubernetes-e2e-gce-node-throughput
- ci-kubernetes-e2e-gce-node-containerd-throughput

[2021-02-03 11:43] wojtek-t commented on #1245
/remove-lifecycle stale

[2021-02-03 12:20] #1536 closed

[2021-02-05 14:24] tosi3k opened #1706 "Remove CL2_ENABLE_IMMUTABLE_SECRETS_AND_CONFIGMAPS usage when plausible"
This basically means reverting https://github.com/kubernetes/perf-tests/pull/1692 when support for 1.18 is dropped.

/kind cleanup

[2021-02-05 18:26] #887 closed

[2021-02-08 08:17] #1554 closed

[2021-02-08 09:52] wojtek-t commented on #1706
/lifecycle frozen

[2021-02-08 23:54] Jeffwan opened #1713 "Is it possible to use self-deployed prometheus?"
**What would you like to be added**:

Seems `prometheus` is a required dependency to run clusterloader2 tests. Otherwise, we will see lots of measurement were skipped.

[code]

Without specifying `--enable-prometheus-server`,  `prometheusFramework` never get value. However seems `SetUpPrometheusStack` and `prometheusFramework` initialization can be separate from the code logic here.

https://githu

[2021-02-09 08:45] Jeffwan commented on #1273
/assign

I will take this one and file a PR soon

[2021-02-09 09:47] mm4tt commented on #1713
It's not currently supported, but I don't see any reason for not having such functionality. We'll happily accept contributions :)

/good-first-issue
/help-wanted

[2021-02-09 10:20] mm4tt commented on #1273
Thanks!

[2021-02-09 19:22] Jeffwan commented on #1713
Got it. I will take this one.

/assign

[2021-02-09 23:43] Jeffwan opened #1716 "LegacyIsMasterNode can not infer master name and ip"
**What happened**:

clusterload2 can not infer master node name and IP address.

[code]

After checking the source code, I find `LegacyIsMasterNode` uses node-role label to determine if a node is master or not.

https://github.com/kubernetes/perf-tests/blob/e34912ed01fda93e0e054a544e107f443498ab9e/clusterloader2/pkg/util/cluster.go#L170-L175

The problem is `kubeadm` only gives `node-role.kubernet

[2021-02-09 23:44] Jeffwan commented on #1716
I can file a PR to fix it if we still accept change on this method

[2021-02-10 07:32] Jeffwan opened #1717 "Error reading SSH key even AWS_SSH_KEY env is set"
**What happened**:

This is a bug in 1.19 and previous branches.

Test command:

[code]

Result:

[code]

The problem is there's a bug that a new variable keyFile is recreated under case scope. It doesn't change value of `keyFile` defined earlier.
https://github.com/kubernetes/perf-tests/blob/5fb41ba7134696e897ad416289de0041141906b8/clusterloader2/pkg/measurement/util/ssh.go#L97

When it tries to

[2021-02-10 08:49] #1631 closed

[2021-02-10 17:44] Jeffwan commented on #1717
release-1.19 has the fix now. I will cherry-pick changes to rest of the active branches.

[2021-02-10 19:03] wojtek-t commented on #1027
/remove-lifecycle stale

[2021-02-10 19:30] Jeffwan opened #1721 "Prometheus stack setting doesn't work for master with `--anonymous-auth=false`"
**What happened**:
Current prometheus stack setting assume control plane supports `--anonymous-auth` which is true by default. See [kube-apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) for more details.

However, if we set `--anonymous-auth=false` in the control plane, prometheus scratch requests will be rejected by apiserver and we will get 401 errors

[2021-02-10 19:57] wojtek-t commented on #1007
This has been implemented in the meantime.

/close

[2021-02-10 19:57] #1007 closed

[2021-02-10 23:25] Jeffwan opened #1723 "Storage class in Prometheus stack is binding to GCP"
**What happened**:
Prometheus stack manifest doesn't use `default` storage class. Instead, it creates a separate storage class `ssd`.
[code]

The problem is storage provisioner is default to gcp's. It doesn't work in any platform.
https://github.com/kubernetes/perf-tests/blob/81f63e6a18b67e3469a854c678b532619c134078/clusterloader2/pkg/prometheus/manifests/0ssd-storage-class.yaml#L5-L7

Prometheus

[2021-02-11 09:06] #1716 closed

[2021-02-11 09:19] mm4tt commented on #1723
Hey @Jeffwan, thank. you so much for opening this issues (and others). They are well documented and clearly explain a problem, it's great.
Just a tiny ask, if you work on an issue (and I believe you do, given your PRs) could you assign it to you? :)

/assign @Jeffwan

[2021-02-11 12:54] mm4tt commented on #1659
/assign @jkaniuk

Assigning Jacek to review @petersveter108`s work while I'm away.

[2021-02-11 18:16] Jeffwan commented on #1723
@mm4tt Ah, thanks for reminder. I will remember to assign issue to myself next time If I am working on it.

[2021-02-12 08:24] mborsz commented on #561
This is done for ~2 months.

The change to 5000 node test is huge: the test used to take ~14h and now take ~4h30m.

/close

[2021-02-12 08:25] #561 closed

[2021-02-12 12:24] BigDarkClown opened #1732 "WaitForNodes does not consider nodes with taints"
**What happened**:

WaitForNodes only considers nodes without any NoSchedule/NoExecute taints. This makes nodes with taints from node-pools created by NAP not considered if they have any taint. In general, existence of such taints does not necessary mean that the node is "unschedulable".

**What you expected to happen**:

WaitForNodes would count nodes with NoSchedule/NoExecute taints.

**How to r

[2021-02-12 19:09] Jeffwan commented on #1721
/assign

[2021-02-12 19:10] Jeffwan commented on #1717
/assign

[2021-02-12 19:19] Jeffwan commented on #1717
This can be resolved once 1.18 cherry-pick is merged

[2021-02-15 07:16] wojtek-t commented on #1500
/remove-lifecycle stale
/lifecycle frozen

[2021-02-15 07:17] wojtek-t commented on #1096
/remove-lifecycle stale

We roughly have milestone V0 implemented at this point.

[2021-02-15 15:51] lyzs90 commented on #1693
Closing as it was added in https://github.com/kubernetes/perf-tests/pull/1701.

[2021-02-15 15:51] #1693 closed

[2021-02-15 16:30] lyzs90 opened #1741 "Fix ssh command for kind provider"
The kind provider was introduced in #1693 but it's [RunSSHCommand](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/provider/kind.go#L59) method was not implemented yet. To make it work on kind, we should be able to fake the SSH and run the command directly on the master node.

[2021-02-15 18:09] #1717 closed

[2021-02-17 10:39] #1636 closed

[2021-02-18 15:05] #1438 closed

[2021-02-20 07:33] lyzs90 opened #1746 "Improve CL2 config validation"
Continuation of #1636. There's still a quite bit more we can validate, for instance:
- Ensure that steps are not empty
- Ensure that the tuning set referenced in a phase has been declared
- Implement verifyMeasuremen
  - APIAvailability, EtcdMetrics, Exec, MetricsForE2E, NodeLocalDNSLatencyPrometheus, etc... e
  - Each measurement may have custom parameters

You can link to this issue in your PR a

[2021-02-20 07:33] lyzs90 commented on #1746
/good-first-issue
/help-wanted

[2021-02-20 08:46] #1487 closed

[2021-02-21 22:52] siddhartha97 commented on #1746
@lyzs90 newbie here, can I work on this? (:

[2021-02-22 01:39] lyzs90 commented on #1746
@siddhartha97 Sure go ahead please :) Try to keep the PRs small. Eg  for verifyMeasurement, we can start off with one measurement first instead of tackling all at once.

[2021-02-22 02:47] siddhartha97 commented on #1746
Will do! @lyzs90 Is there any specific directory i should be looking at in the repository to start off with _Implement verifyMeasurement_?
/assign

[2021-02-22 03:30] lyzs90 commented on #1746
Sorry it was renamed to validateMeasurement, you implement the function here: https://github.com/kubernetes/perf-tests/blob/b9e08a85e93daff53f1a68370cbbfa4de77dffe1/clusterloader2/api/validation.go#L180:27

Tests for validations are written here: https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/api/validation_test.go

The whole list of measurement can be found here: https://gith

[2021-02-22 07:05] wojtek-t commented on #1014
/remove-lifecycle stale

[2021-02-23 07:57] wojtek-t commented on #1595
/remove-lifecycle stale

[2021-02-23 11:00] #1273 closed

[2021-02-24 14:03] wojtek-t commented on #1575
/remove-lifecycle stale

[2021-02-26 14:35] lyzs90 commented on #1732
@wojtek-t Is there a reason why we [filter](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/util/wait_for_nodes.go#L66) out tainted nodes? There was some history here https://github.com/kubernetes/perf-tests/pull/966/files#r362490911 about waiting for nodes to be ready - that can be satisfied by the [isNodeSchedulable](https://github.com/kubernetes/perf-tests/bl

[2021-02-26 15:03] wojtek-t commented on #1732
No - is NodeSchedulable isn't enough.

Many provider initially taint the node until some conditions are met (e.g. the node is correctly initialized, etc). You can't schedule anything on the tainted node anyway, and we're interested in nodes that are fully usable for us.

That said, this was addressed in: https://github.com/kubernetes/perf-tests/pull/1743

Closing.

[2021-02-26 15:03] #1732 closed

[2021-02-28 15:05] wojtek-t commented on #1624
/remove-lifecycle stale

@mborsz - with the changes you were doing to logdumping - will it be possible to do now?

[2021-03-01 07:07] wojtek-t commented on #1244
/remove-lifecycle stale

[2021-03-01 08:19] mborsz commented on #1624
I don't know that:
1. It's not enabled in OSS, yet.
2. I'm not sure if this was the only blocker

[2021-03-01 18:01] #1723 closed

[2021-03-02 14:45] tosi3k opened #1752 "Cannot run load test at scale smaller than 100 nodes"
https://github.com/kubernetes/perf-tests/pull/1667 has made it possible to run the load test in clusters with less than 100 worked nodes (meaning having the `--nodes` CL2 flag set to a value lower than 100).

After the introduction of https://github.com/kubernetes/perf-tests/pull/1694, running the load test from the current master branch results in the following error, though:
[code]

This fail is

[2021-03-02 16:20] lyzs90 commented on #1752
Ah my bad. In this case, it should be okay to add the not small cluster condition over the offending tuning set, since it's only being used within the scheduler throughput steps.

[2021-03-03 17:31] #1752 closed

[2021-03-08 10:50] hanamantagoudvk opened #1757 "Stop relying on unstructured data in network performance KPI codebase"
**What would you like to be added**:

Instead of operating on Unstructured items, we want to define our type the same way built-in APIs are defined,
Example:
https://github.com/kubernetes/sample-controller/blob/master/pkg/apis/samplecontroller/v1alpha1/types.go

In network_performance_measurement.go , we have a CR NetworkTestRequest update events being received.
These objects need to be handled us

[2021-03-09 07:21] vincent-pli opened #1759 "[clusterloader2] hit error when run the sample in Readme"
**What happened**:
Hit error in my first try
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
I'm new for this project, and when I try to take a try with the example in README:
`go run cmd/clusterloader.go --kubeconfig=/root/.kube/config --testconfig=testing/load/config.yaml --provider=kind --nodes=1 --masterip=127.0.0.1 --mastername=kind-control-

[2021-03-11 09:08] tosi3k commented on #1624
I was able to successfully migrate the `gce-cos-master-scalability-100` CI job to pod-utils.

As SIG Scalability takes care of bazillion different job configs, let's track the effort of migrating all other jobs per-file:
* [ ] [sig-scalability-adhoc.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml)
* [ ] [sig-scalability-c

[2021-03-11 10:16] wardenlym opened #1760 "[clusterloader2]failed running curl command when EtcdMetrics measurement"
**What happened**:
clusterloader2 raise a error log:
[code]
when i run with
[code]

but actually it do works when i ssh to the master node(172.29.50.31) and execute the same command directly:
[code]

**What you expected to happen**:

i can not understand what is the different between the go code runs curl via ssh and i execute it by hand on a machine, if i miss something, please let me know , many

[2021-03-12 05:55] #1760 closed

[2021-03-12 18:53] tosi3k commented on #1624
Last remaining PRs to merge to close this issue:
* https://github.com/kubernetes/test-infra/pull/21350 (ad hoc job),
* https://github.com/kubernetes/test-infra/pull/21349 (presubmits),
* https://github.com/kubernetes/test-infra/pull/21352 (release branch jobs).

Let's wait until Monday and start with merging the ad hoc job (to see whether our approach to presubmit migration is right) as this is an

[2021-03-13 17:20] tosi3k commented on #1547
/lifecycle frozen

[2021-03-15 13:00] adtac commented on #1465
/remove-lifecycle stale

[2021-03-16 13:29] tosi3k commented on #1624
Done \o/.

[2021-03-16 13:30] tosi3k commented on #1624
/close

[2021-03-16 13:30] #1624 closed

[2021-03-17 08:26] sgirem463 commented on #1696
@Palerion Not sure if you are actually working on this since I don't see this issue assigned. If not, I would like to pick it up.

[2021-03-17 19:55] sgirem463 commented on #1696
@lyzs90 I am a new contributor, can I assign this to myself since it's not assigned.

[2021-03-18 05:18] sgirem463 commented on #1696
@lyzs90 I have located:

ci-kubernetes-e2e-gce-node-throughput
ci-kubernetes-e2e-gce-node-containerd-throughput
ci-kubernetes-e2e-windows-node-throughput
ci-kubernetes-e2e-windows-node-throughput-iis

in kubernetes/test-infra/config/jobs

Can you provide some hints or examples regarding how I should port them to Namespaces api?

[2021-03-18 05:47] lyzs90 commented on #1696
@sgirem463 You can go ahead and assign yourself :)

[2021-03-18 06:02] lyzs90 commented on #1696
These are the two configs where automanaged namespaces is still being used:
- https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/node-throughput/config.yaml#L12
- https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/windows-tests/config.yaml#L12

The jobs I mentioned above run off these configs. For example https://github.com/kubernetes/test-infra/bl

[2021-03-19 06:06] Jerry-Ge opened #1772 "Load local benchmark data to perfDash"
**What would you like to be added**:
I am trying to `locally` load our scheduler perf benchmark data (json files) into the perfDash for better visualization. I have been reading the perfDash code for a long time and still not clear about how to achive that. Are there any related documentation for us to follow through?

**Why is this needed**:
Local visualization of test benchmarks.

Any help or hi

[2021-03-19 10:27] wardenlym commented on #1713
hi，i deploy kube-prometheus-stack with helm charts in my cluster,

is there some workaround to let clusterloader detect which metrics stuff has been setup?

if there is something i can do for skipping the prometheus installing process,please let me know, many thanks.

[2021-03-25 07:08] Jeffwan commented on #1713
@wardenlym

detect which metrics? CL2 metrics gathers actually use standard control plane metrics exposed by apiserver and scheduler, etc. If your prometheus already collect these metrics. I think it should work out-of-box

Did you try to use  `--enable-prometheus-server` to skip prometheus setup?

[2021-03-30 18:41] wojtek-t commented on #1092
/remove-lifecycle stale

[2021-04-02 00:43] Jeffwan opened #1778 "Why not to use Prometheus measurement for all metrics"
**What would you like to be added**:

I feel like there're multiple ways to fetch metrics. using scheduler metrics as an example

https://github.com/kubernetes/perf-tests/blob/54890c1864c6e6c68295a520270f10ac1bcb907e/clusterloader2/pkg/measurement/common/scheduler_latency.go#L297-L321

https://github.com/kubernetes/perf-tests/blob/54890c1864c6e6c68295a520270f10ac1bcb907e/clusterloader2/pkg/measure

[2021-04-02 00:47] Jeffwan opened #1779 "Support more kube-apiserver metrics"
**What would you like to be added**:
We have a few API server related metrics

- api_availability_metrics.go
- api_availability_measurement.go
- api_responsiveness_prometheus.go

Seems `apiserver_request_count` and `apiserver_request_latencies_bucket` are not supported in any measurement yet.

Am I missing something? If we this part is helpful, I can help on this issue.

**Why is this needed**:

[2021-04-02 00:48] Jeffwan commented on #1779
seems `kube-controller-manager` related metrics are not there as well.

[2021-04-06 09:57] wojtek-t commented on #1779
The latter is part of api_responsiveness.
The former - how you would like to use it? What exactly you would like to check?

If you just want visibility to metrics, those are gathered from metrics e2e:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/metrics_for_e2e.go

[2021-04-06 09:59] wojtek-t commented on #1778
For scheduler - we indeed would like ot migrate to prometheus:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/scheduling_throughput_prometheus.go

It just requires figuring out a couple things to launch it.

[2021-04-07 08:59] wojtek-t commented on #787
/remove-lifecycle stale

[2021-04-07 19:33] jprzychodzen commented on #1110
Pending items

* Remove containerd specific present `preset-e2e-scalability-containerd`. It can be removed when branch 1.20 will be removed from supported branches. It will be about ~8 months from now.
* Update sig-scalability documentation. Expalining ContainerD vs Docker around https://github.com/kubernetes/community/tree/master/sig-scalability should cover this.

[2021-04-07 19:34] jprzychodzen commented on #1110
/remove-lifecycle stale

[2021-04-13 07:11] wojtek-t commented on #1533
/remove-lifecycle stale

[2021-04-13 13:16] alculquicondor commented on #1533
What is the current status of this effort @wojtek-t?

[2021-04-13 13:26] wojtek-t commented on #1533
It was more-or-less implemented:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/scheduling_throughput_prometheus.go

but there were some issues (which I forgot) to enable that. Someone will need to sit down and work on it (which we don't seem to have capacity now).

[2021-04-18 08:28] wojtek-t commented on #617
/remove-lifecycle stale

This is mostly done - we need to graduate the SLO to official.

[2021-04-18 08:28] wojtek-t commented on #604
/remove-lifecycle stale

[2021-04-19 07:48] #1585 closed

[2021-04-23 14:48] jupblb commented on #1659
/assign

[2021-04-27 09:49] tosi3k commented on #1683
/remove-lifecycle stale
/lifecycle frozen

[2021-04-27 22:37] ehashman opened #1789 "Add kubelet resource metric scraping to performance dashboards"
**What would you like to be added**:

Per https://kubernetes.slack.com/archives/C09QZTRH7/p1619422034034900?thread_ts=1619223170.034800&cid=C09QZTRH7 kubelet resource scraping currently is not supported by clusterloader2. I would like kubelet resource utilization to be tracked in the performance tests and dashboards.

**Why is this needed**:

Without this support, if there is e.g. a CPU or memory

[2021-04-28 00:04] bobbypage commented on #1789
/cc

[2021-04-28 04:03] bobbypage commented on #1789
/help-wanted

[2021-04-28 17:17] SergeyKanzhelev commented on #1789
This exists: http://node-perf-dash.k8s.io/#/builds Maybe need to be revived?

@wojtek-t can you please suggest what's the best way to track kubelet related perf?

[2021-04-29 10:26] wojtek-t commented on #1311
/remove-lifecycle stale

[2021-04-29 11:47] mm4tt opened #1792 "Upgrade of perfdash to 2.33 is blocked"
We needed to revert 2.33 perfdash upgrade in https://github.com/kubernetes/perf-tests/pull/1784, because there is not enough resources (memory) in the aaa cluster.

To unblock that, https://github.com/kubernetes/k8s.io/pull/1604 needs to happen

[2021-04-29 11:51] mm4tt commented on #1746
@siddhartha97, are you actively working on this? Do you need any help with reviews?

[2021-04-29 11:52] mm4tt commented on #1713
@Jeffwan, are you actively working on this? Do you need any help?

[2021-04-29 11:56] mm4tt commented on #1792
/help-wanted

[2021-04-29 13:38] wojtek-t commented on #1789
I think those are two slightly separate things:

1) I agree that kubelet resource-usage would be useful and adding that support for clusterloade2 makes sense
[it's just a new feature, because so far we're gathering the data from metrics-server/kubelet, which doesn't expose data about kubelet]. @ehashman - what would be the best source of getting this kind of data?

@marseel @mborsz - can you pleas

[2021-04-29 20:18] ehashman commented on #1789
I think we should probably deprecate node-perf-dash and fold as much of it into perf-dash as possible. I'm not sure who previously maintained it.

@wojtek-t do we run [node_exporter](https://github.com/prometheus/node_exporter) on our test clusters? That's one option for getting system CPU utilization. We use this in OpenShift to set up a recording rule in Prometheus to aggregate CPU utilization a

[2021-04-30 05:55] wojtek-t commented on #1789
We have an option to run it - I can't remember if this is enabled or not.
@marseel or @mborsz will follow up on it.

[2021-04-30 07:16] mborsz commented on #1789
@ehashman We do have node exporter running on master.

https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/prometheus/manifests/exporters/node_exporter/node-exporter.yaml

It is being deployed using a hack: https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/prometheus/prometheus.go#L305

I can't remember exactly why we decided to ssh to the master and copy

[2021-05-04 15:51] Jeffwan commented on #1713
I am not working on it recently and I remember I have piece of the work in the past. Let me revisit this one this week and report the status.

[2021-05-04 18:41] wojtek-t commented on #1245
/remove-lifecycle stale

[2021-05-05 09:20] wojtek-t commented on #1024
/remove-lifecycle stale

Back then I splitted the pod-startup-latency measurement to also produce the "Stateless" part of it and it seems it's broken now.
We should fix that as this will be needed anyway.

We may try to run an experiment where we will bump QPS limits on nodes and see if that will address the problems.

[2021-05-05 09:21] wojtek-t commented on #1028
/remove-lifecycle stale

@jkaniuk @x13n  - FYI (this matches the discussions we had internally recently)

[2021-05-05 13:42] x13n commented on #1028
@solodov FYI

[2021-05-06 12:51] #1243 closed

[2021-05-09 10:12] #1630 closed

[2021-05-09 11:54] ahmadalli commented on #1388
/remove-lifecycle rotten

[2021-05-12 07:49] wojtek-t commented on #1027
/remove-lifecycle stale

[2021-05-17 05:53] wojtek-t commented on #1096
/remove-lifecycle stale

/assign @tosi3k

@tosi3k - can you please briefly describe where we are with it now?

[2021-05-17 07:52] tosi3k commented on #1096
We're in the middle of V1. We have already added a configurable availability percentage threshold under which the test would fail.

The problem is that the API availability measurement makes the API call latency measurement fail. This is because the former runs `kubectl exec` periodically underneath - this results in POST pods' exec subresource API call latency jump above the 1s threshold (which i

[2021-05-17 19:04] MadhavJivrajani commented on #1696
EDIT: the new location for reference is: https://github.com/kubernetes/perf-tests/blob/acaa23004ac96087cc7e12e2428a12b76be53e53/clusterloader2/testing/load/config.yaml#L80

[2021-05-18 05:01] rahulii commented on #1696
/assign

[2021-05-18 07:01] rahulii commented on #1696
Hi @lyzs90 , so the `automanagedNamespaces` should be replaced with `namespace` in a similar manner to  https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/load/config.yaml#L80 ?

[2021-05-18 07:08] lyzs90 commented on #1696
@rahulii Yep that's right

[2021-05-18 07:12] rahulii commented on #1696
@lyzs90 , so after making changes how do I verify those changes ?

[2021-05-19 12:42] rahulii commented on #1746
@lyzs90 , I would like to work on this issue!

[2021-05-20 04:33] lyzs90 commented on #1746
@rahulii go ahead please!

[2021-05-20 08:17] rahulii commented on #1746
Hi @lyzs90 , should i start with this and write a unit test for the same?

[2021-05-20 08:31] rahulii commented on #1746
I also wanted to get an understanding on this , does it mean that the tuning sets declared [here](https://github.com/kubernetes/perf-tests/blob/b9e08a85e93daff53f1a68370cbbfa4de77dffe1/clusterloader2/testing/load/config.yaml#L98) only those be refereneced in phase [here](https://github.com/kubernetes/perf-tests/blob/b9e08a85e93daff53f1a68370cbbfa4de77dffe1/clusterloader2/testing/load/config.yaml#L

[2021-05-20 15:48] VictorCallejas opened #1810 "Clusterloader2 - How to get individual Pod times measurements"
Hi everyone,

I have been working with density tests and measuring Pod Startup latencies successfully, thanks for this great tool.

This test report the 50th, 90th and 99th percentiles as stated in the kubernetes SLO.

But now I am interested in getting the same measurements for each individual pod, I mean when each pod is scheduled and when it is in running state.

I have not found any test confi

[2021-05-24 06:22] wojtek-t commented on #1014
/remove-lifecycle stale

@mborsz - would this be something useful for debugging?

[2021-05-24 10:08] wojtek-t commented on #1595
/remove-lifecycle stale

[2021-05-25 13:06] rahulii commented on #1746
/cc @marseel

[2021-05-25 13:46] lyzs90 commented on #1746
@rahulii Your understanding here is correct. The test would [fail](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/test/simple_test_executor.go#L188) mid execution when it tries to create a tuning set which can't be found.

[2021-05-25 17:42] rahulii commented on #1746
So the general idea would be to check :
[code]
What do you think @lyzs90 ?

[2021-05-26 14:35] wojtek-t commented on #1575
/remove-lifecycle stale
/lifecycle frozen

[2021-05-26 22:22] aojea commented on #1789
/assign
I was checking this today, we didn't detect a big regression that caused test to flake during a month

[2021-05-31 07:12] VivekThrivikraman-est opened #1818 "Network Performance tests: negative UDP latency values for some test runs."
**What happened**:
UDP latency metrics collected while running network performance test cases (clusterloader2/testing/network) intermittently contains negative values.

**What you expected to happen**:
UDP latency should be always positive.

**How to reproduce it (as minimally and precisely as possible)**:
Issue is not seen when running locally in Kind or local vm cluster. Negative values are seen

[2021-05-31 07:49] wojtek-t commented on #1244
/remove-lifecycle stale
/lifecycle frozen

[2021-05-31 09:06] aojea commented on #1818
We've been talking about this in slack, and since the VM synchronisation seems complex problem to fix , we though that the best solution moving forward will be to gather more data to get better insights, maybe we only need the trend and not the absolute values.

The doubt that we have is if it would be good to operate only with positive numbers, i.e. truncate negative values to 0

@wojtek-t what d

[2021-05-31 09:43] wojtek-t commented on #1818
We do clock-synchronization in GCE - I personally doubt it's clock difference. I bet it's a real bug...

[2021-05-31 14:15] VivekThrivikraman-est commented on #1818
@wojtek-t is it NTP ?

[2021-06-01 06:09] rahulii commented on #572
I would like to give it a try.
/cc @oxddr , could you give some pointers to where should i start!

[2021-06-02 07:40] marseel commented on #572
@rahulii I think it would make sense to start testing measurements based on prometheus.
In the past we had multiple issues when PromQL query was written incorrectly and we have quite a lot measurements, which are based on prometheus queries.
Here you can find some resources how PromQL queries can be tested (although I only glanced at it):
https://prometheus.io/docs/prometheus/latest/configuration/

[2021-06-02 11:07] rahulii commented on #572
@marseel I think you are talking about this https://github.com/kubernetes/perf-tests/issues/1746#issuecomment-783049771 ?

[2021-06-02 12:20] wojtek-t commented on #520
/remove-lifecycle stale

[2021-06-04 08:09] hanamantagoudvk commented on #1818
@wojtek-t @aojea : What do you think of considering negative values as zero. ? Shall we proceed with that idea ?

[2021-06-07 05:51] wojtek-t commented on #1757
/remove-lifecycle stale
/lifecycle frozen

[2021-06-07 10:12] mborsz opened #1823 "Merge configmaps-secrets.yaml back to reconcile-objects.yaml"
https://github.com/kubernetes/perf-tests/pull/1822 moves part of reconcile-objects.yaml to a separate module to mitigate https://github.com/kubernetes/kubernetes/issues/96635.

We should revert this change once https://github.com/kubernetes/kubernetes/issues/96635 is fixed.

[2021-06-07 13:29] jkaniuk commented on #1575
/assign @mborsz

[2021-06-07 14:06] mm4tt commented on #1759
/assign @marseel

[2021-06-07 14:06] marseel commented on #1759
/assign @marseel

[2021-06-07 15:08] marseel commented on #1746
@rahulii Looks good to me.

[2021-06-07 15:26] #1810 closed

[2021-06-09 13:29] mborsz opened #1828 "konnectivity doesn't work in kubemark tests"
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100

E.g.

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/1402019296518868992

this blocks all perf-tests changes.

/assign

[2021-06-09 13:51] mborsz commented on #1828
No changes in k/k repo: https://github.com/kubernetes/kubernetes/compare/028bffba5...d59c06541

[2021-06-09 13:54] mborsz commented on #1828
Diff between first failing yaml and last passing:

[code]
* https://prow.k8s.io/prowjob?prowjob=9c1ae936-c7c0-11eb-ab06-22f4d18a7112
* https://prow.k8s.io/prowjob?prowjob=e531681c-c7d9-11eb-ab06-22f4d18a7112

[2021-06-09 13:58] mborsz commented on #1828
https://github.com/kubernetes/kubernetes/compare/2311e13a377eb6...028bffba588c8c Is a right link for k/k changes. Testgrid generate an incorrect one.

[2021-06-09 13:58] mborsz commented on #1828
Most likely https://github.com/kubernetes/kubernetes/pull/102661 is a culprit

[2021-06-11 08:13] mm4tt commented on #1792
/reopen

The 2.33 upgrade was reverted in https://github.com/kubernetes/perf-tests/pull/1799

[2021-06-11 08:30] mm4tt commented on #1818
It's NTP - https://cloud.google.com/compute/docs/instances/managing-instances#configure-ntp

[2021-06-11 08:50] VivekThrivikraman-est commented on #1818
Thanks @mm4tt , as you mentioned we will first fix perfdash and monitor to make sure latency is always in microseconds and then make a decision.

[2021-06-11 13:27] marseel opened #1831 "Migrate not-scrape-kube-proxy.yaml to provider specific config."
**What would you like to be added**:
Currently, we use `perf-tests/clusterloader2/testing/prometheus/not-scrape-kube-proxy.yaml` to disable scraping kube proxy (or prometheus-scrape-kube-proxy flag)
Most of the time, whether we scrape/not scrape kube-proxy depends on provider of kubernetes cluster.
We should migrate it to be provider specific flag in `perf-tests/clusterloader2/pkg/provider/`.
It c

[2021-06-13 15:37] yangjunmyfm192085 opened #1832 "Use single node test with config file `./testing/load/config.yaml` report an error When testing clusterloader2 locally"
**What happened**:
Use single node test with config file `./testing/load/config.yaml` report an error When testing clusterloader2 locally, I got the error message:
F0613 23:24:54.654528  225726 clusterloader.go:337] Test compliation failed: [tuningSets[5].randomizedTimeLimitedLoad.timeLimit: Invalid value: 0: must have positive value]

**What you expected to happen**:
No errors.

**How to reproduc

[2021-06-13 15:47] yangjunmyfm192085 commented on #1831
/assign

[2021-06-14 07:23] wojtek-t commented on #1832
@marseel - can you please take a look - it is kind-of related to the starting guide you're creating

/assign @marseel

@mm4tt - FYI

[2021-06-14 08:25] marseel commented on #1832
I am aware of this issue, it's related to this issue: #1759
To sum up:
- Running load test with < 100 nodes worked before
- We don't have any CI/presubmit that checks it
- After some time it stopped working

So I would propose:
- Fixing load test for < 100 nodes scale
- Adding presubmit for 1 node.

[2021-06-14 19:22] adtac opened #1835 "perfdash: graphs empty despite data being available"
**What happened**:

**What you expected to happen**:

http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes-scheduler&metriccategoryname=Scheduler&metricname=SchedulingThroughput&TestName=pod-affinity&Operation=scheduling does not display any graph. However, there seems to be data ([JSON request made by perfdash](http://perf-dash.k8s.io/buildsdata?jobname=kubemark-5000Nodes-scheduler&metriccategor

[2021-06-15 08:49] VivekThrivikraman-est commented on #1792
/assign

[2021-06-15 11:42] #1792 closed

[2021-06-15 12:34] #1831 closed

[2021-06-15 17:41] SergeyKanzhelev commented on #1789
@aojea where are those metrics now visible? Do you have a quick link?

[2021-06-15 18:21] aojea commented on #1789
http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=E2E&metricname=LoadResources&PodName=e2e-big-minion-group%2Fkubelet&Resource=CPU

[2021-06-17 11:36] aojea commented on #1818
http://perf-dash.k8s.io/#/?jobname=network-performance&metriccategoryname=Network_Baseline&metricname=UDP_P2P&Metric=Latency

[2021-06-18 11:04] rahulii commented on #1746
@marseel  @lyzs90 , how do i check if the measurement has been registered or not?

[2021-06-18 11:55] marseel commented on #1746
@rahulii
Here you can find factory in which all measurements are registered: https://github.com/kubernetes/perf-tests/blob/b9e08a85e93daff53f1a68370cbbfa4de77dffe1/clusterloader2/pkg/measurement/factory.go
What I propose is:
- Adding new method to measurementFactory that checks if measurement with specific name is registered.
- Adding new function "IsRegistered(methodName string)" that returns tru

[2021-06-19 08:47] yangjunmyfm192085 opened #1839 "How to use metrics server to measure performance"
**What would you like to be added**:
After [#1797](https://github.com/kubernetes/perf-tests/pull/1797) merged, I want  to continue to work on issue [#710](https://github.com/kubernetes-sigs/metrics-server/issues/710), but I found some problems

- How to use metrics server  to measure performance
When  tested locally by command ` ./run-e2e.sh --testconfig=./testing/load/config.yaml --provider=gce -

[2021-06-19 08:47] yangjunmyfm192085 commented on #1839
/cc marseel

[2021-06-19 19:00] rahulii commented on #1746
@marseel ,  so i tried implementing this approach , and I'm facing one issue `import cycle not allowed`
So . the measurement package uses `api` package somewhere (validation.go is in api package) and when I import the measurement package , it gives the above error!

[2021-06-25 10:10] marseel commented on #1746
@rahulii Could you create draft PR so I can take a look?

[2021-06-28 11:09] tosi3k opened #1848 "Preserving automanaged namespaces doesn't work properly for > 1 test config"
When `clusterloader2` is run with more than one CL2 test config and we disable the deletion of automanaged namespaces (i.e. add `--delete-automanaged-namespaces=false` argument to CL2 invocation), all tests, apart from the first one, fail with the following error:

[code]

We could either fix this and create a separate set of namespaces for different tests or make the tests reuse the namespaces cr

[2021-06-28 11:12] marseel commented on #1848
If we go with reusing then we need to remember that sometimes we will need to increase number of namespaces. For example, first test needs 1 namespace, but second needs 5. Creating separate sets of namespaces feel more intuitive to me.

[2021-06-28 11:14] marseel commented on #1848
I will remove good-first-issue till we decide how we want to solve it. Also, we will need to provide pointers to code.
 /remove-good-first-issue

[2021-06-28 12:06] marseel commented on #1659
I think we are pretty much done with this issue. If we want to change something I think it will be reasonable to open new issue from now on.
/close

[2021-06-28 12:06] #1659 closed

[2021-06-30 17:37] ehashman commented on #1789
Looks like this is available now on master and 1.21 but not <=1.20.

This is awesome!!! :tada:

[2021-07-05 08:01] wojtek-t commented on #1092
/remove-lifecycle stale

[2021-07-05 08:06] wojtek-t commented on #595
/remove-lifecycle rotten

[2021-07-05 09:22] #1839 closed

[2021-07-06 09:30] wojtek-t commented on #787
/remove-lifecycle stale

[2021-07-07 06:00] wojtek-t commented on #1110
FIxed.

[2021-07-07 06:00] #1110 closed

[2021-07-12 10:53] mm4tt commented on #1759
/remove-lifecycle rotten

[2021-07-12 20:17] #1721 closed

[2021-07-14 16:46] #1759 closed

[2021-07-16 00:22] SergeyKanzhelev commented on #1789
/reopen

@aojea what will it take to enable it for 1.20? Right now kubelet metrics only available on `1.21` and `master`

[2021-07-16 00:52] aojea commented on #1789
@SergeyKanzhelev sorry, I missed this message, I don't know exactly how the scale jobs work and how to backport it, better ask @wojtek-t and scalability folks

[2021-07-16 06:34] wojtek-t commented on #1789
perf-tests repo is branched the same way as k/k - we should just cherrypick it back to previous branches.

[Actually - it should only work for `master` (or are you asking about our internal GKE tests where we version a bit differently?]

[2021-07-16 09:57] aojea commented on #1789
/close
cherrypick has merged
@SergeyKanzhelev feel free to reopen if there is something missing

[2021-07-16 09:57] #1789 closed

[2021-07-16 23:05] #1741 closed

[2021-07-19 06:22] wojtek-t commented on #604
/remove-lifecycle stale

[2021-07-19 06:23] wojtek-t commented on #617
/remove-lifecycle stale

[2021-07-20 01:26] JohnRusk opened #1859 "Missing documentation for Load Test"
I'm trying to understand and use the load test in `clusterloader2/testing/load`. It has a whole bunch of parameters that can configure it, but I can't find any documentation that explains them (other than the brief intro in `/clusterloader2/docs/GETTING_STARTED.md`).  Is there other documentation?  Should there be?  Asking because, from the point of view of someone reading it for the first time, `

[2021-07-20 07:51] mm4tt commented on #1859
/assign @marseel

[2021-07-23 16:06] ameukam opened #1861 "Fail to build k8s.io/perf-tests/golang and push to k8s-infra-scale-golang-builds"
**Which jobs are failing**:
ci-build-and-push-k8s-at-golang-tip-canary

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/wg-k8s-infra-canaries#build-and-push-k8s-at-golang-tip-canary

**Reason for failure**:
I wasn't unable to identify the reason of the failure.

**Anything else we need to know**:
Part of https://github.com/kubernetes/

[2021-07-23 16:16] ameukam commented on #1861
Ref: https://github.com/kubernetes/k8s.io/issues/2268

[2021-07-28 11:33] wojtek-t commented on #1311
/remove-lifecycle stale

[2021-08-03 06:57] wojtek-t commented on #1245
/remove-lifecycle stale

[2021-08-03 10:49] wojtek-t commented on #1024
/remove-lifecycle stale

[2021-08-03 13:48] wojtek-t commented on #1028
/remove-lifecycle stale

[2021-08-06 22:17] ehashman opened #1870 "Add scalability metrics for output Prometheus metrics to detect cardinality regressions"
**What would you like to be added**:

We recently detected and reverted a cardinality explosion in 1.22 that caused a significant memory regression in a cluster-scraping Prometheus:

- [SIG Instrumentation Meeting Minutes](https://docs.google.com/document/d/1FE4AQ8B49fYbKhfg4Tx0cui1V0eI4o3PxoqQPUwNEiU/edit#bookmark=id.gbt7ediwramw)
- https://github.com/kubernetes/kubernetes/issues/104008

The issu

[2021-08-07 15:00] ahmadalli commented on #1388
don't stale please :(

[2021-08-09 16:34] ehashman commented on #1870
/cc @aojea @coffeepac @deads2k @logicalhan

[2021-08-10 07:41] #604 closed

[2021-08-10 08:47] wojtek-t commented on #1027
/remove-lifecycle stale

[2021-08-12 14:08] #1465 closed

[2021-08-16 03:57] JohnRusk commented on #1696
As a new clusterLoader2 user, I'm suprised by the removal of automanagedNamespaces.  I thought it was a great feature.  Do understand correctly that it's being totally removed?  If so, why?

[2021-08-16 04:01] JohnRusk commented on #1696
Also, it this feature really is to be totally removed, then `docs/README.md` should be updated as part of this PR, since that document still quite clearly tells new users to rely on automanaged namespaces.

[2021-08-16 06:23] JohnRusk opened #1872 "Delete namespaces more rapidly when they contain lots of events"
**Suggested addition**

When deleting namespaces at the end of the test, ClusterLoader2 should first delete all the events in the namespace.  If the code deletes many events in parallel, it will make cleanup much quicker.    I'm happy to create a PR, but have some questions first (below).

**Why**

I've noticed that clusterLoader2 is taking many minutes to clean up at the end of my tests.  E.g. at

[2021-08-16 07:33] #1772 closed

[2021-08-16 07:59] mm4tt commented on #1870
/cc @marseel

[2021-08-18 08:56] marseel commented on #1870
I see that the problem with this metric was due to namespaces. Currently, our scalability test creates O(50) namespaces. Also, I've checked that in our load tests this metric is only generated for 1 namespace "monitoring" so unfortunately this regression would not be detected.  Generally I am supportive for checking cardinality in load test.

[2021-08-18 09:08] marseel commented on #1872
Thanks cool idea, I like it.

Out of these 4 options I like 4th most. Let's make it in a way that if someone does not specify it we won't explicitly delete events.
So I would have default 0, which would mean that this feature is turned off and if someone wants to enable it they can.
This will also allow us to safely deploy it (as we have multiple tests with different sizes of masters, so the same

[2021-08-18 09:09] marseel commented on #1861
@tosi3k Could you take a look at it please, as you are our golang test expert ;) ?

[2021-08-18 09:20] tosi3k commented on #1861
Hey, sorry for the lack of response, I was CCed here when I was on a longer leave and then the issue got lost in my mailbox :/.

I promise to take a deeper look at this later this week.

[2021-08-18 09:53] aojea commented on #1870
I think that at this point is a problem of just having a mechanism to detect this cardinality problem, we can iterate later on the scenarios, you have a nice and flexible API with ClusterLoader2.

What will be the best way to implement this "cardinality explosion detection" feature in perf-tests?
I'm out of my expertise area here

[2021-08-18 10:01] mborsz commented on #1870
/cc @mborsz

[2021-08-18 18:10] Dentrax opened #1873 "Could not build "benchmark" project due to kubernetes@v1.15.0 uses non exist project as a dependeny"
**What happened**:

`k8s.io/kubernetes@v1.15.0` requires `github.com/mholt/caddy` but it does not exist. (returns 404 or private repo) Therefore, `go build .` fails.

**What you expected to happen**:

It should build?

**How to reproduce it (as minimally and precisely as possible)**:

[code]

See the following error:
[code]

**Environment**:
- Commit: `2b250335cd6b05d42447578c531a0ecc751fbe9e`
- g

[2021-08-19 05:42] JohnRusk commented on #1872
@marseel  That's a great idea about making the default be zero.

I have created the PR.  Looks like I don't have rights to assign you as a reviewer. Can you assign yourself? Or just go ahead and review it?

[2021-08-19 05:42] JohnRusk commented on #1872
/assign

[2021-08-19 11:31] marseel commented on #1872
I've assigned myself on PR, I will review it on Monday. Also, I've noticed that you need to sign CLA.

[2021-08-21 13:39] #1861 closed

[2021-08-21 15:37] ameukam commented on #1861
First successful build : https://storage.googleapis.com/kubernetes-jenkins/logs/ci-build-and-push-k8s-at-golang-tip-canary/1429096348275183616/build-log.txt

[code]

[2021-08-22 10:40] wojtek-t commented on #1595
/remove-lifecycle stale

[2021-08-22 10:41] wojtek-t commented on #1014
/remove-lifecycle stale

[2021-08-23 10:11] wojtek-t commented on #1096
/remove-lifecycle stale

[2021-08-23 12:37] wojtek-t commented on #1872
I'm against this change - it's already possible at the cluster level:

https://github.com/kubernetes/perf-tests/pull/1874#discussion_r693931883

[2021-08-23 20:57] #1872 closed

[2021-08-30 05:30] chendave opened #1878 "clusterload: load test failed with "pods appeared" or "pods disappeared""
**What happened**:
run the load testing with `kubemark` provider, consistently saw the error as below,
[code]

Verified that the number of daemonset is equal with `desiredPodCount`,  haven't went through the related code in detail, but I guess it's expected as the  `scale and update` of `daemonset` will recreate the pods so that Pod name will be updated?

[code]

**What you expected to happen**:
n

[2021-09-01 03:15] chendave commented on #1878
/cc @ruquanzhao

[2021-09-01 18:18] melnikalex opened #1880 "ClusterLoader2 - Steady State Tests"
**What would you like to be added**:
I want to run "steady-state" tests on kubernetes clusters to be able to compare regressions in clusters in context of different failure modes.

Some examples:
* Create deployments/secrets/configmaps for 6 hours
* Delete deployments/secrets/configmaps for 6 hours
* List deployments/secrets/configmaps for 6 hours

Obviously it wouldn't be wise to just create a re

[2021-09-01 20:07] shyamjvs commented on #1880
@wojtek-t @mm4tt Maybe something like the above already exists?

[2021-09-02 10:30] mm4tt commented on #1880
/assign @marseel

[2021-09-03 10:59] #1778 closed

[2021-09-03 10:59] #1779 closed

[2021-09-03 18:13] melnikalex commented on #1880
Added a quick PR that highlights what I'm personally looking for. Feel free to use it as inspiration, but I'm not attached to it in anyway and open to other approaches.

[2021-09-06 06:09] mborsz commented on #1823
/remove-lifecycle stale

[2021-09-06 07:30] mm4tt commented on #1880
I'm leaving it to Marcel, but my 2cents is that what you're asking for is kind of against the CL2 test API. The current idea behind the API is that you provide a "state the cluster should be in", via the phase step, and CL2 brings cluster to that state. IIUC what you're asking for, you'd like to have CL2 to execute some sequence of operations on the cluster for a provided time. This use-case might

[2021-09-06 11:10] wojtek-t commented on #1880
I agree with Matt here.

I think that what we're missing is exactly what @mm4tt described above, which is in the Phase API add some "repeat config" (we need a better name though):
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/api/types.go#L104

That would allow us to repeat certain things N times, for N hours or sth like that.

[2021-09-07 16:24] wojtek-t commented on #1828
/remove-lifecycle stale

[2021-09-10 15:03] #1533 closed

[2021-09-13 06:14] lixiaoyuner opened #1885 "the server is currently unable to handle the request"
**What happened**:

I set up a kubemark cluster. Like this:
[code]
I run this density test:
[code]
It runs into this error:
[code]
**What you expected to happen**:
I hope it can get SchedulingMetrics normally. How did it happen?

[2021-09-14 07:40] lixiaoyuner commented on #1885
/area clusterloader

[2021-09-15 11:40] wojtek-t commented on #1818
/remove-lifecycle stale

[2021-09-23 03:40] luwang-vmware opened #1895 "Parameterize/Template k8s control-plane metrics port and retrieving method"
**What would you like to be added**:
To make k8s control-plane metrics port or retrieving cmd parameterizing or as template, user could update the parameter values in a centralized location, in stead of updating the go source code.

**Why is this needed**:
clusterloader2 is a good framework and embeds good measurements and scenarios for testing.  When first using it, the code can not succeed to ru

[2021-09-23 07:19] luwang-vmware opened #1896 "support scheduler_latency in 3 control-plane cluster"
**What would you like to be added**:
scheduler_latency is scraping the scheduler metrics from the master scheduler pod/node. It works fine in 1 control-plane cluster. But in 3 control-plane cluster, scheduler pod could be dynamically running in any of 3 control-planes. The current code does not handle this scenario well at current phase. So asking whether there is plan to support it in 3 control-p

[2021-09-24 21:42] ameukam opened #1898 "Migrate sig-scalability jobs to k8s-infra"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

We should migrate away from Google scalability projects and use community-owned GCP projects.

We start first with the periodics.

Jobs to be migrated:

Merge-blocking:
- [x] ci-kubernetes-e2e-gce-scale-correctness : https://github.com/kubernetes/test-infra/pull/24080
- [x] ci-kub

[2021-09-27 10:00] tosi3k commented on #1848
/remove-lifecycle stale
/lifecycle frozen

[2021-09-29 11:49] mborsz opened #1905 "Numeric type inconsistency between CL2_* env variables and test overrides"
As test author I expect that the following calls are equivalent:

1. Env variable
[code]
2. Test override:
[code]

They are not, the first one creates "CL2_VAR" mapping with int64(14) value. The second one creates "CL2_VAR" mapping with float64(14) value.
This is tricky and may lead to subtle bugs like in https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/144

[2021-10-01 19:04] sanya301 commented on #1905
/assign

[2021-10-04 07:05] wojtek-t commented on #595
/remove-lifecycle rotten

[2021-10-06 14:24] mm4tt opened #1908 "CL2 doesn't distinguish between single pod and collection of pods deletion in api-latency measurement"
For example, a test can fail with:

[code]

The scope is namespaces, so it's actually a DELETECOLLETION call which shouldn't be a subject for 1s time limit.

In addition, the grafana dashboards should be changed to reflect this distinction. We should have separate graphs for resource level mutations (1s limit) and separate for collection mutations.

[2021-10-06 15:48] #1388 closed

[2021-10-08 07:08] #1713 closed

[2021-10-08 14:17] dmatch01 commented on #1027
Hi @marseel Do you know if the old SchedulingThroughput was ever removed or is it still active?  I still the source code in the main branch.

[2021-10-08 18:38] mborsz commented on #1898
@ameukam

ci-kubernetes-kubemark-500-gce failed with the same error today:
[code]
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1446454273704464384

That run used project: k8s-infra-e2e-boskos-scale-02

Can we increase quota there as well?

[2021-10-12 20:17] mborsz commented on #1898
Tests are still flaking: Example today: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1447784989184757760

It used k8s-infra-e2e-boskos-scale-02 again.

@ameukam, can we increase quota in all projects used in kubemark-500 tests?

[2021-10-25 21:17] MikeSpreitzer opened #1916 "Prometheus snapshots from testgrid should be publicly available"
**What would you like to be added**:
I would like everyone to have access to the Prometheus snapshot produced in a testgrid test (such as https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/105768/pull-kubernetes-kubemark-e2e-gce-big/1451176359819743232).  I would like the way to access it to be documented in an easy-to-find place.

**Why is this needed**:
What is currently available is on

[2021-10-27 20:44] tkashem opened #1920 "kubemark-500 test should not use exempt priority level"
**What happened**:

after analyzing the `httplog` entries from a kubemark-500 test job, we see a lot of requests using the `exempt` priority level.  Using a limited priority level with a concurrency limit (`workload-low` priority level for example) will put apf to the test.

If my calculation is correct, roughly 25% of the requests use the exempt priority level.

**What you expected to happen**:

[2021-10-28 15:31] tkashem opened #1921 "add a new test suite that exercises APF"
**What happened**:
Add a new test suite that exercises APF.

Folks shared some thoughts in the sig-scalability meeting:

- it should be separate test from load test, more like a reliability test
- how many in-flight requests do we have now? ~hundreds
- currently we set in-flight to ~600 and we reach ~300
- We can create a webhook that sleeps, for example `1s`.

What’s the goal of the test?
- obser

[2021-10-29 05:11] MikeSpreitzer opened #1922 "In clusterloader2, `--prometheus-scrape-kubelets=false` is not effective"
**What happened**:
My kubelet is only listening on the loopback address, so I told CL2 to not have Prometheus scrape it.  I launched CL2 as follows.

[code]

But it is hung at the point of repeating the following complaint.

[code]

Indeed, `kubectl get Endpoints -n monitoring master` shows that the list includes the following.

[code]

BTW, looking in https://github.com/kubernetes/perf-tests/blob

[2021-10-29 16:14] MikeSpreitzer opened #1927 "CL2: kube-apiserver has wrong port in master-endpoints.yaml"
**What happened**:
I tried enabling the prometheus server in clusterloader2, and it hung on startup with the following complaint.

[code]

It looks like that port number is coming from https://github.com/kubernetes/perf-tests/blob/d4c896470c6246838edde817dd41af04a181bd73/clusterloader2/pkg/prometheus/manifests/master-ip/master-endpoints.yaml#L19 .  On my control node, as usual, the kube-apiserver

[2021-10-30 14:00] #520 closed

[2021-11-01 15:38] MikeSpreitzer opened #1931 "CL2: LegacyIsMasterNode does not consider the configured "master" node name"
**What happened**:
I tried applying clusterloader2 to a cluster where the master node is named "127.0.0.1".  I passed `--mastername 127.0.0.1` on the command line, and that solved most of the problems, but the node-exporter support still complained "Error while setting up prometheus stack: node-exporter requires master to be registered nodes".  I tracked this down to the logic in https://github.co

[2021-11-02 14:08] wojtek-t commented on #1028
/remove-lifecycle stale

[2021-11-02 16:18] #1922 closed

[2021-11-02 16:19] #1927 closed, assigned to nobody

[2021-11-03 08:01] wojtek-t commented on #595
/remove-lifecycle rotten

[2021-11-03 08:47] wojtek-t commented on #1092
/remove-lifecycle rotten

[2021-11-03 09:17] wojtek-t commented on #1024
/remove-lifecycle stale

[2021-11-03 11:32] wojtek-t commented on #787
/remove-lifecycle rotten

[2021-11-11 21:13] #1835 closed

[2021-11-16 10:29] marseel commented on #1870
/remove-lifecycle stale

[2021-11-17 17:46] asm582 opened #1944 "Kube-perf tests do not extract scheduler metrics from custom schedulers"
**What would you like to be added**:
Kube-perf tests only extract metrics from the default scheduler. If users plugin different scheduler the gather measurement step is unable to extract complete metrics. Below are sample metrics from stateless workload obtained from user-defined scheduler which fail to capture all data points:
[code]

**Why is this needed**:

This is needed to extract scheduler p

[2021-11-17 19:40] asm582 commented on #1944
Thanks to contributions from @dmatch01

[2021-11-22 07:34] wojtek-t commented on #1096
/remove-lifecycle stale

[2021-11-22 07:35] wojtek-t commented on #1014
/remove-lifecycle stale

[2021-11-22 07:35] wojtek-t commented on #1595
/remove-lifecycle stale

[2021-11-22 11:55] #1746 closed

[2021-12-06 07:22] wojtek-t commented on #1823
/remove-lifecycle stale

[2021-12-06 10:30] #1706 closed

[2021-12-09 16:42] tkashem commented on #1921
based on the discussion from the scalability meeting on 10/28, some ideas were shared.

Test case:
- getting rid of all client side limits and speeding load test.

Simpler test case:
- Turn of all client side limits
- Finding good values for list and watch constants

We have 3 constants:
- List requests - 1 constant
- Watch requests - 2 constants
- Currently, our load test is not doing many list c

[2021-12-14 11:12] marseel commented on #1832
/remove-lifecycle stale

[2021-12-31 08:45] #1245 closed

[2022-01-04 19:58] wojtek-t commented on #1908
/remove-lifecycle stale

[2022-01-10 08:13] wojtek-t commented on #1027
/remove-lifecycle stale

[2022-01-11 08:58] tosi3k opened #1965 "Extract common logic from the Prometheus-based measurements unit tests"
Clean up the Prometheus measurements unit tests by extracting common logic used in the test files, so one does not have to copy-paste much of the code between the unit tests.

/kind cleanup

[2022-01-13 08:09] #1696 closed

[2022-01-15 19:32] #1873 closed

[2022-01-17 07:09] wojtek-t commented on #617
/remove-lifecycle stale

[2022-01-17 09:53] marseel commented on #1859
/remove-lifecycle stale

[2022-01-21 20:18] alculquicondor commented on #799
/assign

[2022-01-21 20:24] alculquicondor commented on #799
Let me know if this plan makes sense:
1. Add a `WaitForJobsCompleted` measurement method
2. In the load test:
    - Switch the image from `pause` into something that just finishes. Is there an image I can use? Simplest thing is a busybox with command `exit 0`, but let me know if I should add a new image.
    - Remove the `WaitForRunningJobs` identifier from `WaitForControlledPodsRunning`
    - Add

[2022-01-24 07:34] wojtek-t commented on #799
I'm actually reluctant to changing that in the current load test. We make some assumptions about number of pods etc.
I think we should have a new (more batch-oriented) test for it.
We may decide to merge them eventually, but I don't think we're there yet.

@mborsz - FYI

[2022-01-24 14:14] wojtek-t commented on #1311
/remove-lifecycle stale

[2022-01-24 16:58] jprzychodzen commented on #799
I agree with splitting Jobs to another test. Currently we are strongly depending on number of Pods and changing that during the test can generate unstable results.

As  mentioned in https://github.com/kubernetes/enhancements/pull/3113 and https://github.com/kubernetes/enhancements/pull/3111 understanding performance metrics should require monitoring values in metric **job_sync_duration_seconds** (

[2022-01-26 07:33] wojtek-t commented on #1920
/remove-lifecycle stale

[2022-01-26 15:39] marseel commented on #1916
/remove-lifecycle stale

[2022-01-29 04:10] #1878 closed

[2022-01-31 14:51] wojtek-t commented on #1028
/remove-lifecycle stale

[2022-02-01 09:53] wojtek-t commented on #1024
/remove-lifecycle stale

[2022-02-03 12:03] #1880 closed

[2022-02-04 17:14] #1828 closed

[2022-02-14 06:43] ameukam commented on #1898
/remove-lifecycle stale

[2022-02-14 11:31] marseel commented on #1870
/remove-lifecycle stale

[2022-02-14 23:21] bbarnes52-zz opened #1990 "Support external prometheus deployments"
**What would you like to be added**:

The ability to use a preexisting Prometheus deployment for collecting measurements. The cluster on which we run clusterloader is already monitored by Prometheus, ideally we would just provide configuration to clusterloader to discover the existing deployment.

**Why is this needed**:

The current implementation works for us, but has created some unnecessary fr

[2022-02-16 10:19] asm582 commented on #1944
/remove-lifecycle stale

[2022-02-20 05:40] #1895 closed

[2022-02-20 08:40] #1896 closed

[2022-02-21 07:21] wojtek-t commented on #1096
/remove-lifecycle stale

[2022-02-24 10:05] Azipro commented on #1885
I met the same problem with you, may I ask you now have you been solved.

[2022-02-28 21:15] #1905 closed

[2022-03-03 13:40] marseel opened #2001 "Dnsperfgo image should be build in isolated environment"
Dnsperfgo is currently build on host machine and not in isolated environment: https://github.com/kubernetes/perf-tests/blob/edbd49ced99afdc71555a3d028cfbb8f46490f43/dns/dnsperfgo/Makefile#L13
then it's copied to image: https://github.com/kubernetes/perf-tests/blob/edbd49ced99afdc71555a3d028cfbb8f46490f43/dns/dnsperfgo/Dockerfile#L7

We should build binary in isolated env, just like we do for sleep

[2022-03-03 16:53] uroy-personal commented on #2001
Hi @marseel ,
I am interested to work on this. If it is not being worked upon at the moment, please let me know.

[2022-03-03 17:57] marseel commented on #2001
Sounds good.
/assign @uroy-personal

Let me know if you need any help. Easiest way to contact me is on Slack.

[2022-03-03 19:01] uroy-personal commented on #2001
Thanks @marseel , I will reach out to you on Slack.

[2022-03-07 07:04] wojtek-t commented on #1823
/remove-lifecycle stale

[2022-03-07 11:47] wojtek-t commented on #1024
This seems to be duplicate of https://github.com/kubernetes/perf-tests/issues/1311

Closing in favor of that one, as the other has a lot more information.

[2022-03-07 11:47] #1024 closed

[2022-03-07 11:59] wojtek-t opened #2006 "Pod startup time phases are inaccurate in longer tests."
gatherScheduleTimes:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go#L268
is currently listing events at the end of the test.

Given that events by default have 1h TTL, for measurements across longer periods it just returns incomplete results. Given that we don't 100% accuracy, we should switch to a mechanism that is similar to

[2022-03-07 12:02] wojtek-t commented on #1311
I was wondering about why the actual graphs in perf-dash are counter-intuitive and I filed #2006 for that. This explains why the phases that involve schedule time seem much better than they are in reality.

[2022-03-08 04:03] uroy-personal commented on #2001
Thanks @marseel  for providing me the opportunity to work on the issue. I learned a lot in this project. I have raised a pull request (https://github.com/kubernetes/perf-tests/pull/2011) for the fix. Please have a look to the changes and suggest potential modifications needed.

Thanks again.

[2022-03-08 17:30] #1944 closed

[2022-03-09 09:47] wojtek-t commented on #1311
The finding from the experiment of increased scheduling throughput:
- pretty much nothing changed in terms of metrics
- the reason seem to be: https://github.com/kubernetes/kubernetes/issues/108606

[2022-03-09 11:02] #2001 closed

[2022-03-09 11:59] sourikghosh commented on #2006
/assign

[2022-03-14 15:48] marseel commented on #1832
/remove-lifecycle stale

[2022-03-17 13:09] #799 closed

[2022-03-21 09:15] zushaohua commented on #1885
met the same problem

[2022-03-21 09:16] zushaohua opened #2026 "I met the same problem with you, may I ask you now have you been solved."
I met the same problem with you, may I ask you now have you been solved.

_Originally posted by @Azipro in https://github.com/kubernetes/perf-tests/issues/1885#issuecomment-1049688515_

[2022-03-21 13:34] wojtek-t commented on #1311
With https://github.com/kubernetes/kubernetes/pull/108648 merged, we have mitigated the problem described above.

The outcome is that our pod-startup latency drastically dropped as visible on the graph:
![Screenshot from 2022-03-21 08-16-24](https://user-images.githubusercontent.com/10743879/159268430-bc9a6811-00ac-4417-b379-d18579ef8129.png)

Now we're at the point, that (for stateless pods, stat

[2022-03-22 03:15] ahg-g commented on #1311
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1505590326146895872

where can I find at the scheduler logs?

Perhaps they where placed on a newly scaled up node? by default the preference is to select nodes with lower usage.

[2022-03-22 07:50] wojtek-t commented on #1311
@ahg-g - you click at "Master and node logs" towards bottom of the page and then on the gcs link and then on the master and they are here:
https://gcsweb.k8s.io/gcs/k8s-infra-scalability-tests-logs/ci-kubernetes-e2e-gce-scale-performance/1505590326146895872/gce-scale-cluster-master/

Nope - this cluster has static size.

[2022-03-24 09:16] wojtek-t commented on #1311
I looked a bit more into and all long-starting pods I've seen were due to the fact there were a bunch of pods starting on a node at the same time. In other words - improving spreading should visibly help the situation here.

So the question is why we're spreading the pods so unequally here (e.g. in the last run 5k-test, in scheduling-throughput phase the 5k pods were scheduled on ~2850 nodes). And

[2022-03-24 19:39] uroy-personal commented on #1870
/assign

[2022-03-29 18:43] oprinmarius opened #2035 "Prometheus support for Azure"
**What would you like to be added**:
- Windows Exporter as a HostProcess container

- Node Exporter as a daemonset

- Add Azure-Disk drivers

- Update ssd storageClass to support azure-disk configuration

**Why is this needed**:

Currently GCloud SSH is being used to install WMI exporter on Windows nodes and to provision the node-exporter manifest on the master nodes.

part of https://github.com/k

[2022-04-02 09:07] #595 closed

[2022-04-02 10:08] #1092 closed

[2022-04-02 12:10] #787 closed

[2022-04-05 06:39] wojtek-t commented on #1908
/remove-lifecycle stale

[2022-04-06 08:32] irozzo-1A opened #2046 "NodeCounter does not take into account taints and tolerations"
**What happened**:
I ran the load test `testing/load/config.yaml` with clusterloader2 on a kubemark cluster with a control-plane I created with kubeadm.
[code]

When daemonsets were deployed, `wait_for_pods` got stuck as the number of expected pods was never reached, because the `NodeCounter` does not take into account the master node taint:

[code]

**What you expected to happen**:
Taints and tol

[2022-04-06 08:33] irozzo-1A commented on #2046
In case this is acknowledged I have a tentative fix to submit.

[2022-04-07 13:08] oprinmarius commented on #2035
/sig windows

[2022-04-11 08:53] marseel commented on #1027
/remove-lifecycle stale

[2022-04-11 11:41] Junkern opened #2047 "clusterloader2: Implement possibility to create resources (PSP, Role, RoleBinding) during startup"
**What would you like to be added**:

Some kind of hook/possibility to tell `clusterloader2` to create resources during startup, e.g. for setting up needed resources for a namespace.

**Why is this needed**:

We are loadtesting our dev-clusters (which are copies of our prod-clusters) to have some performance data. We are using PSPs for security (yes, they are deprecated, but we cannot migrate away

[2022-04-11 12:05] tosi3k commented on #1965
/remove-lifecycle stale

[2022-04-11 15:11] wojtek-t commented on #1921
/remove-lifecycle stale

[2022-04-19 12:24] marseel commented on #1859
/remove-lifecycle stale

[2022-04-21 08:34] #1014 closed

[2022-04-21 08:34] #1595 closed

[2022-04-25 12:46] wojtek-t commented on #1311
I played a bit more with this in https://github.com/kubernetes/kubernetes/pull/109067

In particular this run of 5k presubmit:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109067/pull-kubernetes-e2e-gce-scale-performance-manual/1517436913894559744

Let's focus purely on the `e2e-a6cf091dfb-bf35d-minion-group-1-75b5` node from that run.
For completeness here are the pods that were sc

[2022-04-25 13:56] wojtek-t commented on #1311
OK - so the assumption above is incorrect - allocatable from the e2-medium node:
[code]

So basically:
- 2 cpu
- 3866206208 bytes

[2022-04-25 17:45] tkashem commented on #1920
/cc @MikeSpreitzer

[2022-04-26 06:35] wojtek-t commented on #1311
So continuing the above:
- the e2-medium machines we're using from high-level perspective have (1cpu, ~4GB of RAM)
- the reason why less memory is than 4GB is this setting:
[code]
which effectively reduces the machine size by 250MB
- also, empirically I observer amount of memory sometimes exceed the 4GB by up to 100MB
- the machine itself observes 2 cores (even though it can't use two cores for th

[2022-04-28 16:03] wojtek-t opened #2054 "Check watch terminations from clusters loader tests"
One of the important metrics that may suggest overload of the control plane is the number of watches that are closed by kube-apiserver because they don't keep up (or watchcache itself is not keeping).
We want to add a check to our tests that will be validating if this metrics is not too high.

Metrics to exercise:
- https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/

[2022-04-28 17:06] marseel commented on #2054
I believe the easiest way is to add new prometheus query to GenericPrometheusQuery here: https://github.com/kubernetes/perf-tests/blob/1f00a7787f9f47bad251d4e791a0117ad6fe7e1d/clusterloader2/testing/load/modules/measurements.yaml#L122
instead of creating new measurement.

[2022-04-29 13:54] wojtek-t commented on #1311
OK - so the above moved us a long way (in fact got down to 5s for 100th percentile based on last two runs of 5k-node test).

That said, we're still high on the main "pod startup latency".

I took a quick look at the last run:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1519723567455932416

I took at O(10) pods with largest startup_time and almost all

[2022-05-02 05:49] wojtek-t commented on #1028
/remove-lifecycle stale

[2022-05-02 13:56] wojtek-t commented on #1311
With PR decreasing the indexing threshold in node-authorizer:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109067/pull-kubernetes-e2e-gce-scale-performance-manual/1521023813385457664

seems to no longer have those, but it didn't really move the needle...
It seems to now mostly boil-down to slow nodes on the container runtime side...

[2022-05-07 12:56] yangjunmyfm192085 opened #2058 "clusterloader2：Why do manifest file paths need to use $GOPATH ?"
**What would you like to be added**:
The file paths of the manifests removes $GOPATH
 use relative paths or `filepath.Abs(filepath.Dir(os.Args[0]))`
**Why is this needed**:
When the project is not located in the gopath, the file path will be incorrect, causing the manifests file to fail to load.
such as
https://github.com/kubernetes/perf-tests/blob/02574acce8edda0c6c490d9404972820ceb697cc/clusterl

[2022-05-11 15:53] #1921 closed

[2022-05-16 10:45] sionsmith opened #2067 "Docker build failing on netpref due to folder name"
[code]
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a netwo

[2022-05-16 17:53] anshulinteg commented on #2054
/assign

[2022-05-17 08:43] wojtek-t commented on #617
/remove-lifecycle stale

[2022-05-17 10:16] sionsmith commented on #2067
/assign @bowei

[2022-05-23 07:52] ameukam commented on #1898
/remove-lifecycle stale

[2022-05-23 10:53] wojtek-t commented on #1096
/remove-lifecycle stale

[2022-06-01 09:45] #2058 closed

[2022-06-02 15:32] #1818 closed

[2022-06-03 14:10] azylinski commented on #1908
I believe this could be fixed now. Few points:
 1) https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go#L407-L415 - this is incorrect - as mentioned in the title, the `DELETECOLLECTION` (which maps to `verb:DELETE scope:namespace`) should have `30s` threashold - in other words, there should be a simple, 1-1 mapping from sc

[2022-06-06 05:54] wojtek-t commented on #1823
/remove-lifecycle stale

[2022-06-08 08:50] FANHIDE opened #2081 "Delete Namespace sometimes failed"
**What happened**:
Failed to delete the namespace generated according to the prefix

**What you expected to happen**:
Always can delete namespace

**How to reproduce it (as minimally and precisely as possible)**:
`namespace:
  number: {{$namespacesNumber}}
  prefix: test
  deleteAutomanagedNamespaces: true
  enableExistingNamespaces: true`

**Anything else we need to know?**:

**Environment**: tes

[2022-06-08 08:55] JohnRusk commented on #2081
This may be relevant. https://github.com/kubernetes/perf-tests/pull/1874

(try listing all the events in one of the failed namespaces, to see if there is lots of them)

[2022-06-09 09:51] wojtek-t commented on #2006
/remove-lifecycle stale

[2022-06-09 11:59] #1908 closed

[2022-06-13 08:47] marseel commented on #1832
/remove-lifecycle stale

[2022-06-13 09:23] FANHIDE commented on #2081
Thx , It is not relevant.
I debugged, I found that sometimes delete the same namespace

[2022-06-16 09:26] #617 closed

[2022-06-18 02:45] tanmx commented on #1885
@Azipro @zushaohua have you been solved the promblem?

[2022-06-18 13:52] harshanarayana commented on #2006
@wojtek-t  Is someone working on this still or can I take a stab at this ?

[2022-06-19 13:49] Azipro commented on #1885
No....

[2022-06-19 13:49] Azipro commented on #1885
No....

[2022-06-21 08:49] #1965 closed

[2022-06-23 08:49] #2067 closed

[2022-06-23 17:40] marseel commented on #1870
/remove-lifecycle stale

[2022-06-28 03:12] neiba opened #2092 "apiAvailabilityMetrics.update need reset consecutiveFailedProbes when availability is true"
**What happened**:
https://github.com/kubernetes/perf-tests/blob/277b8658acc36883fd1efe5e68b3d7a9f252bcc9/clusterloader2/pkg/measurement/common/api_availability_metrics.go#L41-L51

should we set a.consecutiveFailedProbes = 0 when availability is true ?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Enviro

[2022-06-28 17:26] jayunit100 opened #2093 "windows performance test report"
This is a brain dump of what we'd like to output from a windows perf-test output that could be used, say with our operational readiness framework and or other upstream tests that marius is running...

1) Kubeproxy+CNI Bandwidth : Run the equivalent of the IPerf2 tests to confirm that our pod bandidth for Windows is similar to that of Linux ... Run an equivalent test to the iperf2 tests : ginkgo.fo

[2022-06-30 12:04] #2081 closed

[2022-07-01 04:46] harshanarayana commented on #2006
/assign

[2022-07-06 09:59] FANHIDE opened #2098 "Delete autonamespace will be over stress to apiserver"
**What happened**:
When I create autonamespace in a large number, delete namespace maybe over stress to apiserver,then apiserver will crash and then etcd cannot be compact, at the end the cluster will crash.

**What you expected to happen**:
delete auto namespace will not be over stress to apiserver

**How to reproduce it (as minimally and precisely as possible)**:
`namespace:
  number: 50000
  pr

[2022-07-11 05:59] wojtek-t commented on #1027
/remove-lifecycle stale

[2022-07-15 00:50] #1990 closed

[2022-07-18 13:34] marseel commented on #1859
/remove-lifecycle stale

[2022-07-26 07:01] marseel commented on #1916
/remove-lifecycle stale

[2022-08-01 10:09] panslava opened #2111 "Create WaitForServices step"
**What would you like to be added**:
On service creation, deletion, that would be nice to have a step, which waits for services to be created/deleted

**Why is this needed**:
Services of type 'LoadBalancer' provisioned not instantly, so it takes time to create/delete them
It became a problem for l4lb test, cause I needed to add sleep to wait for 100 ilbs to be deleted https://github.com/kubernetes

[2022-08-17 10:49] marseel commented on #2054
/remove-lifecycle stale

[2022-08-18 11:22] #2026 closed

[2022-08-25 16:52] marosset commented on #2035
/remove-lifecycle stale
/help

[2022-08-25 16:54] marosset commented on #2035
/remove-lifecycle rotten

[2022-08-29 06:46] #1683 closed

[2022-08-31 07:00] wojtek-t commented on #1028
/remove-lifecycle rotten

[2022-09-03 11:06] #2046 closed

[2022-09-15 10:31] wojtek-t commented on #1823
/remove-lifecycle stale

[2022-09-15 20:39] anson627 opened #2142 "netperf should support specify primary and secondary nodes"
**What would you like to be added**:
I would like to add a way to specify primary and secondary nodes for netperf testing, so I can test network performance btw two specific nodes in a k8s cluster

**Why is this needed**:
In a k8s cluster, there could be multiple node groups with different network hardware and configurations result in different connectivity/bandwidth

[2022-09-22 06:28] wojtek-t commented on #1920
/remove-lifecycle rotten

[2022-09-22 07:28] wojtek-t commented on #1096
/remove-lifecycle rotten

[2022-09-22 09:06] marseel commented on #1870
/remove-lifecycle stale

[2022-09-23 01:35] DavidQuan-vmware opened #2143 "k8s v1.23, the APIResponsivenessPrometheus some metrics cannot be collected compared with k8s v1.22 like "podsecuritypolicies" "podmonitors" "controllerrevisions" "csistoragecapacities csidrivers""
**What happened**:
For k8s v1.23, the APIResponsivenessPrometheus some metrics cannot be collected  compared with k8s v1.22, the metrics which cannot be collected as bellow :
"podsecuritypolicies"  "podmonitors" "controllerrevisions" "csistoragecapacities csidrivers"

**k8s v1.22 metrics:**
APIResponsivenessPrometheus_mgmt-cluster-perf_2022-06-24T05:52:17-07:00.json|grep podsecuritypolicies  -A13

[2022-09-29 07:51] wojtek-t commented on #2006
/remove-lifecycle stale

[2022-10-03 19:46] jyotibhanot opened #2148 "Sample tests are failing to create prometheus stack"
**Which jobs are failing**:
Prometheus is unable to create

**Reason for failure**:
[code]
Executing this command
`./run-e2e.sh cluster-loader2 --testconfig=./testing/load/config.yaml --nodes=100 --provider=aws --enable-prometheus-server=true --kubeconfig=${HOME}/.kube/config --v=2`

**Anything else we need to know**:

[2022-10-03 20:59] anson627 opened #2149 "Prometheus apiserver service monitor should support beartoken file and ca file"
**What would you like to be added**:
[code]
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml#L29

**Why is this needed**:
to avoid 401 unauthorized error for apiserver target scraping, we need be able to pass-in bearerTokenFile as in https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/ap

[2022-10-08 13:58] #2047 closed

[2022-10-12 12:32] jupblb opened #2158 "Make document comments compliant with Go 1.19"
**What happened**:
If we want to make our code compliant with Go 1.19 then there are some documentation changes that need to be applied. To see what is affected run `gofmt -w -s .` (using `go` 1.19) from e.g. `clusterloader2` directory and see the `git diff`.

**What you expected to happen**:
I expect mentioned `gofmt -w -s .` to change nothing.

**How to reproduce it (as minimally and precisely a

[2022-10-20 09:00] #1898 closed

[2022-10-20 16:28] eddycharly commented on #1832
I'm hitting the same issue, any workaround ?

[2022-10-21 05:06] leroylim20 opened #2170 "NetworkProgrammingLatency - NetworkProgrammingLatency error: got unexpected number of samples: 0"
**What happened**:
Getting consistent failed test

`NetworkProgrammingLatency - NetworkProgrammingLatency error: got unexpected number of samples: 0`

**What you expected to happen**:
Samples to be received for NetworkProgrammingLatency

**How to reproduce it (as minimally and precisely as possible)**:
Running Clusterloader2 on EKS > 1.20 with the following command

`./run-e2e-with-prometheus-fw-r

[2022-10-21 07:03] marseel commented on #2170
I am unfortunately unable to test it on EKS, but hopefully @shyamjvs can help

/assign @shyamjvs

[2022-10-21 09:46] marseel commented on #2170
As temporary workaround you can set `export PROMETHEUS_SCRAPE_KUBE_PROXY=false` before running CL2

[2022-10-31 09:19] marseel commented on #1916
/remove-lifecycle stale

[2022-11-02 12:41] marseel commented on #2111
/remove-lifecycle stale

[2022-11-02 12:50] marseel commented on #2092
yup, seems like it's a bug
/assign @tosi3k
/remove-lifecycle rotten

[2022-11-02 17:13] #2092 closed

[2022-11-03 17:21] hakuna-matatah opened #2176 "Pod startup latency calculation phases are not efficient and may result in error for larger clusters in ClusterLoader2"
**What happened**:

This line [here](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go#L285) results in throwing server side errors specially for larger load tests when events can't be listed from APIServer in one minute, reason being we have a default server side TTL for a request to be 60seconds:

[code]

**What you expected to

[2022-11-09 01:42] ankexiaozi opened #2185 "run-e2e-with-prometheus-fw-rule.sh statefulset job cannot complete"
Kubenetes1.19.4   kubemark testing
./run-e2e-with-prometheus-fw-rule.sh cluster-loader2 --testconfig=./testing/load/config.yaml --nodes=3 --provider=kubemark --enable-prometheus-server=false --kubeconfig=${HOME}/.kube/config --v=2

this   testing   command    the  statefulset  job   all  pod  is pending

is stuck at  this information

E1109 09:30:09.361624 1276232 kubemark.go:51] error when trying

[2022-11-09 01:42] ankexiaozi opened #2186 "run-e2e-with-prometheus-fw-rule.sh statefulset job cannot complete"
Kubenetes1.19.4   kubemark testing
./run-e2e-with-prometheus-fw-rule.sh cluster-loader2 --testconfig=./testing/load/config.yaml --nodes=3 --provider=kubemark --enable-prometheus-server=false --kubeconfig=${HOME}/.kube/config --v=2

this   testing   command    the  statefulset  job   all  pod  is pending

is stuck at  this information

E1109 09:30:09.361624 1276232 kubemark.go:51] error when trying

[2022-11-09 01:42] ankexiaozi opened #2187 "run-e2e-with-prometheus-fw-rule.sh statefulset job cannot complete"
Kubenetes1.19.4   kubemark testing
./run-e2e-with-prometheus-fw-rule.sh cluster-loader2 --testconfig=./testing/load/config.yaml --nodes=3 --provider=kubemark --enable-prometheus-server=false --kubeconfig=${HOME}/.kube/config --v=2

this   testing   command    the  statefulset  job   all  pod  is pending

is stuck at  this information

E1109 09:30:09.361624 1276232 kubemark.go:51] error when trying

[2022-11-09 01:50] #2187 closed

[2022-11-09 01:51] ankexiaozi commented on #2187
duplicate issue

[2022-11-09 02:06] ankexiaozi commented on #2187
![failed-error](https://user-images.githubusercontent.com/33085241/200719207-1ad9b537-a761-44f1-9b42-ec3a27ee4925.jpg)

[2022-11-09 02:21] ankexiaozi commented on #2187
![ssh-no-key-found](https://user-images.githubusercontent.com/33085241/200721441-c74e1b57-f9fb-4197-bda3-63257cc1b46c.jpg)

[2022-11-10 14:31] marseel opened #2192 "Kubemark presubmits are failing in perf-tests repository"
**What happened**:
![image](https://user-images.githubusercontent.com/2011575/201118302-bd0de4a7-7ac8-445d-9644-1d409333d13a.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-

[2022-11-13 17:43] bouaouda-achraf commented on #2054
/assign

[2022-11-15 00:45] jiefenghe opened #2195 "build access-tokens as multi-arch"
**What happened**:
https://github.com/kubernetes/perf-tests/tree/master/util-images/access-tokens is only built for amd64 today. Need multi-arch to support test arm64 nodepools.

**What you expected to happen**:
Build multi-arch docker images.

**How to reproduce it (as minimally and precisely as possible)**:
make

https://github.com/kubernetes/perf-tests/blob/master/util-images/access-tokens/Make

[2022-11-15 23:10] jlunaq opened #2197 "net.LookupHost making additional AAAA query"
Hello,
I'm using the dnsperfgo tool, and when I run it from the Docker container with bind-utils installed, I see that is making some additional AAAA queries for each record. Is there a way to workaround this?

[2022-11-16 07:31] marseel commented on #2197
Dorde, could you take a look at it as you are most familiar with dnsperfgo ?
/assign @dlapcevic

[2022-11-16 13:14] dlapcevic commented on #2197
Hi. The short answer is there is currently no configuration for it in dnsperfgo.

dnsperfgo uses the DNS resolver client which is configured to send both A and AAAA queries in parallel.
We would have to replace net.LookupHost, and use another library to avoid this.

In K8s, it is possible to configure `ndots` field of pods to reduce the scope of searchpath expansion, and also reduce the number of

[2022-11-16 14:39] wojtek-t commented on #2054
The only missing thing now is to enable the new measurement in our tests, right?

[2022-11-16 15:35] marseel commented on #2054
Enabling measurement and then based on results possibly adding alerting to it.

[2022-11-19 17:23] #1832 closed

[2022-11-21 07:45] wojtek-t commented on #1311
/remove-lifecycle rotten
/reopen

[2022-11-21 09:47] wojtek-t commented on #1027
/remove-lifecycle rotten

[2022-11-22 18:00] bzub opened #2204 "Descriptions of test suites"
**What would you like to be added**:

I'm looking for basic descriptions of each [test suite](https://github.com/kubernetes/perf-tests/tree/master/clusterloader2/testing). Do they exist?

One question specifically is regarding a comment in https://github.com/kubernetes/perf-tests/pull/1667#issuecomment-769642266

Is there an Issue or somewhere I can find more information about this depreciation? I

[2022-11-25 18:22] #2093 closed

[2022-11-29 09:05] marseel commented on #1028
Density test has been deprecated in favour of extended load test.