[2016-09-26 10:24] gmarek opened #4 "Move performance-related e2e tests to this repo"
Is is currently possible to have e2e tests in a separate repo, or do they need to sit in main kubernetes one? @kubernetes/test-infra-maintainers

cc @timothysc @wojtek-t

[2016-09-26 13:41] timothysc commented on #4
We should modify upstream to be less of a thunk and more of a library friendly design such that we can pull in what we need and move those tests out.

/cc @jayunit100 @jeremyeder

[2016-09-26 15:14] jeremyeder opened #5 "Basic needs for this repo to be useful"
At least:
- Which sig owns this repository
- An architecture discussion
- An agreed-upon automation framework
- Modularized to support also running on distributions of Kubernetes
- Modularized so there is no dependency on any cloud/infra
- Some understanding of how the merge queue works...don't want delays.
- Discussion around what tests to move from e2e
- CI of the tests within the repo
- Policy

[2016-09-26 16:02] zilman commented on #5
## (CLI) Conventions

Perhaps it doesn't have to be that way. I'd like to suggest the following;

- Python
- [Click](http://click.pocoo.org/5/) library
- Yaml

It looks like we'll have several projects contributing stuff and a lot of people will want to expose running a test in a nice way with a cli and maybe even as a subcommand of their project. I know I want that.

Aforementioned Click lets you

[2016-09-26 16:58] spxtr commented on #4
I would like e2e tests in a separate repo. There are some strong arguments against it, however. Now that we have a client repo I think it's much more feasible.

[2016-09-26 17:51] zilman opened #6 "Missing some files"
In [dnsperf](https://github.com/kubernetes/perf-tests/tree/master/dns/dnsperf):

But no such file.

In [netperf](https://github.com/kubernetes/perf-tests/tree/master/network/benchmarks/netperf) the images directory is missing so the graphics in the readme don't show up.

[2016-09-26 18:35] timothysc commented on #4
@spxtr I don't see how you can decouple a feature addition and a associated e2e as a pre-req on some PRs..

[2016-09-26 19:01] spxtr commented on #4
You add your feature to the main repo, along with thorough unit/integration tests. Then, you add a simple e2e test to the e2e repo. We'd need some way of saying "this e2e test should only pass on this version and later". This sort of layout would make a whole lot of our current problems disappear. Notably, upgrade testing would be *so* much easier.

Anyway, that's a bit off topic. For the question

[2016-09-26 20:15] timothysc commented on #4
Let's bring this up as a topic for @kubernetes/sig-testing too.

[2016-09-27 16:57] jeremyeder commented on #5
Meeting occurred, notes were taken:
https://docs.google.com/document/d/1x1r65mXbX_RgLA0HTlsb8QRQqW0xB5XSM1vrMb2naQo/edit

[2016-09-28 12:01] gmarek commented on #6
cc @girishkalele @thockin

[2016-09-28 12:02] gmarek commented on #6
@thockin - sorry for assigning this to you, but you have the most context here.

[2016-09-28 12:52] gmarek commented on #5
@zilman - there will be very different things here, e.g. running kubemark will be drastically different than running cluster-loader or dedicated component benchmarks and not all of them will have it's own CLI. Kubemark uses `kubectl`, dedicated benchmarks and e2e tests will probably use framework from the main repo, etc. OTOH cluster loader probably should have a CLI, but I don't think it will be

[2016-09-29 06:17] thockin commented on #6
Cleanup on aisle 3.

[2016-10-03 16:43] pskrzyns commented on #5
For the existing e2e tests(density, load) i.e. density test: ```should.allow.starting.100.pods.per.node``` it would be nice to switch them to: ```should.allow.starting.10.pods.per.core``` and during the test calculate how many pods should be running on the single node. At this moment biggest density test is 100 pods per node so in case of running it on bare metal(depending on hardware configuratio

[2016-10-03 19:50] jeremyeder commented on #5
@sjug is going to discuss the first part of this at the @kubernetes/sig-testing tomorrow, Tue Oct 4.  And then in further depth at the @kubernetes/sig-scalability meeting on Thursday Oct 6, which we've agreed will own the "perf-tests" repo.

[2016-10-03 20:00] jeremyeder commented on #6
We have a really good set of network tests that perform similar functions.  Is this particular test set in stone?  Or is it an option for us to contribute ours?

https://github.com/openshift/svt/tree/master/networking/synthetic

[2016-10-03 20:03] thockin commented on #6
Contributions welcome

On Mon, Oct 3, 2016 at 1:00 PM, Jeremy Eder <notifications@github.com>
wrote:

[2016-10-04 07:04] gmarek commented on #5
@pskrzyns - I don't think 10pods/core are already supported by Kubelet (@yujuhong), plus this issue is about moving tests to separate repo, not updating them:)

[2016-10-04 08:37] gmarek opened #7 "Setup mungers for this repo"
We need a couple of mungers running in this repo:
- CLA bot
- build/gofmt/golint bot
- unit test bot (we'll probably have some unit tests for frameworks here)

cc @kubernetes/sig-scalability @apelisse

[2016-10-04 16:35] yujuhong commented on #5
Agreed. For the pods per core discussion, please move it to the original issue: https://github.com/kubernetes/kubernetes/issues/25762

[2016-10-05 04:15] apelisse commented on #7
I've seen this. Of all these tasks, mungebot would only take care of CLA (and we're wondering how this will scale across many differents repos with @foxish).

I would recommend using travis for the second and maybe third bullet points, but cc @kubernetes/sig-testing that may have a different opinion

[2016-10-05 08:42] gmarek commented on #7
@apelisse thanks for the info. Please let me know as soon as you know if CLA bot will be able to take care of this repo.

I'm completely unfamiliar with setting up travis on repos - do you have any pointers?

[2016-10-05 17:06] spxtr commented on #7
Travis is pretty simple to set up. You can take a look at test-infra's [.travis.yml](https://github.com/kubernetes/test-infra/blob/master/.travis.yml), but that's mostly for python code.

If you want easy integration with the rest of our tools you can look into adding your repo to [this file](https://github.com/kubernetes/test-infra/blob/master/ciongke/jobs.yaml) along with a Jenkins job that look

[2016-10-06 13:34] gmarek commented on #7
Thanks @spxtr - do you know what is the current policy/way of vendoring dependencies?

[2017-01-03 02:11] CodeJuan opened #19 "404, network/benchmarks/netperf/images/BenchmarkingKubernetesNetworkingPerformance.svg"
In [network/benchmarks/netperf/README.md](https://github.com/kubernetes/perf-tests/blob/master/network/benchmarks/netperf/README.md), the urls of
[svg, e.g. netperf.svg & BenchmarkingKubernetesNetworkingPerformance.svg](https://github.com/kubernetes/perf-tests/raw/master/network/benchmarks/netperf/images/netperf.svg) are 404

Thanks :smile:

[2017-01-13 21:43] orangefuzzball opened #21 "Docker image ``girishkalele/netperf-latest`` has mssStepSize set to 1 not 64"
Attempting to run the netperf tests, the image ``girishkalele/netperf-latest`` is pulled.  If you look at the output, mssStepSize appears to be set to 1, not 64.  That will make the tests take *forever*.

[code]

[2017-01-13 22:42] bowei opened #22 "Update DNS perf tests to use RBAC"
1.6 enables RBAC by default which causes non-`kube-system` kube-dns instances to no longer work. The test needs to create RBAC authorization for the test.

[2017-01-28 13:45] shyamjvs opened #26 "Travis is unhappy"
Seems like Travis is failing always due to `go get ./...` and `go test ./..` commands run against the repo.
This is because we use glide as our dep manager instead of godep in `clusterloader` which works differently.
We need to fix this by doing one of the following:
- Use glide's get and test equivalents for clusterloader and go for all the other directories
- Move clusterloader to godep, so we h

[2017-02-15 16:06] zihaoyu opened #28 "dns perf test throws error"
I'm running DNS perf test against existing kubedns installation. Client pod was created successfully.

[code]
Also, path to `tar` binary is hardcoded to `/bin/tar`. However on Mac it is `/usr/bin/tar`. Maybe it is a good idea to add some flexibility there.

[2017-02-15 16:07] zihaoyu commented on #28
@bowei

[2017-02-15 20:09] zihaoyu commented on #28
Just poked around, seems like `gcr.io/google_containers/kube-dns-perf-client-amd64:1.1` works. In the [YAML file](https://github.com/kubernetes/perf-tests/blob/master/dns/cluster/dnsperf.yaml#L22) it still uses `1.0` image.

[2017-02-16 10:39] gmarek commented on #26
@sjug - it's failing on Godeps for cluster loader. Can you fix that?

[2017-02-16 10:48] #28 closed

[2017-02-21 15:30] dohnto opened #32 "netperf: result interpretation"
Hello, I have run the _netperf_ with following results.

[code]

I struggle with result interpretation and have a few questions:

1. Why is UDP so much slower than TCP?
2. How can UDP using Virtual IP can be faster from remote than from same VM? (lines 7 and 9)

Thank you for help

[2017-02-22 12:19] gmarek commented on #32
@thockin @bprashanth

[2017-02-22 12:22] gmarek commented on #21
@orangefuzzball - we lost an owner for netperf. If you're willing to do the changes I can build the image and push it to some public repo.

[2017-02-22 12:29] gmarek commented on #19
Yeah... they're not there, probably because of .gitignore rules. As we lost an owner @girishkalele and I don't think I have any idea how to recover those diagrams. Sorry :(

@thockin @matchstick - do you have those diagrams anywhere by any chance?

[2017-03-03 17:30] gmarek commented on #32
cc @bowei

[2017-03-17 09:26] dohnto commented on #21
The master is fine, but  the docker image is not working (probably build from older master).

[2017-03-18 16:39] dohnto opened #35 "netperf: MSS not passed to iperf3"
## How to reproduce

In 1st terminal:

[code]

In 2nd terminal, during the tests
[code]
[code]
[code]

Note the last argument of  `iperf3` the `-M` argument. The value passed to iperf -M is meant to be a unsigned. `iperf` unfortunately does not fail, and silently sets MSS to default.

## Expected behaviour

Argument to `-M` is passed as an integer.

[2017-03-22 00:03] #35 closed

[2017-03-27 09:42] gmarek commented on #21
@bowei

[2017-03-28 20:13] bowei commented on #21
@gmarek did the image ever get updated?

[2017-04-03 08:01] gmarek commented on #21
I didn't to anything, so if no one else did, then no.

[2017-04-07 11:40] jonaskint opened #39 "DNS perf crashing on simple test"
Hi, I'm currently trying to benchmark our internal kubernetes dns with the perf tool and play with the dnsmasq settings. A simple run crashes instantaneously and I'm not sure if it's me that misread the docutmentation or if it's a bug. Here is a sample of the output:

[code]

I see the `kube-dns-perf-client` pod spinning up but it shuts down after 2 seconds.

[2017-04-08 00:04] bowei commented on #39
let me take a look

[2017-04-13 12:28] sjug commented on #26
@gmarek `clusterloader` has it's own vendor directory in `./clusterloader` that seems to be the issue.

I'm not sure why the package has issues I'm taking a look into it now, but in the meantime maybe: https://github.com/golang/go/issues/11659#issuecomment-171678025
[code]

[2017-04-20 16:51] timothysc commented on #26
godep smashing e2e staging dep-tree of doooom -
https://github.com/kubernetes/kubernetes/issues/43246#issuecomment-291532473

[2017-04-24 15:51] sjug commented on #26
@timothysc even with your solution I'm still seeing errors around containernetworking, specifically:

[code]

[2017-04-25 13:27] jayunit100 opened #41 "Outline incubation of a synthetic API component generator."
Scheduler_perf as well as this repo use generic, opionated template based approaches to making pods.

- In scheduler_perf, we've come up w/ an initial struct idea to that can be mutated in a pipeline.

- In this repo, templates are used and modified/spread around the cluster.

A software library that generates arbitrary cluster setups w/ pods and nodes , maybe other stuff (services), that is fully

[2017-04-25 14:04] jayunit100 commented on #41
cc @ravisantoshgudimetla

[2017-05-04 07:47] gmarek commented on #26
@sjug - after @wojtek-t fixes it seems that godep issue is gone. The thing that's wrong now is a failing test.

[2017-05-04 08:59] gmarek commented on #26
Oh, sorry - actually now I see that you treat cluster-loader test as an unit test, which is wrong because we assume that unit tests can be run by travis (which is not true for clusterloader). Please refactor the code, so that it'll be run main binary (somehow) by some script (similarly to what we do in `kubernetes/test`)

[2017-05-04 10:25] wojtek-t commented on #26
Actually, this is exactly the same mechanim we are using in main repo (e2e.go and e2e_test.go). We just shouldn't run it with Travis.

[2017-05-04 11:31] wojtek-t commented on #26
I will send a PR to fix this within next few minutes.

[2017-05-04 12:03] #26 closed

[2017-05-05 17:17] jtuthehien commented on #39
You are probably running on OSX which doesnt have bin/tar by default

[2017-05-15 15:31] shyamjvs opened #58 "Update compare tool to read metrics from JSON files"
With recent changes in our CI test framework, we now log all metrics data into individual JSON artifacts.
In PR https://github.com/kubernetes/perf-tests/pull/57 we updated benchmark tool to read metrics from JSONs, and it has eliminated almost the entire vendor code (-63 MB in size).
We should do the same for compare tool as well.

cc @gmarek

[2017-05-15 15:51] wojtek-t opened #59 "ClusterLoader e2e tests are not uploading artifacts"
I guess these might be some permission issues.

[2017-05-15 15:51] wojtek-t commented on #59
@gmarek @sjug

[2017-05-15 15:51] wojtek-t commented on #59
@gmarek @sjug

[2017-05-16 08:07] gmarek commented on #59
@kubernetes/test-infra-maintainers

[2017-05-16 14:17] krzyzacy commented on #59
where does it put artifacts to?

[2017-05-16 14:20] wojtek-t commented on #59
@krzyzacy - I'm talking about regular artifacts from k8s cluster.

The pattern for this test is as following:
- start kubernetes cluster (as we do everywhere)
- instead of running tests from main repo, run something different
- tear down kubernetes cluster

We are missing logs from the kubernetes clusters (i.e. apiserver, scheduler, ...). I'm not talking about anything specific to our tests.

[2017-05-16 14:27] krzyzacy commented on #59
[code]

maybe ssh issue, I'll double check prow config

[2017-05-16 15:55] krzyzacy commented on #59
it fix the ssh but still did not have those logs... I think it's because the test did not use bootstrap-e2e-master?

[2017-05-16 16:04] wojtek-t commented on #59
What is bootstrap-e2e-master?

[2017-05-16 16:13] krzyzacy commented on #59
bootstrap-e2e should be the default cluster name.

logs like apiserver resides in bootstrap-e2e-master node for regular e2e jobs, like http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce/8488/artifacts/bootstrap-e2e-master/, as far as I know.. I'm not sure where the apiserver log is generated from though..

[2017-05-25 09:44] shyamjvs opened #62 "ClusterLoading CI test failing"
PR https://github.com/kubernetes/perf-tests/pull/55 broke it:

[code]

cc @sjug @wojtek-t

[2017-05-27 21:20] sjug commented on #62
It's referencing `${clusterloader_dir}/content/pod-pause.json` which exists in the git repo [here](https://github.com/kubernetes/perf-tests/blob/master/clusterloader/content/pod-pause.json).

[2017-05-31 07:07] #62 closed

[2017-08-15 06:07] dohnto opened #73 "Network test: cannot resolve host ftp.netperf.org"
Hello, in [Dockerfile](https://github.com/kubernetes/perf-tests/blob/22b9bb6ca0595a60bb2986b6312d2fd0fc7b1476/network/benchmarks/netperf/Dockerfile#L34) of network benchmark there is a link to download `tar.gz` with netperf code, this address seems not to exists anymore.

[code]

Dockerfile should be updated with new location.

[2017-08-17 09:33] gmarek commented on #73
@bowei

[2017-08-21 15:16] mr-joshua commented on #73
netperf.org redirects to -> https://hewlettpackard.github.io/netperf/ where the following is announced:
[code]
In the Docker file change line 34 from:
[code]
to the new link from github:
[code]
Note - added the rename command because they new archive untar's to netperf-netperf-2.7.0 to maintain further logic.

[2017-08-28 09:56] gmarek commented on #73
@mr-joshua - can you send a PR?

[2017-09-13 14:25] johscheuer opened #76 "Cluster Loader setting image fails"
Hi,

I wanted to use the cluster loader to stress test our cluster sadly I can't change the Docker image. I use the following config and just execute `./run_e2e.sh` (notice that the docs here are wrong --> no glide is needed only the `./run_e2e.sh` command)

[code]

I would now assume that the cluster loader uses the ` nobody-cares` image but instead it uses the default image `gcr.io/google_contai

[2017-09-13 16:22] mr-joshua commented on #73
@gmarek PR submitted:  https://github.com/kubernetes/perf-tests/pull/74

[2017-09-14 07:16] johscheuer commented on #76
I found the mistake that I did: you have to adjust the specs in the content directory: https://github.com/kubernetes/perf-tests/tree/master/clusterloader/content. Actually I think this behaviour is a little bit unexpected and confusing. If the image is set and a file is specified the image of the file should be overwritten?

[2017-09-14 12:37] sjug commented on #76
Hey @johscheuer, if you have both the image and the file defined for the
pod it will take the spec from the file.

On Thu, Sep 14, 2017, 3:17 AM Johannes Scheuermann <notifications@github.com>
wrote:

[2017-10-09 14:57] bobbytables opened #77 "Network README needs Usage"
There's not a clear usage section in the Network perf test. Unless you know how to write Go, it's pretty hard to understand.

[2017-10-11 06:45] #73 closed

[2017-10-14 16:24] johscheuer commented on #76
Thanks, was a little bit confusing

[2017-10-14 16:24] #76 closed

[2017-10-26 20:30] johscheuer opened #81 "Distribute pods for network-tests based on nodelabels"
For our tests cases we want to distribute the pods based on nodelabels e.g. `failure-domain=rack`. This allows us to test rack specific network performance and over rack network performance (or other combinations).

There are two possible ways to achieve this:

1.  Use the PodAntiAffinity of Kubernetes
2. Implement a simple `NodelabelSelector` routine (this keeps the programs logic)

Approach 2 sh

[2017-12-12 16:13] jcsirot commented on #21
For those who do not want to rebuild an image, I've published an updated one on sirot/netperf-latest

[2017-12-28 11:58] #5 closed

[2017-12-28 12:00] #7 closed

[2018-01-08 11:17] gmarek commented on #77
cc @bowei

[2018-01-09 10:16] shyamjvs commented on #58
/remove-lifecycle stale
/lifecycle frozen

[2018-02-16 00:47] #4 closed

[2018-02-16 00:47] #6 closed

[2018-02-18 10:44] #22 closed

[2018-02-19 11:07] #19 closed

[2018-02-19 19:15] #32 closed

[2018-02-21 17:01] #41 closed

[2018-02-22 03:10] #39 closed

[2018-02-22 12:20] #59 closed

[2018-03-01 22:09] felipejfc commented on #21
thanks @jcsirot

[2018-03-12 18:29] #77 closed

[2018-03-14 04:54] K7king opened #96 "Missing dependencies- Client-go"
I tried to perform network  performance test [module.](https://github.com/kubernetes/perf-tests/tree/master/network/benchmarks/netperf) In launch.go there were dependencies of client-go.I tried to get client-go from https://github.com/kubernetes/client-go . It has various version issues.

Can someone help to get  the correct dependencies needed to perform the test ?

[2018-03-21 10:29] #96 closed

[2018-03-25 21:38] #81 closed

[2018-04-06 07:09] mkoderer opened #105 "netperf Makefile builds wrong binaries under mac"
Problem:
---------
docker run girishkalele/netperf-latest
standard_init_linux.go:190: exec user process caused "exec format error"

To make this working nptest must be crosscompiled for linux and launch.go must be compiled for Mac.

[2018-04-23 18:56] shyamjvs opened #116 "Perf-dash graphs for test-phase times blank"
Taking a look at [perf-dash](http://perf-dash.k8s.io/), I'm seeing that we're not generating any graphs for `TestPhaseTimer` metric even though we have the data available as JSON files in the job's artifacts.

For e.g consider graph `gce-100Nodes-master-DensityTestPhaseTimer` which is empty. But from a run of the job, I find the data available:

- https://storage.googleapis.com/kubernetes-jenkins/

[2018-04-27 13:58] krzysied commented on #116
/close

[2018-04-27 13:58] #116 closed

[2018-04-27 13:59] krzysied commented on #116
Fixed in https://github.com/kubernetes/perf-tests/pull/117

[2018-05-16 07:59] #105 closed

[2018-05-24 14:39] jessfraz opened #126 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 16:44] dkusidlo opened #127 "Netperf. Gather CPU usage for each job."
When running network performance tests one bottleneck for bandwidth can be CPU. Therefor it would be helpful to gather information of CPU usage for each job to identify related issues.

[2018-06-08 13:45] dkusidlo opened #130 "Netperf overwrites results when running multiple iterations."
When running multiple iterations for the netperf test the results of each iteration get overwritten by the next one. Netperf only writes to one csv-file without respecting existing data in it.

[2018-06-18 19:08] shyamjvs opened #132 "Plot scheduler throughput and latencies on perf-dash"
With some recent changes, we've now started to capture scheduler metrics ([e.g](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/167/artifacts/SchedulingMetrics_density_2018-06-15T23:31:48Z.json)) in our scalability tests. We need to plot those values over time.

cc @kubernetes/sig-scalability-misc @kubernetes/sig-scheduling-misc

/assign @krzysied
Krz

[2018-06-19 08:15] krzysied commented on #132
@shyamjvs - Sure.

[2018-06-19 17:48] shyamjvs commented on #132
One more thing - could you merge `SchedulerLatency` and `SchedulerThroughput` dashboards into a single one named `SchedulerMetrics` and have the individual metrics split by labels? Let me reopen this issue so we don't forget to do that.

[2018-06-22 14:36] shyamjvs opened #137 "Take perf-dash to v1.0"
We've made several improvements to [perf-dash](http://perf-dash.k8s.io/) in the past few months (thanks a lot @krzysied for the work!). I think it's time to make some final improvements and cut the first major release (1.0). Mainly, let's make using it easier (even for non-scalability folks - for e.g release team has been asking for it). Some work-items that come to my mind:

- Split the graphs ba

[2018-06-22 14:57] krzysied commented on #137
What a coincident... #138

[2018-06-25 16:18] krzysied commented on #137
I've looked into this. The units are implemented, but there is a typo in https://github.com/kubernetes/perf-tests/blob/7881ce52d23d547e813e2ac6b6aa8870525e11c3/perfdash/www/script.js#L81
I will add fix after #138 is merged.

[2018-06-28 10:56] #130 closed

[2018-06-29 11:03] #127 closed

[2018-07-03 10:11] krzysied commented on #132
TBH, I'm not a fan of this idea. SchedulerLatency and SchedulerThroughput are two separate metrics and in my opinion they shouldn't be merged.
Currently, we divide results into two-level groups - <job_name; metric_name>. Merging SchedulerLatency and SchedulerThroughput doesn't translate well to these assumed groups. Merging these metrics will result in SchedulerThroughput having additional dimensi

[2018-07-05 13:01] krzysied commented on #137
With #149 being icing on the cake, I think we are ready to make 1.0 release.
@shyamjvs  Is there anything that should be added before making it 1.0?

[2018-07-05 13:21] shyamjvs commented on #137
Yes, it looks great - waaay better than before. Thanks @krzysied!
Could you make one final change of adding "Runs over time" label to the x-axis in the graphs? We can bump it to 1.0 after that.

[2018-07-06 13:36] shyamjvs commented on #137
Closing this with the final change merged. Thanks!
/close

[2018-07-06 13:36] #137 closed

[2018-07-13 14:09] shyamjvs commented on #132
I guess this has been discussed offline and it's clear now what I was suggesting (i.e not merging both plots into one single graph, but just split them into SchedulerMetrics category).

I'm closing this issue with all the needed changes in. Scheduler latency and throughput metrics are now available on perf-dash.k8s.io
Thanks @krzysied.

[2018-07-13 14:10] #132 closed

[2018-07-30 00:37] #21 closed

[2018-10-03 12:11] wojtek-t opened #238 "ClusterLoader: Combine provider specific code in a single place"
There are multiple measurements that introduce provider specific code, e.g.:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/etcd_metrics.go#L95
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/scheduler_latency.go#L178

Those should be extracted from measurements to a separate single location.

@shyamjvs

[2018-10-15 13:24] krzysied opened #246 "ClusterLoader: HA cluster support"
Currently clusterloader supports only single-master cluster. This should be changed - clusterloader should handle multiple masters.

[2018-10-15 13:30] wojtek-t commented on #246
It's not about cluster-loader per-se.

It's about some of the measurements, that aren't really HA-friendly.

[2018-10-16 11:42] krzysied opened #248 "ClusterLoader: ResourceUsageSummary should support constraints"
ResourceUsageSummary should take resource constraints as a parameters.
Handling for constrains should be done in the same way as is original scalability tests.

[2018-10-16 12:13] krzysied opened #249 "ClusterLoader: Move ClusterConfig global to MeasurementManager structure"
`ClusterConfig` is currently a global variable in `pkg/measurement` package. This variable should be a `MeasurementManager` field.

[2018-10-16 14:52] keontang opened #251 "ClusterLoader：need to suport get etcd mtrics by cert file"
I have a v1.11.2 k8s cluster with an etcd cluster which enables auth by cert file.
When i run clusterloader2, EtcdMetrics measurement failed to get etcd metrics by http:

https://github.com/kubernetes/perf-tests/blob/f7ae8630a0d06f5ecd141d5d08d3bfdb9cec4e88/clusterloader2/pkg/measurement/common/etcd_metrics.go#L100

[code]

[2018-10-17 21:21] orsoly opened #254 "Clusterloader2 is not compatible with go v1.11"
I'm trying to upgrade go version to 1.11, but the Travis CI fails. The merge of pull request #229 created this problem.

The error output of ./verify/verify-gofmt.sh
[code]
These two files have problem with indentation.

- resource_usage.go in line 83 and 84
- resource_gather_worker.go in line 56

[2018-10-19 10:36] wojtek-t opened #261 "ClusterLoader2 bundle should assume that "bundle is bundle""

[2018-10-19 11:08] krzysied commented on #254
@orsoly I cant't fix clusterloader2 files cause there are correctly formatted (according to the current go version). Could you run `gofmt -w` on  `./clusterloader2/pkg/measurement/common/resource_usage.go` and `./clusterloader2/pkg/measurement/util/gatherers/resource_gather_worker.go` and commit those changes as a part of your RP, please?

[2018-10-19 14:09] orsoly commented on #254
@krzysied, thanks for your answer. I created a commit in my PR that fixes these errors.

[2018-10-21 16:02] #126 closed

[2018-10-24 09:43] #254 closed

[2018-10-26 11:48] krzysied opened #269 "ClusterLoader: Using shared podStrore"
Creating multiple podStores at the same time result in some podStores not being created. Measurements should use shared podStore instead of creating multiple podStores to avoid this problem.

[2018-10-31 10:31] krzysied opened #275 "ClusterLoader: add String() to measurements"
Measurement interface should have String() method. All measurements should implement String() method that returns string representation of a given measurement instance.

[2018-10-31 13:18] krzysied opened #276 "ClusterLoader: Fix error propagation in measurement"
Some errors in measurement should be logged, some cause measurement to fail and some cause test to fail.

Listed measurement should have error propagation fixed before moving test from `/test/framework` to clusterloader2:
- [ ] WaitForControlledPodsRunning
- [ ] WaitForRunningPods
- [ ] APIResponsiveness
- [ ] PodStartupLatency
- [ ] SchedulingMetrics

[2018-11-06 13:07] krzysied opened #281 "ClusterLoader: adding overrides to test configs"
Cluster loader test configs should support overrides:
- There should be a way to pass value to variable through the test call.
- If value is not provided, default (specified in config) should be used.

[2018-11-07 18:20] jberkus opened #287 "Timescale for Perf dashboards needs to be configurable"
Yesterday, we were trying to determine if the golang upgrade had adversely affected performance.  The Perf dashboard was not in any way useful for this, which was disappointing and effectively led to a 1-day delay in releasing the beta.

The primary problem is that the timescale for the perf dash is not configurable, so it's not possible to get useful information out of it to examine specific chan

[2018-11-07 18:27] jberkus opened #288 "Need "key metrics" for Perf dashboard"
Once #287 is resolved, the other thing we need for the Perf dashboard to be useful to the Release Team and the broad population of contributors would be a few "key metrics" that are things to check immediately after a merge for a snapshot of performance effects.  These would consist of a test-metric-detail combination.

Currently, there are around 900 different combinations that can produce a grap

[2018-11-12 14:17] #249 closed

[2018-11-12 14:26] wojtek-t opened #293 "Expose more information in clusterloader2 logs"
There are a couple things that we definitely need:
- [x] more state about pods from a given controlling object (number of pending, waiting, checking if something was deleted, etc.). Mostly copying this logic:
https://github.com/kubernetes/kubernetes/blob/master/test/utils/runners.go#L803
- [x] pod-startup-time latency should output thing that is somewhat similar to what we currently do (for debugg

[2018-11-12 14:36] wojtek-t commented on #293
@kubernetes/sig-scalability-bugs

[2018-11-13 12:40] #281 closed

[2018-11-14 11:49] krzysied opened #296 "ClusterLoader: Profiles should gather periodically, instead of "on-demand""
Currently profile measurement allows to gather cpu/memory profile on-demand. There should be also an option to gather profiles periodically, for example every 10mins.

[2018-11-23 12:43] krzysied opened #310 "CluasterLoader: Revert density test changes"
With #309 density test was changed to compare pod startup time of 500 pods at once vs 5x100 pods iteration. This change should be reverted after 11/26/2018.

[2018-11-26 14:30] krzysied opened #312 "ClusterLoader: PodStartupLatency is flaky"
In cluster loader density test pod startup latency (99 perc.) varies from 4s to 8s. The same metric from original tests always has 99 perc = ~4s.
This problem should be fix, so cluster loader PodStartupLatency has similar results to original test ones.

[2018-11-26 15:33] krzysied commented on #312
In original density test we schedule `#Nodes` latency pods per iteration. These latency pods have memory and cpu request set that more or less allows ~1 pod to be added to the node. This fixes the problems I described in previous comment.

We can do the same trick for cluster loader density test. By bumping up the resource requests of latency pods, we can reduce the variance of pods per node. IMHO

[2018-11-27 13:16] #310 closed

[2018-11-28 10:21] krzysied opened #317 "ClusterLoader: Separate rows in testgrid"
Each test case should have separate row in testgrid.

[2018-11-28 14:54] #275 closed

[2018-11-29 10:33] krzysied commented on #317
#318 solved the case.
I'm closing the issue.

[2018-11-29 10:33] #317 closed

[2018-11-29 10:38] krzysied commented on #312
Looks like #315 fixed the problem. I will keep this issue open for 2 more days. If everything is ok, I will close the issue.

[2018-12-03 11:01] krzysied commented on #312
Fixed.

[2018-12-03 11:01] #312 closed

[2018-12-04 09:53] krzysied opened #326 "ClusterLoader: Investigate kube-controller-manager cpu usage"
Kube-controller-manager uses more cpu than it should. Limit is 0.8 core, however it happens that it uses ~0.9.

When this is issue is solved, clusterloader density test  kube-controller-manager constraint should be updated or at least comment explaining the reason should be added.

[2018-12-05 17:04] krzysied commented on #326
I tried to investigated the reason of the difference. I looks like it started after fixing the pod startup time.
After seeing cpu usage over time for kube controller manger, it looks like mostly cpu is used during latency pod creation. What's more the more pods are added, the more cpu is used. I also observed ~15% difference in cpu usage between 100th and 500th latency pod creation.

I'm guessing

[2018-12-06 12:36] krzysied commented on #326
I run 5x100 and 1x500 tests three times. I've got 0.37 cpu (5x100) and 0.43 (1x500) average for create latency pods phase. It looks like 15% theory is correct.
I've also spotted increased cpu usage during saturation pods creation. However, this part is exactly like in original test, so I'm not expecting the issue to be there.

[2018-12-06 13:43] wojtek-t commented on #326
Sorry - just clarification question. If you have 0.37 or 0.43, why do we have 0.9?

[2018-12-06 14:50] krzysied commented on #326
0.9 happens rarely. We could change constraint, but then it will flake.
I couldn't recreate this issue on my cluster. The values I observed were mostly below 0.6.

The only difference between my test and clusterloader ci job is that I tested it on already existing cluster. I didn't tear it down and recreate it for each run. So maybe this cause the difference?

[2018-12-06 14:54] wojtek-t commented on #326
I'm just surprised that it's even higher. IIRC, in the past those values of 0.7+ were happening when density test was run second. Here we always run density first. So it should be lower.
I buy the argument of 1x500 vs 5x100 that makes it a bit higher, but the difference shouldn't be that huge.

[2018-12-20 13:00] mrueg opened #355 "Clusterloader: Document purpose of load, density, chaosmonkey tests"
It would be awesome to have a README for each of those tests in that explain what their test/benchmarking goal is

[2018-12-21 09:09] fejta commented on #126
Required SECURITY_CONTACTS file still does not exist on master branch. See #357 for more info.

[2018-12-21 09:09] fejta opened #357 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-12-21 10:40] fejta commented on #357
Required SECURITY_CONTACTS file still does not exist. Please resolve as soon as possible.

[2018-12-21 10:40] fejta commented on #357
kubernetes/perf-tests still needs a SECURITY_OWNERS file.
/assign @krzysied @k8s-ci-robot @gmarek @shyamjvs @wojtek-t @bowei

[2018-12-21 10:42] fejta commented on #357
LOL assigning @k8s-ci-robot 😆

[2018-12-21 10:51] wojtek-t commented on #357
https://github.com/kubernetes/perf-tests/pull/358 is already out.

[2018-12-21 17:38] #357 closed

[2019-01-11 10:17] krzysied commented on #248
Fixed with https://github.com/kubernetes/perf-tests/pull/308

[2019-01-11 10:17] #248 closed

[2019-01-11 10:26] krzysied opened #371 "CLusterLoader: DNS is using more memory than it used to"
After changing tests to clusterloader's, coreDNS (and also kubeDNS) is using more memory than it used to.
![coredns_memory](https://user-images.githubusercontent.com/25119199/51028390-8e1aaf00-1593-11e9-987b-e9d73d27aaea.png)

This issue causes cordns on  5k nodes to OOM.

[2019-01-11 10:33] krzysied commented on #371
The two biggest difference in api calls:
![endpotins_put](https://user-images.githubusercontent.com/25119199/51028757-ae973900-1594-11e9-8b44-2bfff8e2d3d9.png)
![pods_post](https://user-images.githubusercontent.com/25119199/51028762-b1922980-1594-11e9-8849-dfb50b0f419b.png)

[2019-01-11 13:31] krzysied commented on #371
During few last days I verified, that:
- using patch instead scale doesn't have impact on metrics mentioned above.
- Reducing number of created pods should reduce the number of endpoints calls, however I don't expect this change to be big.

[2019-01-11 13:53] krzysied commented on #371
I think I found the cause: https://github.com/kubernetes/kubernetes/blob/33a9c6e892f69e20be9527ba00bd33dfa5de221b/test/e2e/scalability/load.go#L602
In original load test, the service has additional label that is used as a selector. This label points to one specific RC. In theory every two RC should use one SVC, however it looks like every second RC uses SVC.

In clusterloader implementation, every

[2019-01-11 14:09] krzysied commented on #371
I've run some tests svc implemented as it is on original tests (svc connected to every second rc). The memory used by coredns dropped to ~11468800, which is the same amount as original tests used. Without this change coredns consumes ~14831616.

[2019-01-11 14:33] krzysied commented on #371
/cc @wojtek-t @mborsz
I created #374 to see if it reducing number of endpoints will fix the issue.

[2019-01-14 09:49] krzysied commented on #371
Here's impact of #374:
![coredns_memory_change](https://user-images.githubusercontent.com/25119199/51105535-82282a80-17e9-11e9-9a9d-16c053bfb889.png)
![2k_coredns_memory_change](https://user-images.githubusercontent.com/25119199/51105634-d29f8800-17e9-11e9-965f-cdc013746646.png)
It looks like increased number of endpoints was the main issue.

[2019-01-14 10:02] wojtek-t commented on #246
/remove-lifecycle stale

[2019-01-15 16:46] krzysied opened #378 "ClusterLoader: Move overrides to separate directory"
Overrides should be moved from clusterloader2/testing/density/ to clusterloader2/overrides.
Overrides should be split into provider category.

[2019-01-15 16:53] krzysied commented on #378
This will be done in 3 steps due to clusterloader code and jobs definition being in different  repos:
- [ ] copying overrides to `overrides` directory - #379
- [ ] changing jobs, so they use new overrides
- [ ] removing old overrides

[2019-01-16 11:54] krzysied commented on #378
/cc @wojtek-t

[2019-01-16 12:33] wojtek-t commented on #378
As discussed offline - it's not clear to me it should be done this way.
Splitting overwrites between density and load/ directories makes the directory for a given test more self-contained.

There is a trade-off here, which I'm not convinced has an obvious solution. I would leave as is, until we have more evidence that one or the other approach is better.

[2019-01-16 14:17] wojtek-t commented on #371
Fixed now.

[2019-01-16 14:17] #371 closed

[2019-01-16 17:37] mazzy89 opened #381 "Explanation of some constants"
What does it mean `NODES_PER_NAMESPACE` in the `config.yaml` of the clusterloader2?

[2019-01-17 12:33] wojtek-t commented on #261
/remove-lifecycle stale

[2019-01-22 10:07] mazzy89 opened #385 "SSH connection issue to access the master"
I'm having this issue to run *clusterloader2.*

[code]

My cluster is running on AWS with a private topology. Masters running in different AZs in  private subnets. I run the go bin from an instance in the same subnet. I'm sure I can reach the master via ssh because I run `ssh admin@172.20.50.99` and it connects successfully. Unfortunately the error I get back it is not very verbose so I can't go a

[2019-01-28 12:37] mivanovvs opened #390 "clusterload2: flag redefined: log_dir"
Hi there! The issue I've got on mac os and ubuntu 18.04 with GO 1.11
After all installed dependencies I've got the error:

`./run-e2e.sh
./clusterloader flag redefined: log_dir
panic: ./clusterloader flag redefined: log_dir

goroutine 1 [running]:
flag.(*FlagSet).Var(0xc0000ba180, 0x22e92e0, 0xc00034b800, 0x215c5e8, 0x7, 0x21909df, 0x2f)
	/usr/local/opt/go/libexec/src/flag/flag.go:805 +0x529
flag.

[2019-01-28 12:39] wojtek-t commented on #390
/assign @krzysied

[2019-01-28 16:21] krzysied commented on #390
@mivanovvs I don't see this error in my local tests (I tested go 1.11.1 and 1.11.2) neither in scalability tests. Could you provide some more info, please? Are you using head version of the repository? Did you used `./run-e2e/sh` from clusterloader2 directory?

What do you mean by installing dependencies? Assuming that there is existing `vendor/`, are there any dependencies missing?

[2019-01-29 08:33] mivanovvs commented on #390
@krzysied I tested Go 1.11 on Mac os. Yes, I started with ./run-e2e.sh from clusterloader2 dir. And I use head of repository. Regarding dependencies, yes with first time run I've got a several dependencies something like
''could not found k8s.io/perf-tests/clusterloader2/pkg/framework"
"k8s.io/perf-tests/clusterloader2/pkg/flags"
"k8s.io/perf-tests/clusterloader2/pkg/measurement/common/bundle"
"k8

[2019-01-29 10:37] mivanovvs commented on #390
Thanks. It fixed issues with dependencies. But I've got error

[2019-01-29 10:52] krzysied commented on #390
The error comes from https://github.com/kubernetes/perf-tests/blob/4ef9777fdcc1473907cff936ca3d5827d0f80bfd/clusterloader2/cmd/clusterloader.go#L77
There is a required flag `testconfig`. For example you can try "`--testconfig=./testing/load/config.yaml`"

You can think of "`./run-e2e.sh`" as a alias for "`go run cmd/clusterloader.go --kubeconfig=${HOME}/.kube/config`".

[README](https://github.com

[2019-02-01 03:41] Betula-L opened #396 "ClusterLoader2 assumes ssh service should be available"
**What happened?**

In our cluster, ssh is not available. However, `clusterloader2/pkg/measurement/util/ssh.go:88` assumes every master should own an available ssh service.

Errors occurred as follow,

[code]
**What you expected to happen**:

We may run clusterloader on master without ssh. If parameter `masterip==localhost`, clusterloader could execute `func execLocal()`  rather than `func SSH()`

[2019-02-01 12:04] wojtek-t commented on #396
The requirement for ssh is limiting (I agree), but it should break your test.
If anything is failing due to that reason, then we should fix that.

Otherwise (if these are only error lines in the log file), you can probably ignore them.

@krzysied

[2019-02-01 12:32] wojtek-t commented on #396
The most crucial one (e.g. those validating SLOs, etc.) should be available.
Those "auxiliary" ones (like profiles, etc.) won't be, which is kind of expected.

I guess I'm trying to set expectations right.
Also, running tests on your master machine is really bad idea due to resource consumption of the tests itself.

[2019-02-06 09:28] wojtek-t commented on #288
SLOs we are working on should be those "key metrics":
https://github.com/kubernetes/community/blob/master/sig-scalability/slos/slos.md

We should think how to expose them better.

[2019-02-06 10:03] mm4tt commented on #269
Looks like there was an attempt to fix that, but it was decided to "not do that now" - https://github.com/kubernetes/perf-tests/pull/279#issuecomment-460151213
@wojtek-t could you elaborate more on the reasoning behind that decision?

It seems that the issue still happens and causes flakiness, see https://github.com/kubernetes/kubernetes/issues/73461#issuecomment-460964397

[2019-02-06 10:44] wojtek-t commented on #269
I didn't look into the failure itself, but I'm not convinced this would fix it.

There are couple reasons why I decided to drop it now:
- shared pod store would mean we are keeping all pods in test memory, which itself is pretty expensive
- creating pod store for every RC is a bit better simulating what users may be doing (i.e. list+watch what is happening with my pods)

[2019-02-06 11:09] nemethf opened #400 "Extending netperf benchmark with a series of pull request"
Hi,

It seems recent improvements of perf-tests are in clusterloader2, however we are more interested in bulk data transfer benchmarks measured with netperf (located in perf-tests/network/benchmarks).  Our BSc students (@orsoly  and @Rychne) wrote a couple of improvements to netperf.  Would you be interested in receiving the improvements in small PRs?

The following diff shows the new features we

[2019-02-06 13:10] krzysied opened #402 "ClusterLoader: Replace glog with klog"
Cluster loader should use klog instead glog, to be coherent with kubernetes logging.

- [ ] Fix: initializing klog, so klog logs become visible. #401
- [ ] Replcing glog with klog #403

[2019-02-06 13:10] krzysied commented on #402
/assign

[2019-02-07 10:12] krzysied opened #404 "Benchmark is failing"
https://testgrid.k8s.io/sig-scalability-perf-tests#kubemark-100-benchmark ci job that runs benchmark is failing. There is issue with invalid memory address or nil pointer dereferencing.

[2019-02-07 10:15] krzysied commented on #404
The problem is caused by https://github.com/kubernetes/perf-tests/blob/2ffd0717df5259005c03ca8a1e144b23f17f693f/benchmark/vendor/k8s.io/contrib/test-utils/utils/utils.go#L221. This handles bad status by returning (nil, nil) instead of (nil error).

[2019-02-07 10:16] krzysied commented on #404
- [ ] Fix contrib https://github.com/kubernetes/contrib/pull/2995
- [ ] Update vendor

[2019-02-07 10:16] krzysied commented on #404
/assign

[2019-02-07 14:51] wojtek-t commented on #276
/remove-lifecycle stale

[2019-02-08 12:52] #402 closed

[2019-02-11 07:13] wojtek-t commented on #293
/remove-lifecycle stale

@krzysied - what's the status of this?

[2019-02-11 09:40] krzysied commented on #293
@wojtek-t First 4 points are done. The last one is partially done. There is no errors that immediately fail test, however there is no flake.txt file.

[2019-02-12 05:27] Betula-L commented on #396
@wojtek-t , could provider `kubemark` acquire SSH_KEY_FILE from env `KUBEMARK_SSH_KEY` rather than constant string `google_compute_engine`?
[code]
https://github.com/kubernetes/perf-tests/blob/6c738e30dc1277abf7ae8c069a6d3b62b78d1703/clusterloader2/pkg/measurement/util/ssh.go#L85

[2019-02-12 05:56] Betula-L commented on #396
Why not those ssh key configs use the same environment variable, such as "CLUSTERLOAD_SSH_KEY".

[2019-02-12 07:30] wojtek-t commented on #396
SGTM - feel free to change that, I'm happy to review this.

[2019-02-12 12:28] wojtek-t commented on #296
/remove-lifecycle stale

[2019-02-13 08:28] wojtek-t opened #411 "ClusterLoader2 doesn't handle tombstones"
Example failure:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/73959/pull-kubernetes-kubemark-e2e-gce-big/37500/build-log.txt

The interested line is this one;
[code]

[2019-02-13 08:28] wojtek-t commented on #411
@krzysied - FYI

[2019-02-13 10:53] #411 closed

[2019-02-13 12:26] wojtek-t opened #413 "Simplify load test"
With migration to CL2 being roughly done, I would like to simplify and evolve load test a bit to:
1. create a service in a bundle with RC
2. that creates a problem that we currently have a service only for half of RCs, but fortunately in new enough releases we can solve that by using the mechanism introduced here: https://github.com/kubernetes/kubernetes/pull/71355
3. switch to using Deployment in

[2019-02-13 12:26] wojtek-t commented on #413
@kubernetes/sig-scalability-feature-requests

[2019-02-14 02:02] #396 closed

[2019-02-14 03:40] Betula-L opened #414 "ClusterLoader2 should support controllers beside ReplicationController"
**What would you like to be added**:
1. Add parameter `apiVersion` for `type waitForControlledPodsRunningMeasurement struct `
2. Support measurement`WaitForControlledPodsRunning` for kinds in different apiVersions (different controllers)

**Why is this needed**:

**Kubernetes e2e test:** Kubernetes supports multiple controllers such as Deployment, Job, ReplicationController, etc. For kubernetes/ku

[2019-02-14 07:15] wojtek-t commented on #414
Great point.

@krzysied - please fix

[2019-02-14 07:15] wojtek-t commented on #414
/assign @krzysied

[2019-02-14 13:04] krzysied commented on #414
- [ ] Hot fix #415
Fixing ReplicaSet, Deployment, DaemonSet and Job handling.
- [ ] Replacing clientset with dynamic clent.
This will allow more generic handling.

[2019-02-14 19:05] wojtek-t commented on #414
I actually claim that it's not that urgent to make a hack to fix it.
We should wait for a proper fix.

[2019-02-14 19:07] wojtek-t commented on #251
/remove-lifecycle rotten

[2019-02-14 19:48] #404 closed

[2019-02-20 13:49] mm4tt opened #420 "ClusterLoader2 outputs CPUProfile in binary format to stderr"
Example log:

[code]

[2019-02-20 13:49] mm4tt commented on #420
/assign @krzysied

[2019-02-20 13:56] wojtek-t commented on #420
:-)

[2019-02-20 14:31] mm4tt commented on #420
For posterity, the command I used to run the test was
[code]
@krzysied pointed out that I didn't provide the `--report-dir` flag. When the `report-dir` is not set measurements are dumped to stderr. Providing the `--report-dir` should fix the issue.
Will verify shortly

[2019-02-20 15:00] mm4tt commented on #420
Verified.
Setting `--report-dir` fixes the issue.
/close

[2019-02-20 15:00] #420 closed

[2019-02-22 13:18] mm4tt opened #422 "100th percentile of pod-startup-latency is reported as 0 in perf-dash"
![vqrcaed2dpa](https://user-images.githubusercontent.com/2604887/53244974-b4605e00-36ac-11e9-962c-5174b7a9de4b.png)

[2019-02-22 13:19] mm4tt commented on #422
/assign @krzysied

[2019-02-22 13:56] krzysied commented on #422
In original test pod startup latency had values for 50th. 90th, 99th and 100th percentile. Cluster loader version has values only for 50th, 90th and 99th perc.
The gce 5000 ci job was migrated to cluster loader between 308 and 309 run: https://github.com/kubernetes/test-infra/pull/11282/

The decision to drop 100th percentile was made to unified metric look. Other metrics (apiserver responsiveness

[2019-02-27 08:22] mm4tt commented on #422
Sg, thanks @krzysied for explanation!

/close

[2019-02-27 08:22] #422 closed

[2019-02-27 14:00] krzysied commented on #390
@mivanovvs Is this issue still valid?

[2019-02-27 14:02] mivanovvs commented on #390
@krzysied hi! nope, issue has been fixed. Many thanks for help!

[2019-02-28 12:10] rus4 opened #437 "clusterloader uses godep now obselete"
so i am trying to use clusterloader but it seems it requires godep which is now obselete ( february 2019 ), is there any plans to move to dep , or any info on how to make this work now that godep is no longer available on ubuntu.

[2019-02-28 12:13] wojtek-t commented on #437
clusterloader is now deprecated - you can use clusterloader2:
https://github.com/kubernetes/perf-tests/tree/master/clusterloader2

[2019-02-28 13:57] rus4 commented on #437
thanks for this , so for clusterloader2 i have used the default config yaml for load test an generated my own kubernetes config yaml by running `kubectl -n kube-system get cm kubeadm-config -o yaml`
providing these configs to clusterloader2 it runs but is looking for master node ip & name an throws a ssh error however i am getting further than what i did with clusterloader , my output is here:
`I0

[2019-02-28 15:04] wojtek-t commented on #437
@krzysied - can you help with that?

[2019-02-28 15:22] krzysied commented on #437
@rus4 My guess is there should be provider flag added for test run command.
Add "--provider=\<p\>" where \<p\> is one from https://github.com/kubernetes/perf-tests/blob/6274cc527a10d49925b01ad8181d889af1a54fef/clusterloader2/pkg/measurement/util/ssh.go#L85

[2019-02-28 17:06] Betula-L commented on #414
This is fixed in https://github.com/kubernetes/perf-tests/pull/438

[2019-02-28 17:06] #414 closed

[2019-02-28 19:58] treetopbet commented on #437
@krzysied thanks so I need to give the flag for my private key for ssh stuff it seems dont get a choice for not using ssh ( we have to use it - ha ha) is fine I just need to spend bit more time sorting it all out.
Thanks again for replying.

[2019-02-28 21:09] rus4 commented on #437
@krzysied so I need to give the flag for my private key for ssh stuff it seems cannot opt-out from using ssh ( we have to use it - ha ha) is fine I just need to spend bit more time sorting it all out.
Thanks again for replying.

[2019-03-05 11:40] krzysied commented on #413
The problem I see here is that running this simplified load test for older k8s versions will not work. I think we need to split tests into legacy/ head/.
This change will also be required when we switch to new api responsiveness metric.
Wdyt?

- [ ] Creating legacy and head directories with copies of test configs
- [ ] Changing scalability jobs config
- [ ] Removing all test configs

[2019-03-06 16:27] krzysied opened #442 "Perfdash: Unsupported value NaN"
When running perfdash without any flags (or flag --www=false), perfdash fails with `json: unsupported value: NaN`

The error is returned by https://github.com/kubernetes/perf-tests/blob/ca4e20710bbd86321bbc93ca24189d0cc91946a0/perfdash/perfdash.go#L68

[2019-03-06 16:27] krzysied commented on #442
/assign

[2019-03-07 13:35] krzysied commented on #442
It turned out that NaN value was set in etcd histogram parser. This [PR](https://github.com/kubernetes/perf-tests/pull/448) should fix the issue.

[2019-03-07 13:45] #442 closed

[2019-03-11 11:48] wojtek-t commented on #413
I'm fine with legacy/ and head/ for other reasons (e.g. responsiveness metric).

But I don't understand why you need it for the purpose of this issue?

[2019-03-11 11:52] krzysied commented on #413
IIUC we want to use kubernetes/kubernetes#71355 which will not be available for older k8s version, right?

[2019-03-11 12:02] wojtek-t commented on #413
Ahh - that's what you meant. Yeah, though given that we only run older releases on 100-node tests, even if that would have no effect, it should still be fine...

[2019-03-11 15:58] rus4 opened #451 "Clusterloader2 SSH an connection timeouts retries and INTERNAL_ERROR"
I seem to be getting a recurring issue when running clusterloader2 on-prem using ubuntu OS and using the skeleton providor, I am passing the master name an ip when running the load test ,on the load test runs I keep seeing messages like this:

`E0311 14:37:00.777610    3243 streamwatcher.go:109] Unable to decode an event from the watch stream: stream error: stream ID 387; INTERNAL_ERROR
E0311 14:3

[2019-03-11 21:14] wojtek-t commented on #451
What is "skeleton provider"?

Also, the errors that you pasted doesn't seem to depend on the provider - we simply can't establish watch, which shouldn't depend on the cluster provider at all.

[2019-03-14 19:02] rus4 opened #456 "SSH Connection timouts to master in clusterloader2"
I seem to be getting a lot of connection timeouts , its to do with SSH communication to master node I enclose the command i am running along with full log output, for SSH kubernetes is using a bastion host as described here: https://github.com/freach/kubernetes-security-best-practice/blob/master/README.md so that its configured in a way so when i manually ssh to the bastion host i am automatically

[2019-03-19 05:32] wenjiaswe opened #457 "ClusterLoader2: pull-kubernetes-e2e-gce-100-performance test fails when etcd metrics port is changed"
etcd_metrics.go is always checking "curl http://127.0.0.1:2379/metrics",
https://github.com/kubernetes/perf-tests/blob/38cd4ef9bff2646f63690b6137a70a3705e5148b/clusterloader2/pkg/measurement/common/simple/etcd_metrics.go#L157 however in https://github.com/kubernetes/kubernetes/pull/74690, port number 2382 is used in GCE provider, so pull-kubernetes-e2e-gce-100-performance [failed](https://gubernat

[2019-03-19 05:33] wenjiaswe commented on #457
/assign

[2019-03-19 14:56] krzysied opened #459 "ClusterLoader: Unsafe prometheus getKubemarkMasterClusterIp"
There is a problem with flaking kubemark tests.

IIUC the problem is caused by https://github.com/kubernetes/perf-tests/blob/38cd4ef9bff2646f63690b6137a70a3705e5148b/clusterloader2/pkg/prometheus/prometheus.go#L274
The requirement for this bug to happen is for example having two kubemark clusters within one project. The instance list will return two ip addresses, which generates bad manifest yaml.

[2019-03-19 14:56] krzysied commented on #459
/cc @mm4tt

[2019-03-20 09:38] #457 closed

[2019-03-20 14:26] rus4 opened #461 "need more explanation / information on monitoring"
So I see some prometheus work has been done with adding of config files, the README does not explain much, I feel the documentation can be improved as right now I cant understand it without spending a lot of time analysing, whereas a informative README would save a lot of time.
Maybe you can explain some an I can try an help to contribute/improve the README on that once I know it better.

[2019-03-20 14:29] rus4 commented on #355
I agree with you.
'bump'

[2019-03-22 12:25] krzysied commented on #269
As for now, we decided to not implement shared pod store.
I'm closing the issue.

[2019-03-22 12:25] #269 closed

[2019-03-22 12:32] krzysied opened #462 "ClusterLoader - Kubemark 5000 flakes"
Since run 1548 kubemark-5000 become flaky.

Link to testgrid: https://testgrid.k8s.io/sig-scalability-kubemark#kubemark-5000

[2019-03-22 12:48] krzysied commented on #462
I looks like there are two issues there:
- The api calls latency increased. It happened between run 1527 and 1528.
- [Run 1567](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1567) has multiple timed out waits on RC deletion.

[2019-03-22 12:55] krzysied commented on #462
The changes between run 1527 and run 1528: https://github.com/kubernetes/kubernetes/compare/9fd7a4c2dcbb12...7514c49ec12e7a

[2019-03-22 12:57] krzysied opened #464 "ClusterLoader - Kubemark 5000 flakes - timeouts"
[Run 1567](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1567) has multiple timed out waits on RC deletion

[2019-03-22 12:58] krzysied commented on #462
Moving run 1567 bug to separate issue: https://github.com/kubernetes/perf-tests/issues/464

[2019-03-22 12:59] krzysied commented on #464
Adding name to pod stare reflector that will display namespace, field and label selectors -https://github.com/kubernetes/perf-tests/pull/463

[2019-03-22 13:03] krzysied commented on #464
Accoring to the logs, it looks client set client was blocked for ~10 minutes.

Clusterloader logs:
[code]

Apiserver logs:
[code]

[2019-03-22 13:06] krzysied commented on #464
Based on apiserver logs, apiserver worked correctly. The responses were <<1s.
The call to apiserver must have stuck on clientset call on clusterloader side. The interesting part is that only one clientset was facing this issue (Clusterloader uses ~50 clients in this test).

[2019-03-22 13:49] wojtek-t commented on #464
What go version we use to build cluster-loader?

We should migrate to go1.12.1 (I guess it may potentially be related to too-many open steams within a single connection).

[2019-03-22 14:25] krzysied commented on #464
The travis.yml is set to go1.11. IIUC cluster loader uses go version provided by the kubetest, which is 1.12.1. This means we should bump up the travis.yml to 1.12.1 asap...

[2019-03-25 10:53] mm4tt commented on #459
/assign

Thanks @krzysied, will take a look.

[2019-03-26 07:20] mm4tt commented on #459
/close
Fixed by https://github.com/kubernetes/perf-tests/pull/465

[2019-03-26 07:20] #459 closed

[2019-03-27 10:24] krzysied opened #469 "Perfdash displays only one result per ci job"
Perfdash displays only one result with weird number for each ci job.

[2019-03-27 10:25] krzysied commented on #469
It seems the problem what cause by the changes in run ids - https://github.com/kubernetes/test-infra/issues/9604. Perfdash assumes that build ids are sequential.

[2019-03-27 11:13] krzysied commented on #469
Perfdash uses k8s.io/contrib/test-utils/utils/utils.go to access the logs. It iterates over decreasing sequence of numbers starting from the latest build id (latest-build.txt)

[2019-03-27 17:18] krzysied commented on #469
- [ ] Adding build number listing for given ci job https://github.com/kubernetes/contrib/pull/3005
- [ ] Updating vendor with contrib changes
- [ ] Changing perfdash logic to fetch logs based on listed build numbers

[2019-03-27 17:21] krzysied commented on #469
/assign

[2019-04-01 12:43] krzysied opened #470 "ClusterLoader: Move prometheus querying to util"
The `gatherSamples` method of api_responsiveness_prometheus.go should be moved to util/prometheus.go. This method should be more generic, allowing to send any query to promethues server.

[2019-04-04 23:08] jpbetz opened #479 "slo-monitor: Full lists of events can impact apiserver"
Currently the slo-monitor performs a full list of all events when initializing or relisting a watch: https://github.com/kubernetes/perf-tests/blob/386d9f97061e81a33a0e321eff9e07359c876509/slo-monitor/src/monitors/pod_monitor.go#L175-L181

On large scale kubernetes clusters, there can be large volumes of events (100k+) and the list requests can timeout and be retried by the slo-monitor, resulting i

[2019-04-10 07:28] #479 closed

[2019-04-10 11:25] wojtek-t commented on #462
This one is exactly the same as this Go regression:
https://github.com/kubernetes/kubernetes/issues/75833

So closing as duplicate.

[2019-04-10 11:25] #462 closed

[2019-04-10 11:25] #390 closed

[2019-04-10 11:27] wojtek-t commented on #469
@krzysied - this has been fixed, right?

[2019-04-10 11:36] wojtek-t commented on #413
Actually, I think that PR that was submitted wasn't exactly what we want.
We should create head/ and legacy/ subdirectories within individual tests, as needed.

Or rather, I would say we should even go one step further:
- create a legacy/ directory (within tests that we need to modify, so probably both actually)
- migrate old branches to use configs from that directory
- leave everything else as i

[2019-04-10 11:38] krzysied commented on #469
Perfdash is working. There were some changes in vendor. I still need to push them to contrib repo.
Let's keep this issue open.

[2019-04-11 11:26] wojtek-t commented on #413
Point (2) from original description is mostly done in #488

However, as discussed offline with @krzysied while this fixes kube-proxy issues, it still leads to much higher resource usage of DNS which leads to OOMs. So in order to make this change, we would need to adjust DNS resource limits based on size of the cluster somehow.

So the remaining stuff to do is:
- adjust DNS resource limits
- bundle

[2019-04-11 11:57] wojtek-t opened #489 "There is exactly one profile for each (component, test, profile type) tuple"
https://github.com/kubernetes/perf-tests/pull/478 changes profile gathering to be periodic.
However, we still seem to have exactly one profile.

I think that the reason is how we report the summaries at the end of the test:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/test/simple_test_executor.go#L87

Basically what happens is that we name the file according to:
SummaryN

[2019-04-11 12:07] krzysied commented on #489
+1 It will be also required when there are api responsiveness and api responsiveness prometheus measurements enabled in one test.

[2019-04-11 12:13] wojtek-t commented on #489
I'm not convinced about this one - those technically will be different measurements (at least initially), I think.

[2019-04-12 12:25] krzysied commented on #469
/fixed
/close

[2019-04-12 12:25] #469 closed

[2019-04-12 15:09] krzysied opened #498 "Testing api responsiveness prometheus measurement"
- Comparing api responsiveness prometheus measurement vs api responsiveness measurement.
  - Api responsiveness prometheus measurement should be enabled in density and load test.
  - Api responsiveness prometheus measurement should not cause test to fail.
- After tests are done api responsiveness prometheus measurement should be changed to test-failing.

[2019-04-17 20:41] mm4tt opened #503 "Start monitoring master's components (kubelet, kube-scheduler, kube-controller-manager) via Prometheus"
This can be easily achieved with the Prometheus stack with have and can be extremely helpful when debugging kubemark issues.

[2019-04-23 08:35] mm4tt commented on #503
/assign
/sig scalability
/kind feature

[2019-04-23 10:46] mm4tt commented on #503
We should do the same for non-kubemark clusters as well

[2019-04-23 11:17] mm4tt commented on #503
Scraping metrics from kube-scheduler and kube-controller-manager also seems like a good idea.

[2019-04-29 08:27] krzysied opened #519 "ClusterLoader - Measurements not working correctly"
- Not storing APIResposivenes metrics.
- Nil pointer dereferencing exception in gke runs.

This issue is caused by https://github.com/kubernetes/perf-tests/pull/499

[2019-04-29 08:28] krzysied commented on #519
/assign

[2019-04-29 08:51] ghost opened #520 "slo-monitor: Ignore restart events"
slo-monitor controller observes event on container restarting, if a pod started several days ago, both the startup time and full startup time would extremely exceed 3600s, and it does no make sense to monitor the value by `time.Now() - pod.CreationTimestamp.Time`.

I think it's good to ignore restart events.

[2019-04-29 10:00] #519 closed

[2019-04-29 11:45] #503 closed

[2019-04-29 11:48] mm4tt opened #522 "Scrape etcd server metrics via Prometheus"
Currently we scrape only kube-apiserver and some other master components. Scraping etcd server can gives us some additional metrics that may be useful in debugging.

[2019-04-29 11:48] mm4tt commented on #522
/assign

[2019-04-29 11:52] mm4tt opened #523 "Prometheus data from tests should be retained"
I've sent https://github.com/kubernetes/perf-tests/pull/518 to add experimental snapshot support (GCP only). It's hacky but should work as a temporary solution for now.

Long term, we should investigate other options and rewrite this to something better, e.g. exporting Prometheus data from tests to some db or maybe there is already existing tool that we could use that addresses our requirements.

[2019-04-29 13:56] sevensees commented on #520
/assign

[2019-05-10 10:19] krzysied commented on #470
fixed by https://github.com/kubernetes/perf-tests/pull/502

[2019-05-10 10:19] #470 closed

[2019-05-10 16:25] jberkus commented on #288
Gonna freeze this, because it will never expire as a TODO.

/lifecycle frozen

[2019-05-13 11:38] wojtek-t commented on #276
/remove-lifecycle stale
/lifecycle frozen

[2019-05-13 14:05] mm4tt opened #527 "Perf-dash reports the same values for 90/99/100 pctl for small tests"
[Example dashboard](http://perf-dash.k8s.io/#/?jobname=gce-100Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=fluentd-gcp%2Ffluentd-gcp&Resource=CPU)
![Rx4rfHvtGbo](https://user-images.githubusercontent.com/2604887/57626595-792c4780-7596-11e9-8d9a-464c8b31f4c1.png)

This is due to the way we compute percentiles, which doesn't work well for short tests where we don't have enough me

[2019-05-13 14:05] mm4tt commented on #527
/assign

[2019-05-16 06:55] #326 closed

[2019-05-16 06:55] wojtek-t commented on #293
/remove-lifecycle stale
/lifecycle frozen

[2019-05-16 06:55] wojtek-t commented on #246
/remove-lifecycle stale
/lifecycle frozen

[2019-05-16 06:56] wojtek-t commented on #296
This has been somewhat done. We should open a new one if we have more specific requirements.

[2019-05-16 06:56] #296 closed

[2019-05-16 06:56] wojtek-t commented on #251
/remove-lifecycle stale
/lifecycle frozen

[2019-05-16 06:57] wojtek-t commented on #261
/remove-lifecycle stale
/lifecycle frozen

[2019-05-17 06:48] wojtek-t commented on #523
/lifecycle-frozen

[2019-05-17 14:42] wojtek-t commented on #489
This has been fixed in the meantime.

[2019-05-17 14:42] #489 closed

[2019-05-17 14:44] wojtek-t commented on #413
With https://github.com/kubernetes/kubernetes/pull/77918 adjusting DNS resource limits will be possible.

@krzysied - once we get out of regressions, it's an important thing to look at.

[2019-05-23 10:19] PoojaGidaveer opened #537 "Clusterloader2- Error in creating deployment object"
I have created a deployment.yaml template and written phase to create deployment objects in config.yaml.
But when I run e2e.sh with config.yaml, i am facing the follwing error-
[code]

config.yaml looks like this-
[code]

deployment.yaml-
[code]

Not sure where the mistake is.
Please help.

/kind bug
/area clusterloader

[2019-05-24 06:52] wojtek-t commented on #537
@krzysied - do you know what it may be?

[2019-05-24 09:42] krzysied commented on #537
/assign

[2019-05-24 09:56] krzysied commented on #537
IIUC, there are few problem with configs:
1. Deployment is api version is apps/v1 not v1:
  - config.yaml
    `apiVersion: v1` -> `apiVersion: apps/v1`
  - deployment.yaml
    Add `apiVersion: apps/v1` as the first line
2. Mismatched selector/labels
  - deployment.yaml
   IMHO the spec section of deployment should look like this:
[code]
The `name` label will match deployment to the pods it's contr

[2019-05-24 13:10] mm4tt commented on #527
/assign @krzysied

[2019-05-27 10:46] mm4tt commented on #527
With https://github.com/kubernetes/perf-tests/pull/540 the short-term fix has been implemented. Thanks, @krzysied!

[2019-05-28 07:33] mm4tt commented on #522
With https://github.com/kubernetes/test-infra/pull/12774, this is done.

/close

[2019-05-28 07:33] #522 closed

[2019-05-30 12:07] PoojaGidaveer commented on #537
It worked...
Thanks for the help...

[2019-05-30 12:07] #537 closed

[2019-05-31 09:28] krzysied opened #546 "Make perfdash configurable"
Perfdash should be more configurable, so it can be set up by user to display custom runs data.

- [x] Allowing array flags #548
- [x] Extracting job config url to flags #548
- [x] Allowing job configs from files #560
- [x] Replacing contrib/utils with storage client. #563
- [x] Making storage access configurable #564
- [x] Bump up new version and update http://perf-dash.k8s.io #566

[2019-05-31 09:28] krzysied commented on #546
/assign

[2019-06-03 13:19] mm4tt opened #552 "Migrate kubernetes/perf-tests out of Travis"
See the [Prow will not able to check Travis context as Travis migrating off old status context API](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/z4yDUNMyW_0/hpxKGzDnBAAJ) announcement for context.

It will still somehow work, as tide is configured to honor statuses it does not know about, so if it finds a failing Travis context it will not want to merge u

[2019-06-03 13:24] mm4tt commented on #552
/assign

[2019-06-04 08:53] oxddr opened #553 "Create project pool to be used by scalability build cluster"
Yesterday we've created a separate build cluster to be use by Prow to run scalability tests [1]. It's missing Boskos and tests which rely on project pool doesn't work.

Plan for now:
1) Disable dedidcated build cluster in kubemark-100 (it uses project pool)
2) Create new project pool
3) Setup Boskos in dedicated build cluster so projects can be picked by tests

[1] https://github.com/kubernetes/te

[2019-06-04 08:54] oxddr commented on #553
/assign oxddr

[2019-06-04 09:38] oxddr commented on #553
Alternatively to maintaining a dedicated project pool (AFAIU it requires running Boskos in scalability build cluster, right @krzyzacy) we can only migrate tests with dedicated project. Especially those are ones, which cause most of troubles (they are long running and need lots of resources). This way we can minimize maintenance work on our side, but keep benefits of having a dedicated build cluste

[2019-06-04 12:55] oxddr opened #554 "strings.ReplaceAll causes pull-kubernetes-kubemark-e2e-gce-big to fail on 1.13"
This was reported on slack: https://kubernetes.slack.com/archives/C09QZTRH7/p1559596507001600

strings.ReplaceAll was [added in go1.12](https://golang.org/doc/go1.12#strings), but I suspect we still build clusterloader2 for stable versions using older version of golang.

/assign @oxddr
/cc @lbernail

[2019-06-04 15:03] #554 closed

[2019-06-04 17:24] krzyzacy commented on #553
The maintenance cost of boskos is relatively low, it runs both internal and external and we rarely need to worry about that, except when we don't have enough projects in the pool. But that's your call :-)

[2019-06-05 12:25] oxddr opened #559 "Use more human-friendly format to store Granafa dashboards"
As of now we keep Grafana dashboards in plain json files, as exported from Grafana. To me it seems problematic, for many reasons:

* hard to edit dashboards by hand
* files quickly become big, making them hard to read and parse by humans
* there is a lot of duplication: fixing one thing requires changing multiple places (easy to miss one), general maintenance burden.

I think we should take advant

[2019-06-05 13:44] mm4tt commented on #553
+1 for migrating only the tests with the dedicated projects for now.
I don't see much gain in doing that for smaller tests (using boskos), as they are not affected by the https://github.com/kubernetes/test-infra/issues/11594 (or at least run often enough to mitigate the problem).
There are tasks with higher priority than this that we should work on right now.

Let's keep this bug open though. We c

[2019-06-05 17:23] krzyzacy commented on #553
sgtm - feel free to send follow up PRs, you just need to add `cluster: scalability` in the prowjobs that you want to run on your build cluster.

[2019-06-06 13:14] krzysied opened #561 "Making performance tests faster"
Currently 5k scalability test takes ~13h to be run. Main contributor to this problem is load test that generates 10 pod operations/s.
There a room for improvement here. Based on current tests result, tests are expected to pass with increased throughput.

Phase 1:
- [ ] make kubemark load test run with 20 pod operations/s. #562
  - [x] kubemark 100 https://github.com/kubernetes/test-infra/pull/1293

[2019-06-06 13:15] krzysied commented on #561
/sig scalability
/area clusterloader
/assign

[2019-06-07 11:35] oxddr commented on #553
/priority awating-more-evidence
/sig scalability

[2019-06-11 10:02] oxddr commented on #498
It seems that Prometheus-based metrics has been enable for quite some time. What are criteria for switching measurements of API calls latency to Prometheus exclusively?

[2019-06-11 13:25] oxddr commented on #498
After offline discussion with @krzysied, it seems that there is discrepancy between old (apiserver-based) and new (Prometheus-based) calculations and the newer one being more strict. It seems however that the Prometheus-based approach is closer to definition of SLO.

[2019-06-13 08:46] krzysied commented on #546
Done!

[2019-06-13 08:46] #546 closed

[2019-06-15 19:09] #381 closed

[2019-06-18 11:24] oxddr opened #572 "clusterloader2 should be covered with unit tests"
Currently clusterloader2 has not tests at all. Testing new functionality requires spinning up a new cluster and running newly added code against it. It's costly and feedback loop is slow.

[2019-06-18 11:24] oxddr commented on #572
/kind cleanup

[2019-06-19 09:45] oxddr opened #573 "Use golangci-lint instead of pure golint"
We could use [golangci-lint](https://github.com/golangci/golangci-lint) - linter agregator for go. It uses more linters than just golint, thus will help us more problems in the code (e.g. it uses [errcheck](https://github.com/kisielk/errcheck) to find places when code doesn't check returned error).  This should be a simple change.

/kind cleanup

@mborsz @mm4tt @krzysied opinions?

/assign @oxddr

[2019-06-19 15:43] mm4tt commented on #573
Sounds great, +1

[2019-06-24 08:09] wojtek-t commented on #573
I'm not completely against, but we need to be aware that this would mean difference with all other repos.
Maybe we still want it, but it needs to be conscious decision.

If this is much better, we may want to suggest using it in other repos too :)

[2019-06-24 14:34] wojtek-t commented on #498
They are "kind-of" more strict, they are different. But yes - they reflect the SLO and we want to start using them.

[2019-06-24 14:47] oxddr commented on #498
/area slo

[2019-06-24 14:50] oxddr commented on #572
/area clusterloader

[2019-06-24 14:51] oxddr commented on #559
/kind cleanup

[2019-06-25 12:29] oxddr opened #575 "[slo] Measure and expose Networki Programming Latency in tests"
*SLI = Network Programming Latency*

What needs to be done:
1. Enable kube-proxy scrapping gradually in tests
2. Add a measurement of SLI
3. Integrated perf-dash so it can display SLI

Nice-to-have:
1. Refactor clusterloader2 so adding new Prometheus-based measurements is easy
1. Write down documentation on how to add new measurement end-to-end (implementing measurement, integrating perf-dash).

/

[2019-06-25 12:37] oxddr opened #576 "[perf-dash] Perf-dash should automatically pick up new measurements"
Perf-dash should automatically pick up new measurements if they are plain, simple and don't require extra processing (e.g. aggregations or grouping).

Profit: adding and displaying new measurements would be easier.

/area perf-dash

[2019-06-25 12:40] oxddr commented on #527
/area perf-dash

[2019-06-25 15:37] oxddr commented on #573
golangci-lint offers many checkers. It's up to us to pick which one we choose. In the first step we can enable only golint, so there won't be any change from what we have now. While some of checkers are opinionated, some are worth using beyond argument (e.g. mentioned errcheck).

I'd enable it here first. Once we have a good case, we can then propose it to other repose under k.

[2019-06-27 22:58] #385 closed

[2019-06-28 15:11] oxddr opened #584 "Modularize perf-dash code."
Currently perf-dash is huge, single package with all its code. It could benefit from being split into few smaller packages with more clearly defined responsibilities (downloader, parsers etc.) This way

Today I spent some time trying to split it into some packages, but failed as code has a lot of inter-dependencies.

It seems perf-dash is not going away anytime soon, so I think it'd be worth inves

[2019-06-28 15:42] oxddr opened #585 "Add documentation on how to test perf-dash locally"
Especially how to test newly added parser. According to @krzysied it should be possible to configure perf-dash so it only parse last N runs. This is enough for checking whether it works as expected and has shorter feedback loop.

/area perf-dash
/kind documentation

[2019-06-29 13:34] wojtek-t opened #588 "Figure out why presubmit didn't catch breaking scalability tests in https://github.com/kubernetes/perf-tests/pull/586"
@kubernetes/sig-scalability-bugs
@mm4tt @krzysied @mborsz

[2019-07-01 07:28] mm4tt commented on #588
My guess is that the "NetworkProgrammingLatency" is a gated feature that has to be explicitly enabled via config override and it's not enabled in presubmits.
I guess we should enable it in presubmit once we get confidence that it works (which I think we got already).

[2019-07-01 07:34] wojtek-t commented on #588
Makes sense - but that implies that we should never enable sth in blocking tests without enabling it in presubmits too.

[2019-07-01 08:24] oxddr commented on #588
@wojtek-t yes, we should have enabled the experiment in the presubmit first. I'll create a short doc about how to rollout experiments in clusterloader. Hopefully with clear and explicit  instructions, we can avoid situations like that.

[2019-07-01 11:12] oxddr opened #589 "[slo] Add documentation on how to add and expose a measurement in scalability tests"
/area slo

[2019-07-01 15:47] #575 closed

[2019-07-03 09:28] mm4tt opened #595 "ClusterLoader2 - update (internal-)?master-ip flags and vars to plural"
Multi-master support was added to ClusterLoader2 in https://github.com/kubernetes/perf-tests/pull/544.

We should update the name of master-ip and internal-master-ip flags and vars to plural.

[2019-07-03 09:28] mm4tt commented on #595
/area clusterloader

[2019-07-03 10:01] oxddr opened #597 "Measure and expose In-cluster Network Latency SLI"
This SLI is defined here: https://github.com/kubernetes/community/blob/master/sig-scalability/slos/network_latency.md

/area slo
/assign @oxddr

[2019-07-03 15:06] oxddr commented on #498
/assign @oxddr

[2019-07-03 23:12] mucahitkurt opened #600 "Scalability and Performance Test Cases for Ephemeral Volumes"
Related enhancement document; https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190204-scale-testing.md

Ephemeral Volume Types; EmptyDir, ConfigMap, Secret, DownwardAPI

/sig storage
/assign @mucahitkurt

[2019-07-04 08:17] oxddr opened #604 "Migrate perf-dash off debian"
Perf-dash uses debian at the moment. We could try to migrate it to scratch or busybox.

/area perf-dash

[2019-07-05 10:15] wojtek-t commented on #464
/remove-lifecycle stale
/lifecycle frozen

[2019-07-05 11:23] oxddr opened #612 "[sloMeasure and expose In-cluster DNS Latency SLI"

[2019-07-06 13:18] #400 closed

[2019-07-08 11:16] oxddr opened #615 "Measure and expose Network Programming Latency SLI"
For not the measurement is non-violating. As part of this issue we should figure out an initial value, at which we should start to fail tests. This should be an input to finalize SLO definition for Network Programming Latency.

/assign @oxddr
/area slo

[2019-07-08 11:31] oxddr opened #617 "Measure and expose DNS programming latency SLI"
Details about this specific SLO: https://github.com/kubernetes/community/blob/master/sig-scalability/slos/dns_programming_latency.md

/area slo
/assign @oxddr

[2019-07-08 11:38] mm4tt opened #618 "ClusterLoader2 shouldn't use deprecated ReplicationControllers"
We should start using the suggested replacement - Deployments

[2019-07-08 11:39] mm4tt commented on #618
If the tests passes with https://github.com/kubernetes/perf-tests/pull/616, we should clean up CL2 code and remove all references to RCs in the code / configs (e.g. object names often contain "rc").

[2019-07-08 12:20] wojtek-t opened #619 "Make it possible to source yamls in yamls"
I'm wondering how much work would it be allow injecting yamls to other yamls.

I've been thinking about it for some time, but https://github.com/kubernetes/perf-tests/pull/601 is actually a good example.
Would it be possible to define your yaml as:
[code]

[2019-07-11 11:45] oxddr opened #627 "perf-tests presubmit is flaky"
https://github.com/kubernetes/perf-tests/pull/590 was simply adding a piece of documentation in Markdown. However it was pretty in failing presubmit tests - see [dashboard](https://prow.k8s.io/pr-history/?org=kubernetes&repo=perf-tests&pr=590).

This shouldn't happen. We should investigate its flakiness.

Interestingly [gce-cos-master-scalability-100](https://k8s-testgrid.appspot.com/sig-scalabili

[2019-07-11 14:58] #588 closed

[2019-07-15 13:24] wojtek-t commented on #413
@mm4tt - you did a part of it (which is switching to deployments).

Would you mind taking the other parts to (adjust dns limits and bundle service together with Deployment)?
[that would make it clear other bundling later too, like secrets or configmaps]

/assign @mm4tt

[2019-07-15 13:28] mm4tt commented on #413
Sure thing, will take it over from here.

[2019-07-15 13:58] oxddr opened #637 "Investigate why Promethues was unavailable in gce100"
run that had problems: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1150479502615252994

[2019-07-15 14:00] oxddr commented on #637
/cc @mm4tt @mborsz

[2019-07-16 09:53] mm4tt commented on #618
Fixed by https://github.com/kubernetes/perf-tests/pull/636

[2019-07-16 09:53] #618 closed

[2019-07-16 11:39] oxddr opened #640 "Network Programming Latency: investigate spikes"
http://perf-dash.k8s.io/#/?jobname=gce-100Nodes&metriccategoryname=KubeProxy&metricname=NetworkProgrammingLatency

![asd](https://user-images.githubusercontent.com/30298753/61291559-1a21c380-a7cf-11e9-9087-05a4769acd24.png)

/assign @oxddr

[2019-07-16 11:45] wojtek-t opened #641 "Allow for running the same ClusterLoader2 test with different overrides as part of the same job"
More context in: https://github.com/kubernetes/perf-tests/pull/601#issuecomment-511776754

[2019-07-16 11:52] wojtek-t opened #642 "Move all contents of clusterloader2/pkg/measurement/common/simple/ down to common/"
/assign @krzysied

[2019-07-16 11:55] mm4tt commented on #552
/sig scalability
/unasssign

[2019-07-16 17:48] #642 closed

[2019-07-17 11:16] mm4tt opened #650 "Scalability presubmits should use boskos to manager resources"
See https://github.com/kubernetes/kubernetes/issues/78701#issuecomment-511569099

[2019-07-17 11:24] wojtek-t commented on #650
I think that is only about kubemark - gce-100 should already be using boskos (we're using projects from some pool).

kubemark-500 is more tricky, because currently we have one large project with big quota. We would need to split it to N projects with high enough quota to satisfy the requirements of kubemark-500.

[2019-07-17 11:35] mm4tt commented on #650
gce-100 doesn't seem to be using boskos - https://github.com/kubernetes/test-infra/blob/69c1cc687bb70176421e107d4838bf070dc561ea/config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml#L29
Or am I missing something?

[2019-07-17 11:57] wojtek-t commented on #650
Ohh - interesting. I think we were using, but I must be wrong.

[2019-07-17 11:58] wojtek-t commented on #650
So basically the effort here would be to split those project into N with high enough quota to run a single test.

[2019-07-18 20:44] wojtek-t commented on #246
/assign @mborsz @mm4tt

You already did some work around that - can one of you describe what is missing here?

[2019-07-22 08:53] krzysied opened #663 "ClusterLoader - 80% of logs are useless"
Currently 80% of the logs gather by cluster loader looks like this:
[code]

[2019-07-22 08:53] krzysied commented on #663
/area clusterloader

[2019-07-22 08:55] wojtek-t commented on #663
I guess the problem is that this info is being gathered from events, which has 1h TTLs.

If we really want that information, we should switch to watching events (which will be costly to apiserver btw).

[2019-07-22 08:57] krzysied commented on #663
I was thinking about listing events every 30 minutes...

[2019-07-22 08:58] krzysied commented on #663
Or we can turn off this logging - I'm not sure if anyone ever used this info...

[2019-07-22 08:59] wojtek-t commented on #663
That may work too, though it will have non-negligible performance impact too (fortunately events are stored in separate etcd, so at least on etcd-level we should be fine).

[2019-07-22 09:26] krzysied commented on #663
/assign

[2019-07-22 12:37] oxddr commented on #589
/remove-area slo

[2019-07-22 12:38] oxddr commented on #612
/assign @oxddr

[2019-07-22 13:17] mm4tt commented on #246
What is missing is basically going through all callers of [GetMasterIp and GetMasterInternalIp methods](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/config/cluster.go) and migrating them to use multiple IPs if feasible.

I'll try to do it in a free cycles.

[2019-07-23 06:24] wojtek-t opened #666 "Don't use raw pods in storage experimental tests"
Forked from https://github.com/kubernetes/perf-tests/pull/662

@wojtek-t : I'm fine with it as a starting phase, but we should move them to use deployments (using individual pods is more like anti-pattern, and startup-time is measured from pod creation anyway, so it shouldn't cause any additional problems).

@mucahitkurt : When I use a controller like deployments I can't control the volume names o

[2019-07-23 09:05] wojtek-t commented on #666
@mucahitkurt - I think I don't fully understand it.
What I was suggesting is that instead of creating N pods, create N deployments, with 1 pod each.
Given that deployment contains PodSpec which is exactly the same as PodSpec in Pod, you should basically be able to do exactly the same in both cases.

What am I missing?

[2019-07-23 09:20] wojtek-t opened #667 "Summaries are not generated for new storage tests"
In some of the newly introduced storage tests, pod_startup_latency summaries aren't generated.

E.g. in this run:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-storage-scalability-max-configmap-vol-per-pod/1153307037698887684/
clearly it was measured, it was even logged as violated, but no .json file exists

What is interesting, in other tests sharing the same test-config (just d

[2019-07-23 09:20] wojtek-t commented on #667
@mucahitkurt - this is the problem you had

[2019-07-23 09:21] wojtek-t commented on #667
hmm - I think I see what is happening - let me send a PR.

[2019-07-23 09:29] wojtek-t opened #669 "Expose pod-startup-time metrics for newly added storage tests in perf-dash"
@krzysied - do we finally have a description how to do that? Can you please help with it?

[2019-07-23 09:40] krzysied commented on #669
/assign @oxddr

[2019-07-23 09:44] oxddr commented on #669
I have a PR in-progress that adds documentation on this very topic. It was low on my list so far though. Shall I prioritize it?

[2019-07-23 09:45] oxddr commented on #669
/area documentation

[2019-07-23 09:45] oxddr commented on #669
/kind documentation

[2019-07-23 10:24] #667 closed

[2019-07-23 10:53] wojtek-t commented on #669
It's lower priority than SLI-related stuff you're working on. So no.

@krzysied - can you please help with setting them up - I guess it will be O(10) lines of code (+release, which people from community can't do anyway).

[2019-07-23 11:01] oxddr commented on #669
I have another issue opened purely for adding the documentation: https://github.com/kubernetes/perf-tests/issues/589. Assigning to @krzysied to update and release perf-dash

/assign @krzysied

[2019-07-23 13:49] wojtek-t commented on #437
clusterloader code has been removed :)

[2019-07-23 13:49] #437 closed

[2019-07-23 13:50] wojtek-t commented on #378
Given that we're fine with what we have now, I'm closing this one.

[2019-07-23 13:50] #378 closed

[2019-07-23 15:53] mucahitkurt commented on #666
@wojtek-t when I use N deployments instead of N pods there should't be problem, I thought/tried replication properties of the controller to create N pods with one deployment. I thought creating N deployments is not meaningful

I'll try it and will change existing test cases.

[2019-07-23 17:21] wojtek-t commented on #666
@mucahitkurt - sorry, I guess I wasn't clear. I had N deployments on my mind since the early beginning - otherwise we don't control speed of creation, etc.

[2019-07-24 11:10] krzysied opened #679 "ServiceCreationLatency should be able to handle all types of services"
Current implementation of service creation latency handles only services of type LoadBalancer. This functionality should be extended to other types of services.

[2019-07-24 11:38] krzysied opened #680 "Measurement's methods should be thread-safe"
Currently many cluster loader's measurements are using `isRunning` variable in not thread-safe way. This should be fixed.

[2019-07-24 11:55] krzysied opened #682 "ClusterLoader - Fix error handling and logging"
Currently cluster loader has places where error is logged and returned, just log or only returned.
The approach should be unified.

[2019-07-24 15:19] krzysied opened #685 "ServiceCreationLatency - measuring ping"
Running command on pod could be potentially expensive. We should consider moving part of the logic on pod side, so we don't lose time on communication with the pod.

[2019-07-24 15:30] krzysied commented on #669
Perfdash is updated.
Can we close the issue?

[2019-07-24 21:41] #600 closed

[2019-07-25 10:45] wojtek-t commented on #669
Yes - thanks.

[2019-07-25 10:45] #669 closed

[2019-07-25 11:53] mm4tt opened #694 "ResourceUsage measurement is essentially broken for short tests"
See https://github.com/kubernetes/kubernetes/issues/80212#issuecomment-515010726
Essentially two same runs in terms of scheduler CPU usage, one reported cpu usage of 0.5 other of 0.1.

Everything comes from the fact that we scrape the resource usage only a few times during short tests. In such case both 99th and 90th are the max observed usage, which doesn't make sense if cpu characteristic is sim

[2019-07-25 11:53] mm4tt commented on #694
/area clusterloader

[2019-07-25 12:43] mm4tt commented on #694
/assign

[2019-07-25 14:10] wojtek-t commented on #685
We should only do that based on the results of tests once we start measuring stuff.

[2019-07-25 21:13] hantaowang opened #696 "CL2 Feature Idea: command line override"
I'd like to recommend adding functionality to manually set overrides from the command, like how helm allows both the `--values` and `--set` flags.

This would mean `cl2 --testconfig config.yaml --testoverride override.yaml --set "v1=k1,v2=k2"` would take config.yaml, apply the overrides in override.yaml, and then apply the overrides from set.

This would allow more flexibility in tests where using

[2019-07-26 05:58] wojtek-t commented on #696
I think I disagree.
Your request is pretty similar to what is possible in test-infra:
- you can either use presets (in our case: overrides)
- or you can use --env in test config (in our case: what you're proposing)

This was causing us a bunch of pain in the past because we thought we are setting something via preset and in fact we didn't because it was overrwritten in jobs description.
While this

[2019-07-26 06:11] hantaowang commented on #696
Alright, I think that is pretty reasonable and I did not think about debugability. I will close this issue then.

[2019-07-26 06:11] #696 closed

[2019-07-26 07:48] mm4tt commented on #694
This is not done.

/reopen

[2019-07-29 11:18] mm4tt commented on #413
I've run the experimental load config on 5K node cluster over weekend. Some observations below

1. CoreDNS memory went up (expected, as we have more services):
**Baseline**
![RNzp2cLDCts](https://user-images.githubusercontent.com/2604887/62037887-f4e07c80-b1f4-11e9-9382-287c2bea5a8a.png)
**Simplified Load**
![HWBzOZfGD0G](https://user-images.githubusercontent.com/2604887/62037894-f8740380-b1f4-11e

[2019-07-29 11:24] mm4tt commented on #413
3. API Call Latency SLI of POST/DELETE Services went significantly up (and it's considered a **blocker** for enabling simplified load in the current form). The increase in latency seems to be coming from etcd, it looks like it's getting overloaded (which may be related to https://github.com/kubernetes/kubernetes/issues/80209), in the experimental run the latency of operations is much higher than i

[2019-07-29 11:26] mm4tt commented on #413
Given 3, this is currently blocked. We can get back to it once etcd performance gets improved (e.g. https://github.com/kubernetes/kubernetes/issues/80209 gets fixed).

[2019-07-29 11:58] krzysied opened #700 "Kubemark etcd resource measurement is broken"
Resource usage of kubemark etcd is not being gathered.

http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=E2E&metricname=LoadResources&PodName=etcd%2Fetcd%2Fdata&Resource=CPU
http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=E2E&metricname=LoadResources&PodName=etcd%2Fetcd%2Fdata&Resource=memory

[2019-07-29 11:59] krzysied commented on #700
/assign
/cc @mborsz

[2019-07-29 13:42] oxddr commented on #553
/close

We decided not to migrate tests other than 5k performance and correctness to a dedicated build cluster. The effort (e.g. setting up Boskos) is not worth gain (not sure if there is any).

[2019-07-29 13:42] #553 closed

[2019-07-29 15:21] #700 closed

[2019-07-29 17:00] mm4tt opened #704 "Scalability load test extended to exercise Deployments, DaemonSets, StatefulSets, Jobs, PersistentVolumes, Secrets, ConfigMaps, NetworkPolicies"

[2019-07-29 17:00] mm4tt commented on #704
/assign

[2019-07-30 07:08] wojtek-t opened #706 "Should volume formatting be included in pod startup time?"
Forked from: https://github.com/kubernetes/perf-tests/pull/657

from @msau42

/area slo
/are clusterloader

[2019-07-30 14:11] oxddr commented on #637
I haven't debugged the linked run, but it has happened yesterday that Prometheus was unavailable. I had a look into [this run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1155971902410330112) and it seems to be caused by [already known bug](https://github.com/kubernetes/kubernetes/issues/60987) in k8s.

[2019-07-30 14:12] oxddr commented on #637
/close

[2019-07-30 14:12] wojtek-t opened #710 "Most of experimental storage tests are broken"
They are failing with errors like this
[code]

@hantaowang @mucahitkurt - can you please take a look?

@msau42 @davidz627 - FYI

[2019-07-30 14:12] wojtek-t commented on #710
The error above is coming from this:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-storage-scalability-max-configmap-vol-per-node/1156177767411224577

But majority of these are failing with similar error:
https://testgrid.k8s.io/sig-scalability-experiments#Summary

[2019-07-30 14:15] mm4tt commented on #637
/reopen

Could you explain what is the connection between the bug you referred to and unavailable Prometheus in our tests?

[2019-07-30 14:15] mm4tt commented on #637
/assign @oxddr

[2019-07-30 14:44] mucahitkurt commented on #710
I'm looking into this issue

[2019-07-30 15:10] oxddr commented on #637
scheduler was unable to schedule prometheus-k8s-o pod (up until the problematic node has been restarted - see last log):
[code]

kubelet logs:
[code]
this seems to be exact symptoms from the issue linked above.

The next was able to recover, but only due to node being restarted, which has ended the vicious circle.

[2019-07-30 20:09] #710 closed

[2019-07-31 10:08] mm4tt commented on #704
I've run a 5K node test yesterday, using the extended load scenario with enabled: Secrets, ConfigMaps, StatefulSets and PVs.
The test passed, but the new prometheus-based api-call latency measurement failed for a few tuples:
[code]
I checked Prometheus graphs for that run, and it looks like the Prometheus based api-call was broken by single spikes (happening around log rotate) in all cases:
** POS

[2019-07-31 11:26] mm4tt commented on #704
After discussing with team we agreed that we should be good to enable Secrets and ConfigMaps in CI/CD tests.

I'll enable it in perf-test presubmit, someone will have to take over enabling it in other places.

[2019-07-31 12:00] oxddr commented on #704
For the record, the fact that Prometheus-based API call latency SLO was violated can be actually  valid. But I understand issues caused by logrotate are orthogonal to changes you did.

Prometheus-based measurement is close to SLO defintion and thus is more strict and prone to violations caused by spikes.

[2019-07-31 12:40] #694 closed

[2019-08-01 00:27] hantaowang opened #722 "PV Experimental storage tests fail to delete all resources"
The resource diff tests is failing for all storage tests using PVs. This is likely because while PVCs are deleted, there is nothing to make sure that all PVs and thus the underlying volume is deleted from GCE. We can use WaitForBoundPVCs to wait until PVCs are unbound, but that doesnt guarantee that the PV controller will delete the volumes before the test finishes.

What are your thoughts on how

[2019-08-01 00:32] msau42 commented on #722
While we figure this out, can we quickly disable the tests?

What we do in our regular e2es is wait until all PVs are gone

[2019-08-01 00:44] hantaowang commented on #722
Of course: https://github.com/kubernetes/test-infra/pull/13721

We can do that too. Its probably the simplest option that just amounts to adding another function WaitForProvisionedPV to CL2. It seems weird because its oddly similar to WaitForBoundPVC although it is different.

[2019-08-01 06:41] wojtek-t commented on #722
sounds fine to me (yes, it will be similar, but as I mentioned on some other PR, we probably will do some refactoring at some point to share more code)

[2019-08-01 12:38] #666 closed

[2019-08-01 12:56] oxddr opened #730 "dashboards: split "Master Dashboard" into many smaller ones"
"Master dashboard" has some many graphs so it keeps crashing my browser (running on quite powerful machine), making ones at the bottom unusable at all.

While I understand that switching dashboards in Grafana is not the best experience, but we reached the point when we can't add more graphs to a single console.

/cc @mborsz and @wojtek-t for thoughts

[2019-08-01 14:08] mborsz commented on #730
I noticed that dashboards have slowed down after https://github.com/kubernetes/perf-tests/pull/692 was merged.

We may consider optimizing dashboard first.

[2019-08-01 19:28] wojtek-t opened #734 "Refactor wait_for_{pods, pvcs, pvc} and {pods, pvcs, pvs} files"
We're accumulating a lot of code duplication for different types:
- pods:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/util/pods.go
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/wait_for_pods.go
- pvcs
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/util/pvcs.go
https://github.co

[2019-08-01 19:40] wojtek-t commented on #734
How I would see that:
- the files from /util directory should implement some interfaces (Diff, ComputeStatus, etc.)
- the wait_for-* should simply take the interface and use that (this one should hopefully be possible to implement just once and not even have any customizations for)

[2019-08-01 19:40] wojtek-t commented on #734
@krzysied - FYI

[2019-08-02 13:16] oxddr commented on #730
We should check that. If 5s step is causing performance problems I don't think we need it in some (most?) graphs.

[2019-08-02 13:17] oxddr commented on #559
Done by @mborsz. We ended up going with grafanalib.

/close

[2019-08-02 13:17] #559 closed

[2019-08-02 13:18] oxddr commented on #288
/area slo

[2019-08-02 13:27] oxddr opened #735 "dashboards: graphs showing internal etcd state"
etcd dashboard needs more graphs, showing internal its state, so we have more insights while debugging regressions. Today I hit the wall, when trying to find out reasons for etcd slowness.

A good starting point can be the [example dashboard](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/grafana.json) from etcd team.

[2019-08-02 18:13] #722 closed

[2019-08-08 23:22] #451 closed

[2019-08-09 12:27] oxddr commented on #640
/area slo

[2019-08-11 22:32] #456 closed

[2019-08-12 12:09] #615 closed

[2019-08-17 17:00] #461 closed

[2019-08-17 17:00] #355 closed

[2019-08-19 09:31] oxddr commented on #523
/remove-lifecycle stale

[2019-08-19 10:24] oxddr commented on #637
/close

[2019-08-19 10:24] #637 closed

[2019-08-19 10:24] oxddr commented on #597
/close

[2019-08-19 10:24] #597 closed

[2019-08-19 11:47] oxddr commented on #640
/reopen

While there is a visible improvement in gce5000, I still see spikes in gce100.

![vOKXReNvre7](https://user-images.githubusercontent.com/30298753/63263084-eaf7e980-c287-11e9-8a50-897e48ea79ec.png)

[2019-08-20 11:54] oxddr opened #755 "Ping-client pods restarts simultaneously during 5k scalability test"
In 5k scalability tests, during ending phase of density test, most or all ping-client pods are restarting at the very specific moment (18:38-18:39), about half an hour before probe namespace removal (19:09)
Memory leak?

Checked in 5x tests, happening every time:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1156973347335049216
https://prow.k8s.io/vie

[2019-08-20 11:55] oxddr commented on #755
My wild guess there is some kind of memory leak in probes.

One action item would be to measure or display more metrics from probes in our Grafana dashboards, so debugging would be easier.

[2019-08-26 14:43] oxddr commented on #640
root cause: kube-proxy doesn't distinguish between cache sync and add/update events when exporting "network programming latency" metric.

I had a look at [this run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1165928760730456064), which has very high 99th percentile of network programming latency. kube-proxy on at least one node has been restarted dur

[2019-08-26 15:57] oxddr commented on #640
@wojtek-t: I haven't look into that, I'll do that tomorrow. The whole test suite has passed FWIW.

Anyway, we should make SLI calculations immune to component restarts.

[2019-08-26 16:14] oxddr commented on #640
99th percentile is rather a weak protection. An example: if there is larger number of service in the cluster with low churn, this won't protect us. I think the investigation of this particular failure is independent from whether we want to include or not sync events. I'll have a look at it anyway, but of we intend to take sync into account restarts, we should be somehow explicit about it and if no

[2019-08-26 16:35] oxddr commented on #640
I had exactly this interpretation in mind, apologize for being clear. This indirectly incorporate node-uptime into networking programming latency and I am not convinced it should be taken into account. I've checked the [wording of this SLI](https://github.com/kubernetes/community/blob/master/sig-scalability/slos/network_programming_latency.md) and it's unclear on this aspect too.

[2019-08-27 11:41] oxddr commented on #640
I had a look at the node and it was targeted by NodeKiller, so business as usual. This also explains why we see spikes in gce100, but not gce5000 where NodeKiller is not enabled.

[2019-08-27 11:49] oxddr commented on #640
/cc @jkaniuk

[2019-08-27 13:10] oxddr commented on #640
Two nodes has been restarted during the test ~25 minutes apart from each other.

[2019-09-02 15:45] oxddr commented on #755
I've run test locally with kubelet scrapping enabled and it seems, that probes' memory usage grows and we have a memory leak in probes.
![g1gHKQaiFkG](https://user-images.githubusercontent.com/30298753/64125154-62119f80-cda9-11e9-8ebb-3f6dd7391073.png)
I'm going to enable pprof in probes to allow memory profiling.

[2019-09-03 14:24] oxddr commented on #755
Based on my local runs, this seems to be fixed: ![sUZWqpTLsnp](https://user-images.githubusercontent.com/30298753/64181726-5389bd80-ce67-11e9-8a5d-77e41569ce40.png)

[2019-09-04 12:35] #755 closed

[2019-09-05 07:52] mm4tt opened #777 "Node-killer should avoid killing nodes where prometheus is run"
Here is an example run of gce-100 that failed due to that.

1. Prometheus was bound on node `e2e-big-minion-group-352h`

[code]

2. This node was later killed by node-killer:
[code]

3. This ended up in the test failing due to no connection to prometheus

[code]

/area clusterloader

[2019-09-06 12:45] oxddr opened #779 "Measure SLOs across whole suite, not single tests"
Currently we measure all SLOs per-test. We think about measuring it across whole testing suite (density + load).

Measuring SLO across performance suite will increase number of windows (as defined in SLO description). Single bad request will have a smaller chances to sink the whole tests. Currently we see test flakiness cause by a single request (e.g. https://github.com/kubernetes/kubernetes/issue

[2019-09-06 13:50] wojtek-t commented on #779
Alternatively (I'm actually leaning towards saying that it would be better, but I'm happy to hear arguments against) we could:
- add a concept of measurement that is run before the first test case and then after the last
[conceptually BeforeSuite and AfterSuite from ginkgo]
- start and gather all SLOs there

[2019-09-06 13:51] wojtek-t commented on #779
I think that we can even hardcode the set of things that we start there - it would also visibly simplify the configs...

[2019-09-06 13:51] wojtek-t commented on #779
@mm4tt - FYI

[2019-09-06 14:12] oxddr commented on #779
I like the new per-suite measurements you propose. This is indeed a better, long-term solution. Mine was suppose to be rather a hacky prototype to validate the concept.

However I'd rather avoid hard-coding any set of measurements, this would decrease the flexibility clusterloader2 gives us. But I'm open for debate.

[2019-09-06 14:16] mm4tt commented on #779
Could it become part of the TestSuite - https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/docs/test_suite_design.md ?

[2019-09-06 14:17] wojtek-t commented on #779
I'm not going to push hard for this. My main goal is just to simplify the configs.
So the next iteration of that proposal is:

1. opaque the SLO-based measurement (api-call-latencies, network-programming, ...) into single "SLO" measurement [we can't yet add pod-startup-time, but we hopefully will be in the future]
[this is similar to what we did for TestMetrics]

2. Make that a default measurement

[2019-09-06 14:17] wojtek-t commented on #779
yes - it perfectly fits there

[2019-09-10 11:18] wojtek-t opened #783 "Prometheus and its operator should be using protobufs when talking to apiserver"
Currently, they seem to use jsons.

[2019-09-11 11:51] mm4tt opened #786 "Scraping etcd by clusterloader doesn't work since Jul 29"
The culprit PR is https://github.com/kubernetes/kubernetes/pull/77561 which changed etcd metric port from 2379 to 2382.
We were aware of the change, if fact we needed to adjust the clusterloader2 to allow that (as we're asserting that etcd was scraped), but unfortunately there is a bug in the https://github.com/kubernetes/perf-tests/pull/681 that resulted in stopped checking whether we scrape etcd

[2019-09-11 11:51] mm4tt commented on #786
/assign

[2019-09-11 11:57] oxddr commented on #650
Data point: https://github.com/kubernetes/perf-tests/pull/784 and https://github.com/kubernetes/perf-tests/pull/785 has failed `pull-perf-tests-clusterloader2` due to lack of CPU quota. At the moment we east all of it (2500 CPUs).

[2019-09-11 12:15] oxddr opened #787 "Create an umbrella measurement for all SLIs"
Currently all SLIs are measured by a separated, dedicated measurement. Once they are stable there is no reason to run them separately. We should add an umbrella measurement so we can simplify test config.

/area slo
/area clusterloader

[2019-09-11 12:15] oxddr commented on #787
/assign @oxddr

I'll take care of this early October. Free to take in the meantime.

[2019-09-11 12:16] oxddr commented on #787
/label good-first-issue

[2019-09-11 12:17] oxddr commented on #787
/good-first-issue

[2019-09-11 12:17] oxddr commented on #787
FYI: @wojtek-t @mm4tt this is good first issue for someone willing to learn about scalability tests and clusterloader.

[2019-09-11 21:31] oxddr commented on #787
Here is more detailed design of this change:

1. Add `CombinedMeasurement` - type implementing `Measurement` interface (this is needed, so we can have a single Measurement type for SLO):
  - grouping together N other measurements
  - forwarding calls to all individual measurements
  - aggregate returned errors in gather phase
  - up to investigation is how to specify configuration for each individ

[2019-09-11 21:32] oxddr commented on #787
@hemanthmalla please let me know if there is anything unclear

[2019-09-12 07:47] mm4tt commented on #786
Fixed with https://github.com/kubernetes/perf-tests/pull/788
/close

[2019-09-12 07:47] #786 closed

[2019-09-12 08:12] mm4tt opened #790 "Calculating num replicas for DaemonSets should take into account affinity"
/area clusterloader
/label help-wanted

[2019-09-12 09:53] mm4tt opened #794 "Reduce boilerplate around WaitForControlledPodsRunning measurments"
In load tests there is a lot of boilerplate and code repetition to start and gather WaitForControlledPodsRunning for different kinds of resources (Deployments, StatefulSets, DaemonSets, etc.).
We should create a wrapper measurement that will allow us to express exactly the same in a few lines of code instead.

/area clusterloader
/good-first-issue

[2019-09-12 15:02] oxddr opened #796 "Add per test suite measurements and use them for SLIs"
Currently we do measure all SLIs per test, but actually there is no reason not to run them per [test suite](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/docs/test_suite_design.md). Benefits of having SLIs measure per test suite:
 * more data points - important especially in shorter tests, where we lack data points and they are prone to flakiness due to single spikes
 * more

[2019-09-13 07:07] wojtek-t opened #797 "Figure out a mechanism to avoid breaking tests in k/k repo"
Yesterday merging https://github.com/kubernetes/perf-tests/pull/788 broke tests in k/k repo in for 1.16 release branch, because it was depending on https://github.com/kubernetes/kubernetes/pull/82579 that was merged only at head.

Some time ago, we set up presubmits in perf-tests repo, to avoid breaking k/k repo. But that only works for master branch of k/k. We should figure out a way to protect r

[2019-09-13 07:08] wojtek-t commented on #797
@mm4tt

[2019-09-13 07:38] mm4tt commented on #797
+1 to 2. as it would solve a few other issues in addition to presubmits/breaking k/k repo

Would be nice if we had some automation behind creating new branches in k/perf-tests, but we can start with doing that manually.
Once we have branches for each release it should be quite straightforward to use the `fork-per-release-replacements` feature to configure our CI/CD jobs to checkout proper branch o

[2019-09-13 08:27] oxddr commented on #797
Option 1 seems to be partial subset of the option 2 (modulo additional branches in k/perf-tests). I'd lean to the option 1. Maintaining a single branch is a simple mental model - one need to remember that we need to be compatible with least supported version. Incompatible changes seem to be fairly rare beasts.

A problem I see for the option 2 is that not having an automation and processes from da

[2019-09-16 09:33] Sakuralbj opened #798 "Can't run perf-tests/clusterloader2/run-e2e.sh in my kubernetes master node."
[code]

[2019-09-16 12:58] mm4tt opened #799 "Load test: Test run-to-completion workflow for Job objects"
As a part of https://github.com/kubernetes/perf-tests/issues/704 the load test was extended to cover Jobs.

The way it was implemented was kind of a shortcut, we used "pause" pods that never complete and used Jobs in the same way we use/test Deployments, i.e. we create N Jobs of size X then scale them up or down and then delete the jobs. While this was a good start to test overall performance of j

[2019-09-17 12:19] krzysied commented on #797
+1 for option 2.
We can remove legacy test directories, when there is a versioning.

[2019-09-17 14:34] jkaniuk commented on #798
perf-tests should be located in $GOPATH/src/k8s.io/perf-tests

[2019-09-18 10:01] mm4tt opened #803 "Make PV test work on kubemark clusters"
Enabling PVs in the load test failed the kubemark presubmit because scheduler failed to schedule pods with PVs
[code]

In order to make it work on kubemark we'll most likely have to change (or ensure they already work this way) a few places in code so they're faking operations related to attaching and mounting PDs in kubemark
* Attach Detach Controller
* HollowKubelet
* Scheduler
* ?

Ref. https:/

[2019-09-18 10:45] Sakuralbj commented on #798
Thank you.I have solved the problem.

[2019-09-18 10:51] jkaniuk commented on #798
/close

[2019-09-18 11:13] mm4tt opened #804 "CL2 shouldn't use system-node-critical PriorityClass for DaemonSets"
Instead, CL2 should create a separate PriorityClass for DaemonSets that will be higher than the default PiorityClass used for pods (see https://github.com/kubernetes/kubernetes/issues/82818).
This will be a cleaner solution that using the "system-node-critical" PriorityClass.

[2019-09-18 11:19] mm4tt commented on #804
/good-first-issue

[2019-09-18 11:19] mm4tt commented on #803
/good-first-issue

[2019-09-18 12:55] mm4tt commented on #804
Turned out it's not possible to use system-node-critical priority for non-system pods.

/close

[2019-09-18 12:55] #804 closed

[2019-09-20 12:47] mm4tt opened #807 "ClusterLoader2: NetworkProgrammingLatency measurement should detect if scraping kube-proxy is disabled and disable itself if so"
See https://github.com/kubernetes/perf-tests/pull/806/files#r326609771

[2019-09-20 12:47] mm4tt commented on #807
/area clusterloader
/good-first-issue

[2019-09-21 16:29] RonakKhandelwal commented on #807
Hey Guys, I'm want to pick this up. I am a new contributor and would be grateful if you could just point me in the right direction. I already have the dev environment setup over docker from the Readme file. Let me know if I need to setup something extra for this.

[2019-09-21 16:31] RonakKhandelwal commented on #807
Hey Guys, I'm want to pick this up. I am a new contributor(New to go as well) and would be grateful if you could just point me in the right direction. I already have the dev environment setup over docker from the Readme file. Let me know if I need to setup something extra for this.

[2019-09-23 08:11] wojtek-t commented on #572
/remove-lifecycle stale
/lifecycle frozen

[2019-09-23 09:37] mm4tt commented on #807
Hey @RonakKhandelwal, that's great to hear!

List of steps to implement this:

1. Add a new flag for scraping kube-proxy in https://github.com/kubernetes/perf-tests/blob/37ac016b13ceb03f8cb646fb219e28164a975f94/clusterloader2/pkg/prometheus/prometheus.go#L53. It will be similar to prometheus-scrape-kubelets, you can name it prometheus-scrape-kubeproxy

2. Make ClusterLoaderConfig available in Meas

[2019-09-23 14:21] vamossagar12 commented on #794
hi @mm4tt Is this issue resolved?

[2019-09-23 14:24] mm4tt commented on #794
Hey @vamossagar12, no, it's still open :)

[2019-09-23 14:26] vamossagar12 commented on #794
ok let me assign it to myself. May need your help though :D

[2019-09-23 14:26] vamossagar12 commented on #794
/assign

[2019-09-23 14:34] mm4tt commented on #794
Great!
I'll update the issue with more concrete description of what has to be done today / tomorrow morning. Thanks! :)

[2019-09-23 15:02] mm4tt commented on #798
/close

[2019-09-23 15:02] #798 closed

[2019-09-23 15:07] mm4tt commented on #777
/good-first-issue

[2019-09-23 15:10] mm4tt commented on #730
@jkaniuk proposed collapsing panels by default, apparently grafa doesn't execute queries for collapsed graphs so it should help.

[2019-09-23 15:16] mm4tt commented on #619
This is already possible, e.g. see - https://github.com/kubernetes/perf-tests/blob/6b699a104fa2378996711bacc1a2d172f8548cd5/clusterloader2/pkg/prometheus/manifests/grafana-dashboardDefinitions.yaml#L10

[2019-09-23 15:16] #619 closed

[2019-09-23 15:17] mm4tt commented on #595
/good-first-issue

[2019-09-23 15:21] mm4tt commented on #246
/good-first-issue

[2019-09-24 07:18] wojtek-t commented on #576
/remove-lifecycle stale
/lifecycle frozen

[2019-09-24 07:24] mm4tt commented on #573
This is blocked by https://github.com/kubernetes/perf-tests/issues/552, but we still want to do it.
/remove-lifecycle stale

[2019-09-24 07:38] mm4tt commented on #246
/remove-lifecycle frozen

[2019-09-24 09:18] wojtek-t commented on #619
Nice - I didn't know about it.

[2019-09-24 13:13] RonakKhandelwal commented on #807
Will submit a pr by 8:00pm EST

[2019-09-24 13:15] mm4tt commented on #794
Hey, sorry for the late reply.

Good way of starting this would be to introduce a new measurement that would allow to call some method on set of other measurements.
An use case for that would be the ["WaitForPodsToBeRunning" step](https://github.com/kubernetes/perf-tests/blob/b34ec893e155e33d69c6d325aa22dd9e36fe2f8d/clusterloader2/testing/load/config.yaml#L322)
Currently it looks like this
[code]

[2019-09-25 01:49] RonakKhandelwal commented on #807
Hey @mm4tt I have done the changes but I want to test them before sending a PR. Can you help me setup a test flow for this particular issue?

[2019-09-25 09:25] mm4tt commented on #807
Hey @RonakKhandelwal, you can send a PR and it will get tested by the CI/CD automation. Unfortunately, to run the perf-tests manually you'll need a 100+ node k8s cluster.

[2019-09-25 14:53] vamossagar12 commented on #794
awesome thanks @mm4tt I will start taking a look at the PR and code within the next couple of days( a bit caught up with work).

[2019-09-25 14:54] mm4tt commented on #794
No worries, it's not an urgent thing, but will be good to have it. Thanks so much for looking into it!

[2019-09-26 02:01] RonakKhandelwal commented on #807
Hey @mm4tt I have submitted a pull request please review it. There was some issue with the CLA which has been fixed(signature done).

[2019-09-26 08:07] wojtek-t commented on #783
Ref https://github.com/kubernetes/kubernetes/issues/62277

[2019-09-26 16:58] wojtek-t commented on #584
/remove-lifecycle stale

[2019-09-26 16:59] wojtek-t commented on #585
@mborsz - maybe this can be done together with the adjusting of perfdash to support TestSuite?

/remove-lifecycle stale

[2019-09-27 07:22] mborsz commented on #585
@pierewoj, I know that you managed to run perf dash locally. How did you know how to do that? Could you write down short doc with list of steps required to do so?

[2019-09-27 15:01] #585 closed

[2019-09-27 15:36] alejandrox1 commented on #246
Hi all,
does anyone mind if i take this?
/assign @alejandrox1

[2019-09-30 06:48] mm4tt commented on #246
Hey @alejandrox1,

We don't mind at all, quite the opposite :) Let me know if you need any assistance with this, I'll be happy to help.

Thanks!

[2019-10-01 16:22] wojtek-t commented on #498
/remove-lifecycle stale

[2019-10-02 09:17] wojtek-t commented on #604
We should migrate to distroless.

/remove-lifecycle stale

[2019-10-03 02:57] Jukie commented on #803
I'd like to pick this up, where would I begin?

[2019-10-03 14:55] mm4tt commented on #595
Steps:

1. Find all places in `k8s.io/test-infra` that are setting the `MASTER_IP` or `MASTER_INTERNAL_IP`, update them to also set the plural variable (`MASTER_IPS`, `MASTER_INTERNAL_IPS`)
2. Update the ClusterLoader2 code to change the names from singular to plural (`MASTER_IP` -> `MASTER_IPS`), see TODOs in https://github.com/kubernetes/perf-tests/pull/544
3. Clean up `k8s.io/test-infra` to sto

[2019-10-03 14:56] mm4tt commented on #803
Hey, @Jukie, that's great to hear!

This one is a bit more complicated, I'll need to think about it more and come up with a more concrete list of steps. Unfortunately, I won't have time to do it until ~mid next week.
In the meantime, feel free to pick another issue from the [help wanted list](https://github.com/kubernetes/perf-tests/labels/help%20wanted). I think https://github.com/kubernetes/perf

[2019-10-04 00:49] phenixblue opened #829 "Update Netperf to use modern client-go"
the Netperf code references an outdated version of client-go and has references to older versions of `k8s.io/api/core/v1`.

[2019-10-04 03:44] Jukie commented on #595
Do the gcloud calls return all of the needed ip's or should I be adding a loop to handle that?
https://github.com/kubernetes/test-infra/blob/ef83ebe5d17630bd608d618ae89bfec1c0f35842/kubetest/e2e.go#L606-L611
[code]
https://github.com/kubernetes/test-infra/blob/ef83ebe5d17630bd608d618ae89bfec1c0f35842/kubetest/e2e.go#L624-L629
[code]

I'm mostly familiar with AWS, but I'm curious if the following n

[2019-10-04 03:55] Jukie commented on #595
- [ ] Add plural variables to k8s.io/test-infra
- [ ] Update CL2 to use the new variables
- [ ] Cleanup k8s.io/test-infra

[2019-10-05 20:08] alejandrox1 commented on #246
thank you Matt

And an update: i'am actively working on this and will get a pr out as soon as possible :)
/lifecycle active

[2019-10-06 08:13] mozhuli commented on #829
/assign

[2019-10-06 08:57] mozhuli commented on #790
I can help it, Can I assign it to me? @mm4tt

[2019-10-07 09:29] mm4tt commented on #790
Sure, would be great if you could take it :)

The purpose of this issue is to address these TODOs:
* https://github.com/kubernetes/perf-tests/blob/7d226a65336414a2d23141d6cc09f6ac4e4d09f3/clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go#L294
* https://github.com/kubernetes/perf-tests/blob/7d226a65336414a2d23141d6cc09f6ac4e4d09f3/clusterloader2/pkg/measurement/util/runtimeobject

[2019-10-09 12:59] oxddr commented on #627
I didn't have time to look at this. We're migrating test project to boskos so this will hopefully resolve some of flakiness.

/close

[2019-10-09 12:59] #627 closed

[2019-10-10 13:20] oxddr commented on #797
/assign @oxddr

[2019-10-11 17:09] vamossagar12 commented on #794
@mm4tt I finally got a chance to look at this code base now(apologies for the delay). I am getting a sense of the flow. Wanted to know, what exactly are you terming as boiler plate code here?(Again sorry if the question sounds too naive)

[2019-10-14 12:38] wojtek-t commented on #552
/remove-lifecycle stale

[2019-10-14 12:40] wojtek-t commented on #641
This has already been fixed.

[2019-10-14 12:40] #641 closed

[2019-10-14 13:03] oxddr commented on #527
This seems to be fixed, as per @mm4tt comment.

/close

[2019-10-14 13:03] #527 closed

[2019-10-15 11:29] mozhuli commented on #790
/assign

[2019-10-15 13:10] mozhuli commented on #777
/assign

[2019-10-16 20:20] RonakKhandelwal commented on #807
@mm4tt We should be able to close this issue right?

[2019-10-17 06:12] wojtek-t commented on #807
Yes - thanks.
Fixed by https://github.com/kubernetes/perf-tests/pull/814

[2019-10-17 06:12] #807 closed

[2019-10-19 06:57] mozhuli commented on #679
@krzysied I can help with it, Can I pick it up?

/assign

[2019-10-19 11:04] mozhuli commented on #680
/assign

[2019-10-20 17:42] mm4tt commented on #807
Thanks, @RonakKhandelwal!

[2019-10-21 06:12] oxddr commented on #589
/remove-lifecycle stale

[2019-10-21 06:12] oxddr commented on #617
/remove-lifecycle stale

[2019-10-21 07:55] wojtek-t commented on #663
/remove-lifecycle stale

[2019-10-21 13:18] wojtek-t commented on #777
Fixed by https://github.com/kubernetes/perf-tests/pull/863

[2019-10-21 13:18] #777 closed

[2019-10-22 03:06] xieyanker opened #864 "exec `./run core-dns out ` got `error gettings dns ip for service kube-dns`"
Hello, I clone the newest code, and I exec `./run core-dns out` got `error gettings dns ip for service kube-dns`
[code]

[2019-10-22 03:39] xieyanker commented on #864
However, it seems success run when I exec `python py/run_perf.py --dns-server coredns --params params/coredns/default.yaml --out-dir out`, so I commit a PR #865

[2019-10-22 07:03] #864 closed

[2019-10-22 10:59] oxddr opened #866 "Figure out how to implement (or mimic) image preloading in kubemark"
Context: https://github.com/kubernetes/perf-tests/pull/862

[2019-10-22 11:01] wojtek-t commented on #866
Some idea is here:
https://github.com/kubernetes/perf-tests/pull/862/files#r336966546

[2019-10-22 12:49] wojtek-t commented on #682
/remove-lifecycle stale

[2019-10-23 08:10] hex108 opened #867 "perfdash do not display the scheduler perf benchmarks"
There is no data displayed in http://perf-dash.k8s.io/#/?jobname=scheduler-benchmark&metriccategoryname=Scheduler&metricname=BenchmarkResults scheduler perf benchmarks, it is very important to track performance regressions. Is it disabled intentionally?

[2019-10-23 13:09] wojtek-t commented on #561
/remove-lifecycle stale

[2019-10-23 13:58] candonov opened #869 "ERROR runner.py:275] Error parsing results: cannot do a non-empty take from an empty axes."
When I do `./run coredns out` or `/.run node-local-dns out`, I get the following error:

[code]

I tried different versions of numpy (1.16.4, 1.15.4 but I get the same error).

[2019-10-24 07:51] wojtek-t commented on #685
/remove-lifecycle stale
/lifecycle frozen

[2019-10-24 11:17] pierewoj opened #871 "Disable kubernetes-dashboard in kubemark tests"
It is restarting, see test run https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1187033625619599363/

There is little benefit from debugging since in kubemark tests focus on master performance and dashboard is being scheduled on hollow node, so the recommendation is to disable it completely.

[2019-10-24 11:22] pierewoj opened #872 "Investigate fluentd-gcp restarts in GCE-5000 tests"
Perf dash link:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=SystemPodMetrics&metricname=Load_SystemPodMetrics&RestartCount=RestartCount

Specific run (fluentd-gcp restarted 16 times in one pod):
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1186689211571376131/artifacts/SystemPodMetrics_load_2019-10-23T05:56:09Z.json

[2019-10-24 12:22] pierewoj opened #874 "Kube-scheduler and controller-manager restarting in kubemark-5000"
http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=SystemPodMetrics&metricname=Load_SystemPodMetrics&RestartCount=RestartCount

Possibly, switching to using private IPs should help.

[2019-10-24 13:31] regardfs opened #875 "Errors: [measurement call TestMetrics - TestMetrics error: [text format parsing error in line 1: invalid metric name]]"
Run clusterloader to perf my k8s ,and error occured
K8s: v1.13.10
golang: 1.11.13

[code]

the core message is
[code]
Could u guys provides any advise? which metric name is invalid, I am a greenhand, thanks a lot

[2019-10-24 14:32] pierewoj commented on #871
Shoudl be fixed by https://github.com/kubernetes/test-infra/pull/14955

[2019-10-24 16:20] vamossagar12 commented on #794
@mm4tt I am working on creating a new wrapper measurement. When I try to run the clusterloader.go with
` go run clusterloader.go --kubeconfig=kubeConfig.yaml --testconfig=config.yaml`,

I get an error:
`
# k8s.io/client-go/transport
../../../../go/src/k8s.io/client-go/transport/round_trippers.go:70:11: cannot convert klog.V(9) (type klog.Verbose) to type bool
../../../../go/src/k8s.io/client-go/tr

[2019-10-27 12:57] wojtek-t commented on #413
/remove-lifecycle stale
/lifecycle frozen

[2019-10-28 07:29] #650 closed

[2019-10-28 08:03] wojtek-t commented on #706
/remove-lifecycle stale
/lifecycle frozen

[2019-10-29 01:51] Dingshujie opened #879 "CluseterLoader2 can use existing prometheus server"
now CluseterLoader2 create prometheus server when enabled，sometimes, we installed prometheus already, we can use exsiting prometheus server

[2019-10-31 08:05] wojtek-t commented on #734
/remove-lifecycle stale
/lifecycle frozen

[2019-11-01 06:52] #867 closed

[2019-11-06 17:27] mm4tt opened #887 "CL2 density and load test shouldn't require # nodes to be multiple of 100"
If you try running load or density test with #nodes not being multiple of 100 (e.g. with less than 100 nodes) you'll get some strange error caused by attempt to divide by 0:

[code]

We should fix that to unblock people who want to start their adventure with clusterloader2 but don't necessary have enough resources to run 100 node cluster.

[2019-11-06 17:27] mm4tt commented on #887
/good-first-issue

[2019-11-07 09:26] oxddr opened #889 "Deprecate APIResponsiveness measurement in favor of APIResponsivenessPrometheus (simple query)"
/good-first-issue

I am happy to provide guidance if someone wants to work on this one.

[2019-11-07 09:27] oxddr commented on #787
@hemanthmalla how is it going with this issues? Did you have a chance to work on this one?

[2019-11-08 00:25] yasarhussain commented on #889
I would like to take a stab and would love some guidance.

[2019-11-08 09:44] oxddr commented on #889
Awesome, @yasarhussain. I'll come back with more details hopefully by the end of the day.

[2019-11-12 07:50] Sakuralbj commented on #889
Is there anyone doing this issue now? I am willing to participate if not.

[2019-11-12 15:44] yasarhussain commented on #889
I was planning on doing it but was waiting for guidance from @oxddr

[2019-11-12 16:03] oxddr commented on #889
I apologize, for not coming back to you earlier. Here's what needs to be done:

1. Rollout ENABLE_PROMETHEUS_API_RESPONSIVENESS in all tests. It's enabled in some tests (e.g. [gce100](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L163))
2. Cleanup experiment after some time (TBD, 1 week?)
2. Delete [APIRespons

[2019-11-12 17:12] sonyafenge opened #895 "clusterloader2 testing result missing ControllerManagerMetrics"
Run clusterloader2 with default config under ./testing and get all result for controller manager is null.
cmd:
[code]

test result for controller manager:
[code]

[2019-11-12 17:29] aakarshg opened #897 "RFE ( ClusterLoader v2 ): Provide an example input configuration and the corresponding output"
The docs for ClusterLoader v2 today doesn't have an example input test configuration and a corresponding output. Adding this would help increase adoption as this would provide a potential new user an idea of how the input and output would look like.

Adding to this would be to provide a set of input test configuration that are usually used while doing scale test of kubernetes ( or rather an establ

[2019-11-13 01:58] Sakuralbj commented on #889
@oxddr Ok, I'll have a look. Thank you!

[2019-11-13 07:52] mm4tt commented on #895
It seems to be also the case for our CI/CD tests, e.g. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1194165744330346499/artifacts/MetricsForE2E_load_2019-11-12T08:37:41Z.json

[2019-11-13 07:53] mm4tt commented on #895
This file seems to be generated by this measurement - https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/metrics_for_e2e.go
This is where I would start looking.

[2019-11-13 07:55] mm4tt commented on #895
Looks like this measurement is based on the metric_grabber.go from k8s.io/kubernetes. Maybe we're using too old version of it and something has changed recently which results in these metrics being null. Just a theory but would be worth checking. If it's true then updating the vendor dir should fix the problem (we can try this nevertheless).

[2019-11-13 07:55] mm4tt commented on #895
/good-first-issue

[2019-11-13 23:21] sonyafenge commented on #895
func "filterMetrics(m *metrics.MetricsCollection)" in "metrics_for_e2e.go" filter and only output the metrics with key under "interestingControllerManagerMetricsLabels", but there is nothing matched from the raw pods metrics. are there any documents for how these interestingControllerManagerMetricsLabels defined or selected?

[2019-11-14 07:53] wojtek-t commented on #895
Just by intuition - we picked up things that we believe can help us with debugging/understanding anything.

[2019-11-14 10:49] mm4tt commented on #895
Yeah and most likely the list got outdated. Feel free to send us a PR updating this list. Thanks! :)

[2019-11-15 17:28] sonyafenge commented on #895
/assign

[2019-11-18 10:30] oxddr commented on #523
/remove-lifecycle stale

[2019-11-19 09:28] RainbowMango opened #902 "MetricsForE2E need to be update after some metric be turned off"
Some metrics from `kube-apiserver` has been turned off by https://github.com/kubernetes/kubernetes/pull/83837.

But we still reference them at
https://github.com/kubernetes/perf-tests/blob/1131542cdbb582927dd8ddaea01f7077d9c8f32a/clusterloader2/pkg/measurement/common/metrics_for_e2e.go#L33-L38

I think the following metrics should be updated:
- "apiserver_request_count",
- "apiserver_request_laten

[2019-11-19 09:30] RainbowMango commented on #902
/kind cleanup

[2019-11-21 07:30] RainbowMango commented on #902
cc @wojtek-t

[2019-11-25 20:55] wojtek-t commented on #640
/remove-lifecycle stale

[2019-11-29 09:32] oxddr commented on #874
/assign
/priority important-soon

[2019-11-29 12:20] oxddr commented on #874
I had a look at some recent runs:

[ci-kubernetes-kubemark-gce-scale/1199612801866272768](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1199612801866272768/):

scheduler:
[code]
kube-controller-manager:
[code]
Based on apiserver logs it seems that it had a brief period of slowness - other API call had also O(seconds) latency.

[2019-11-29 13:04] oxddr commented on #874
Shortly before the restart there was a spike in watch traffic (Endpoints): ![apuAVMbaPRi](https://user-images.githubusercontent.com/30298753/69868813-32d8d480-12ab-11ea-9013-d94d29b18e89.png). It could eat up all available bandwidth (we're using external IPs). @mborsz suggested, that switching to private IPs in kubemark should mitigate this problem.

/usassign

[2019-12-02 12:24] oxddr commented on #735
/remove-lifecycle rotten

[2019-12-04 17:28] wojtek-t opened #919 "Clean up metrics ClusterLoader is gathering"
It seems that the old api-responsiveness measurement is broken, e.g.:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1202253909003866112/artifacts/APIResponsiveness_load_2019-12-04T16:18:17Z.json

The metrics seem to be no longer exposed.
There are also other metrics that seem to be broken, e.g.:
https://storage.googleapis.com/kubernetes-jenkins/logs/c

[2019-12-05 15:10] wojtek-t commented on #779
/remove-lifecycle stale

[2019-12-10 09:24] mm4tt opened #922 "ClusterLoader2 should verify scheduler throughput in density test"
This is to automatically detect regressions like https://github.com/kubernetes/kubernetes/pull/85030 (this one was discovered manually).

[2019-12-10 10:12] mm4tt commented on #922
/assign

[2019-12-10 15:04] oxddr commented on #573
@mm4tt I've just checked locally removal of `-min_confidence=0.9` flag from golint - we have 35 outstanding issues. Please see my PR ref to this issue.

[2019-12-10 15:09] mm4tt opened #926 "We should have perf-dash entries for per-release forked jobs"
An example is gce-100 for which we only have data in perf-dash for master branch.
This makes hard debugging regressions in older releases.

[2019-12-10 15:09] mm4tt commented on #926
/assign @pierewoj

[2019-12-11 06:43] mm4tt commented on #922
This is done.
/close

[2019-12-11 06:43] #922 closed

[2019-12-11 12:56] pierewoj opened #929 "Improve perfdash logging"
Right now, perfdash uses fmt.Printf to log errors. It is not ideal because logs do not contain timestamps, log source etc.

Proposed solution:
* change all ocurrances of fmt.Printf to klog in perfdash
* consider using https://github.com/go-errors/errors for handling errors (so that they contain stack traces)
* you can use `make run` for testing

[2019-12-11 13:01] pierewoj commented on #929
/good-first-issue

[2019-12-11 15:29] oxddr commented on #796
/remove-lifecycle stale

[2019-12-12 06:27] Sakuralbj commented on #929
I'd like to help.Can I assign it to me? @pierewoj

[2019-12-12 06:28] Sakuralbj commented on #929
/assign

[2019-12-12 07:39] Sakuralbj commented on #929
/assign

[2019-12-12 09:45] pierewoj commented on #929
Sure, let me know if you need any help, either here or on k8s slack (I'm under Jakub Pierewoj there). Thanks!

[2019-12-12 13:17] oxddr commented on #889
/close

This has been fixed.

[2019-12-12 13:17] #889 closed

[2019-12-12 13:18] oxddr commented on #498
The old measurement has been replaced by the one using newer metric.

/close

[2019-12-12 13:18] #498 closed

[2019-12-13 11:49] pierewoj commented on #926
Fixed, most relevant commits (other changes are to the sig-release configs and config forker):
https://github.com/kubernetes/perf-tests/commit/14d0f79bf7d90c8586c3e3720322dfab9b804508
https://github.com/kubernetes/perf-tests/commit/7efaa3be02c6396f3ab3f63bb708b156128e12ef

[2019-12-13 11:49] pierewoj commented on #926
/close

[2019-12-13 11:49] #926 closed

[2019-12-16 07:23] wojtek-t commented on #799
/remove-lifecycle stale
/lifecycle frozen

[2019-12-16 14:47] yeya24 commented on #895
Should this already been fixed?

[2019-12-16 14:52] mm4tt commented on #895
Yeah, this was fixed by https://github.com/kubernetes/perf-tests/pull/901
/close

[2019-12-16 14:52] #895 closed

[2019-12-17 13:50] #929 closed

[2019-12-19 08:39] mm4tt opened #948 "CL2 stopped gathering etcd profiles"
![8Y2WptGNdE4](https://user-images.githubusercontent.com/2604887/71157982-4e4c5500-2243-11ea-8842-3023322eb04b.png)

This is most likely due to https://github.com/kubernetes/kubernetes/pull/77561 and the port change.

[2019-12-19 09:34] mm4tt commented on #948
I tried changing etcd port to 2382 in profile.go in https://github.com/kubernetes/perf-tests/pull/949, but unfortunately it didn't help

This suggests that now we need to use https to get the etcd profiles, which makes the things a tad more complicated

[2019-12-20 13:01] jkaniuk opened #957 "Delete release-1.12 branch"
Branch is not used anywhere (either in OSS or GKE).

Currently its state is newer than release-1.13 so inconsistent.

We should just delete it to lower maintenance overhead.

/assign wojtek-t

[2019-12-23 13:24] mm4tt commented on #730
With the panels being initially collapsed the problem disappeared.
I don't think there is value in splitting Master dashboards into multiple ones at this point. There are no performance problems anymore and on the other hand it's useful to have everything in one place.

/close

[2019-12-23 13:24] #730 closed

[2019-12-27 09:56] mm4tt commented on #704
/remove-lifecycle stale

We hope to get back to this in Q1 2020.
In general, this is done except Network Policies. NetworkPolicies are also implemented but we need to resolve some issues in Calico before enabling them.

[2019-12-30 07:25] wojtek-t commented on #584
/remove-lifecycle stale
/lifecycle frozen

[2019-12-30 07:28] wojtek-t commented on #783
/remove-lifecycle stale
/lifecycle frozen

[2019-12-31 10:24] wojtek-t commented on #604
/remove-lifecycle stale

[2020-01-02 07:03] wojtek-t commented on #803
/remove-lifecycle stale

[2020-01-02 07:09] wojtek-t commented on #595
/remove-lifecycle stale

[2020-01-02 09:50] wojtek-t opened #963 "Expose pod startup latency from node-throughput tests on perf-dash"

[2020-01-02 13:34] wojtek-t commented on #963
Let me do this actually.

[2020-01-03 11:02] wojtek-t commented on #963
Done.

[2020-01-03 11:02] #963 closed

[2020-01-08 14:22] mm4tt commented on #797
/remove-lifecycle stale

This is in progress and very close to completion.

[2020-01-12 16:16] mm4tt commented on #552
/remove-lifecycle stale
/good-first-issue
(if someone wants to learn a bit about our codebase and presubmits)

[2020-01-14 13:03] oxddr commented on #604
/good-first-issue
/help-wanted

[2020-01-14 13:53] oxddr opened #980 "Do not rely on flags, etc. to control logging in CL2"
Example cleanup: https://github.com/kubernetes/perf-tests/pull/979, but there are other places with similar issue.

/area clusterloader

[2020-01-16 08:19] mm4tt opened #985 "CL2 kube-apiserver profiles are not collected"
/kind bug

This is a result of recent refactoring. It's not that simple to get the profiles using curl as we need to authenticate (or allow unauthenticated users to call /debug/profile path).
I believe a solution to that would be to switch back to collecting profiles via k8s client (as we used to). This wouldn't work in HA setups but there is already a bug for that (https://github.com/kubernetes/p

[2020-01-16 08:20] mm4tt commented on #985
/good-first-issue

[2020-01-16 14:12] oxddr opened #986 "Take into account number of API calls above SLO threshold when failing test"
Over last year, we had quiet a few failed tests, because of single pair (verb, resource) exceeding SLO threshold. Most of them, were for cases where number of API call was also small (<100). We should consider taking number of API calls into account when failing test.

I'd add a requirement that at least 2 calls must be above threshold to fail the test. This way we won't fail test because of a sin

[2020-01-16 14:13] oxddr commented on #986
/area slo

[2020-01-17 15:10] oxddr opened #990 "CL2 should collect logs from system and test pods"
Context: https://github.com/kubernetes/kubernetes/issues/87324

Clusterloader should collect logs from system (e.g. CoreDNS) and test (e.g. Prometheus) pods (equivalent to kubectl logs ...). This will improve our ability to debug test failed due to problems with those pods. Currently, we have very little insight into why they fail.

/area clusterloader
/priority critical-urgent

[2020-01-17 16:33] alejandrox1 commented on #246
holidays got me bad.
Back on this. Gonna start with the resource metric measurement part

[2020-01-17 17:53] alejandrox1 commented on #985
There is this note from the profile code https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/profile.go#L182-L184
[code]
When you say

Does that mean that we should use that method to do so?

Currently that part of the logic is executed if `p.config.provider == "gke"`, could we also not add some other piece of configuration that will allow the user to use the

[2020-01-20 10:01] mm4tt commented on #985
Yeah, the problem is that we cannot access api-server debug endpoint without authenticating. It means that we cannot easily use curl to do that.
A partial solution would be to switch the code back to using k8s client, but as I documented this wouldn't work in HA env.

[2020-01-20 10:03] mm4tt commented on #985
And to clarify, we should go with this partial solution, at least for now. This is what this issue is about.

[2020-01-20 10:12] oxddr commented on #617
/remove-lifecycle stale

[2020-01-20 12:22] oxddr commented on #866
/remove-lifecycle stale

On Mon, Jan 20, 2020 at 12:52 PM fejta-bot <notifications@github.com> wrote:

[2020-01-20 12:24] oxddr commented on #617
/remove-lifecycle stale

On Sun, Jan 19, 2020 at 9:25 AM fejta-bot <notifications@github.com> wrote:

[2020-01-20 12:24] oxddr commented on #589
/remove-lifecycle stale

On Sun, Jan 19, 2020 at 9:25 AM fejta-bot <notifications@github.com> wrote:

[2020-01-23 07:47] mm4tt commented on #794
/remove-lifecycle stale

[2020-01-23 07:49] mm4tt commented on #794
@vamossagar12, I'm sorry, I must have missed your updated. Could you please ping me on Slack when I'm not responsive? Sorry again!
It looks like dependency incompatibility issue, could you try again and see if the error still occurs? If so we can try updating to govendor dir

[2020-01-24 13:04] mm4tt opened #997 "Get rid of verify/verify-flags/known-flags.txt"
It's burdensome to update this file every time we add a new flag, we should modify the `verify/verify-flags-underscore.py` to stop reading it and get rid of the `known-flags.txt` file

[2020-01-24 13:04] mm4tt commented on #997
/good-first-issue

[2020-01-24 15:26] #985 closed

[2020-01-27 10:57] wojtek-t commented on #682
/remove-lifecycle stale
/lifecycle frozen

[2020-01-27 11:04] wojtek-t commented on #663
/remove-lifecycle stale
/lifecycle frozen

[2020-01-27 11:05] wojtek-t commented on #679
/remove-lifecycle stale

[2020-01-27 11:05] wojtek-t commented on #679
Actually, this is in good enough shape now - we can extend further if needed.

[2020-01-27 11:05] #679 closed

[2020-01-27 11:59] wojtek-t commented on #680
/remove-lifecycle stale
/lifecycle frozen

[2020-01-27 12:18] wojtek-t commented on #986
That sounds reasonable to me.

[2020-01-30 05:23] vamossagar12 commented on #794
@mm4tt I am still getting the same issue

[2020-01-30 12:06] mm4tt opened #1002 "Remove apiserver_request_total's client label in master-dashboard"
The client label of the apiserver_request_total metric is being removed in https://github.com/kubernetes/kubernetes/pull/87669.
This will break some of the graphs in the master-dashboard.json. We should update the prometheus queries to not use the client label.

[2020-01-30 12:06] mm4tt commented on #1002
/good-first-issue

[2020-01-30 13:09] oxddr opened #1003 "Figure out how to effectively query Prometheus for metrics with a high cardinality"
Context: today I tried to find out, based on Prometheus metrics, which specific instance of kube-proxy has cause Networking Programming Latency SLO exceed the threshold. Due to high cardinality of the metrics, I wasn't able to get any sensible results. In most cases Grafana hanged and I had to narrow down the query window to few minutes to not cross Prometheus sample threshold.

/area slo

[2020-01-30 14:34] mm4tt commented on #794
Hey @vamossagar12, have you tried running `$GOPATH/scr/k8s.io/perf-tests/clusterloader2/run-e2e.sh` instead of calling `go run clusterloader.go` ?

[2020-01-30 18:12] vamossagar12 commented on #794
@mm4tt , tried that. Ran ./run-e2e.sh from within the per-tests/clustloader2 package, but got the same error. Not sure what is it that I am missing

[2020-01-30 20:20] mm4tt commented on #794
Strange, are you seeing this problem for k8s.io/perf-test at master' head?

[2020-02-01 14:37] ChakshuGupta13 commented on #997
Hey @mm4tt
I was just going through the issue and read [verify/verify-flags-underscore.py](https://github.com/kubernetes/perf-tests/blob/master/verify/verify-flags-underscore.py). I wanted to clarify: you want to append new flags found while going through golang files directly to [verify/verify-flags/known-flags.txt](https://github.com/kubernetes/perf-tests/blob/master/verify/verify-flags/known-fl

[2020-02-01 15:02] ChakshuGupta13 commented on #997
I'd like to help if I am interpreting the issue correctly.

[2020-02-01 15:05] ChakshuGupta13 commented on #997
I would like to help if I am interpreting the issue correctly.

[2020-02-02 06:20] jlk1980 commented on #997
Awesome, im going to start here! Much appreciated!!

[2020-02-02 06:22] jlk1980 commented on #997
I going to begin tommorow

[2020-02-02 17:53] vamossagar12 commented on #794
@mm4tt , Turns out it was a pretty stupid error from me. I re-read your govendor comment and found that for govendor to work, the project should be in GOPATH/src. I moved it inside and the reported errors went away. Now, even though the tests fail with `F0202 23:22:11.989493   33168 clusterloader.go:213] Config completing error: getting number of nodes error: timed out waiting for the condition
`,

[2020-02-03 09:39] mm4tt commented on #997
No, I want to get rid of the file (`verify/verify-flags/known-flags.txt`). There is really no gain in maintaining it. The `verify/verify-flags-underscore.py` script will have to be updated to not depend on the `known-flags.txt` anymore, e.g. it could just go over all *.go files in repo (except vendor dirs) and check that all flags are underscore.

[2020-02-03 09:39] mm4tt commented on #997
Thanks for looking at this!

[2020-02-03 09:43] mm4tt commented on #794
I see, I'm not 100% sure but updating the golang version should allow you to have the project outside of the $GOPATH.  Anyway, glad that it works now.

The error you now see tells you that clusterloader2 wasn't able to connect to k8s cluster (cl2 needs k8s cluster to work). Cl2 will use the default kubeconfig file ($HOME/.kube/config?) unless you provide the --kubeconfig flag.

[2020-02-03 09:56] wojtek-t commented on #919
Seem to be already fixed by a couple PRs that happened in the meantime.

@mm4tt - FYi

[2020-02-03 09:56] #919 closed

[2020-02-03 11:00] jlk1980 commented on #997
Yes i was trying to find a 1st repository ,they had me working on a lot of
other things. Im still unsure of exactly what im looking at but if you have
anything else i could watch and learn!

On Mon, Feb 3, 2020, 4:39 AM Matt Matejczyk <notifications@github.com>
wrote:

[2020-02-03 13:31] ChakshuGupta13 commented on #997
@mm4tt
I was trying to build the forked repo but the [build](https://travis-ci.com/ChakshuGupta13/perf-tests) is finishing with an error every time. Kindly can you look into the build and tell what is going wrong as I have only forked original repo and added two comments only?

[2020-02-03 14:06] mm4tt commented on #997
Could you sent a PR with your changes? It'll be easier to figure out what is wrong

[2020-02-03 15:00] mm4tt opened #1005 "NodeKiller seems to be not working in 100 node 1.17 / master performance tests"
Original debugging done by @jkaniuk:

[2020-02-03 15:01] mm4tt commented on #1005
Looks like it transiently fails in 1.16, meaning that some of the ssh calls succeed and some not (within a single run), e.g.

OK - `W0129 12:36:05.537] I0129 12:36:05.536771   10910 ssh.go:38] ssh to "e2e-big-minion-group-5l39" finished with "External IP address was not found; defaulting to using IAP tunneling.\nWarning: Permanently added 'compute.691072012589517573' (ED25519) to the list of known

[2020-02-03 15:01] mm4tt commented on #1005
I checked 3 runs of 1.17 test and the problem doesn't occur there. Seems to be 1.16 specific thing.

Maybe there is a different gcloud version used in 1.16 and 1.17?

[2020-02-03 15:01] mm4tt commented on #1005
I'd try upgrading the gcloud version in 1.16 test to see whether it helps

[2020-02-03 15:01] mm4tt commented on #1005
/assign

[2020-02-03 15:33] ChakshuGupta13 commented on #997
Sure @mm4tt
I have sent a PR #1006

[2020-02-03 15:42] mm4tt opened #1007 "Combine density and load test into a single test"
It basically means getting rid of the density test and adding the missing functionalities to the load test (SchedulerThroughput and PodStartupLatency)

[2020-02-03 15:42] mm4tt commented on #1007
/assign

[2020-02-03 21:17] hypnoglow commented on #1002
/assign

[2020-02-03 22:46] jlk1980 commented on #997
I don't believe i made any changes

On Mon, Feb 3, 2020, 9:06 AM Matt Matejczyk <notifications@github.com>
wrote:

[2020-02-04 07:40] mm4tt commented on #1002
Thanks @hypnoglow for looking into this!

[2020-02-04 07:45] #997 closed

[2020-02-04 10:08] mm4tt commented on #1005
https://github.com/kubernetes/test-infra/pull/16103 doesn't seem to be helping, let's revert it.

I took a deeper look a have a new theory now. It looks like in 1.17 runs there are no logs from chaosmonkey components. I believe that the error we see in 1.16 are actually expected, they are returned for reboot command which terminates the ssh connection. We don't see them in 1.17 because chaosmonkey

[2020-02-04 10:08] mm4tt commented on #1005
/good-first-issue

[2020-02-04 10:13] mm4tt commented on #1005
FTR, these are the chaosmonkey files that we could instrument better - https://github.com/kubernetes/perf-tests/tree/eb4fffb50d3caee11a57262b46286f051d9337fb/clusterloader2/pkg/chaos
Adding more verbose logging there (e.g. listing all the nodes chaosmonkey is operating on, logging when chaosmonkey attempts to kill a node, etc.) should help us debug this issue.

[2020-02-04 15:16] oxddr opened #1014 "WaitForControlledPodsRunning should log problematic pods"
WaitForControlledPodsRunning measurement should log problematic pods, when it times out. In case there is more than let say 5 pods, it should print at most 5 of them.

Currently, figuring out which pod has failed is problematic and requires listing all pods from a certain deployment from scheduler logs to locate victim.

/good-first-issue
/help-wanted
/area clusterloader

[2020-02-04 15:27] oxddr commented on #980
Example area to cleanup: [`EnableLogging`](https://github.com/kubernetes/perf-tests/search?q=EnableLogging&unscoped_q=EnableLogging) from WairForX measurements.

/help-wanted
/good-first-issue

All this occurrences should be replace with klog calls, with lower priority (2? 3?). We should rely on klog to control what's being logged.

[2020-02-05 09:06] mm4tt commented on #887
/remove-lifecycle stale

[2020-02-05 10:06] mm4tt commented on #787
/remove-lifecycle stale

[2020-02-05 10:37] jprzychodzen opened #1020 "[ClusterLoader2] Prometheus metrics corrupted"
While running tests with ClusterLoader2, sometimes created snapshot lacks data. Probably, this is related to creating a snapshot of a running disk.

For small tests (~15 minutes long) this can result in missing metrics for specific tests run.

[2020-02-05 14:02] mm4tt opened #1024 "Pod-startup-latency should be measured throughout whole load test"
There is number of issues with the current way we measure the [pod-startup-latency slo](https://github.com/kubernetes/community/blob/master/sig-scalability/slos/pod_startup_latency.md):

1. We have a set artificial steps only to measure it while we should measure and assert on the all pods created throughout the load tests
2. We set artificial CPU/memory requests for the pods that we use to measur

[2020-02-05 15:24] mm4tt commented on #1024
Another issue is that we use 5QPS for creating latency pods even though we officially support higher throughput.

[2020-02-06 10:50] mm4tt opened #1027 "Re-implement scheduling-throughput measurement"
Currently, we have a very crude logic for computing [scheduling-throughput](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/scheduling_throughput.go). We list all pods every 5s and see how many new pod very scheduled in that time. It doesn't work well in small tests where number of pods is low as we only get 1-2 representative 5s windows.

We should rewri

[2020-02-06 11:07] mm4tt opened #1028 "We should have a high-density test running on regular GCE"
Currently we have only one running on kubemark - https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L276

[2020-02-06 14:38] jkaniuk commented on #1020
I've just bumped into that as well.
It happens relatively frequently for 100 nodes tests - 25% of runs out of random 8 runs?

Prometheus logs when data is missing entirely:
[code]
Missing entirely:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1225352227909013505
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalabil

[2020-02-07 12:35] mm4tt opened #1034 "scalability-presubmit-project boskos pool is overutilized"
We've got pinged a few times in the last month about this on slack. We added 5 projects but it doesn't seem to be enough

![5hBcbe06Out](https://user-images.githubusercontent.com/2604887/74030170-b0f1df80-49ae-11ea-80e5-246aece58e74.png)

We should add more projects to the pool, the increase usage is kind of expected as recently we added a lot of presubmits for release branches

[2020-02-07 12:36] mm4tt commented on #1034
/assign @oxddr

Assigning to current scalability oncall

[2020-02-07 12:38] mm4tt commented on #1034
/assign @jkaniuk

And the next oncall as Janek finishes his shift in a few hours

[2020-02-07 12:39] mm4tt commented on #1034
/priority critical-urgent

[2020-02-07 12:44] oxddr commented on #1034
/assign @jprzychodzen

Jakub has a script to be tested to automate project creation. This is a good opportunity to test it.

[2020-02-07 12:58] mm4tt opened #1036 "Cleanup the "extended load test" overrides"
The extended load tests has been implemented and enabled everywhere as a part of https://github.com/kubernetes/perf-tests/issues/704.
We've been running these tests in many places (also at 5k node scales) for a few months. I believe we have enough confidence to make all the changes the defaults and cleanup all the gating logic we have.

We should get rid of all these overrides: https://github.com/

[2020-02-07 12:59] mm4tt commented on #1036
/good-first-issue

[2020-02-10 10:00] wojtek-t commented on #1036
To clarify - the things to do are:
- update default for things that are enabled everywhere (PVs are still disabled in couple tests)
- then remove the overwrides
- cleanup ability to override those things

[2020-02-12 13:00] wojtek-t commented on #790
This is now fixed.

[2020-02-12 13:00] #790 closed

[2020-02-14 19:19] aakarshg opened #1057 "Clusterloader2 use existing prometheus?"
Hello Some of the distros like OpenShift come with a prometheus installation on the cluster, is there anyway we can use this prometheus server's metrics instead of trying to stand up another one, and then have node exporter running ?

[2020-02-17 08:05] wojtek-t commented on #523
/remove-lifecycle stale
/lifecycle frozen

[2020-02-17 08:51] wojtek-t commented on #1057
@mm4tt @mborsz @oxddr

[2020-02-17 10:06] oxddr commented on #1057
At the moment I don't this is possible. But the reason for that is we have some assumptions backed in the clusterloader code (@mm4tt correct me if I am wrong). This should be matter of a single PR to change how the current setup Prometheus works.

[2020-02-17 10:44] mm4tt commented on #1057
Depending on what you mean by "prometheus installation".

Our setup is based on [prometheus-operator](https://github.com/coreos/prometheus-operator), it Prometheus-operator is avaiable in the cluster then it should be doable to have cl2 to use it instead of spinning up a new one. But as @oxddr wrote it would require some code changes and it's not possible as of now.

But taking a step back, what i

[2020-02-17 10:47] mm4tt commented on #523
I believe we can close this one.
While the original idea was to use Cortex, we ended up implementing a "snapshot-base" solution that seems to be working nicely.
Putting it in other words, as of now the Prometheus test data is retained for all continuous tests. The goal of this issue has been achieved.

/close

[2020-02-17 10:47] #523 closed

[2020-02-18 03:36] Sakuralbj opened #1059 "How to enable prometheus in density test?"
I want to get APIResponsiveness result in density test. Should I install prometheus by myself or density test will do it automatically?
I use test config [density](https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/density/config.yaml) and  kubemark for test.
[code]
Results:
[code]

By the way, can perf-tests be used for testing real nodes? If so,should I set provider to l

[2020-02-18 07:05] wojtek-t commented on #1059
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/prometheus/prometheus.go#L56

[2020-02-18 09:39] Sakuralbj commented on #1059
Thank you for your guide!  If I want to do the test using real nodes but not kubemark,what should I do? Can I set param provider to local?

[2020-02-18 14:34] karim-manaouil opened #1063 "What are the steps to fetch, build and run cluster-loader2 tests ?"
I know it's something related to Go but I am suffering to build and run the binary.
I have Go version `go1.13.8 linux/amd64` and I have set $GOPATH to "/root/go" (running as root on server). I also enabled `GO111MODULE=on `. I tried many ways (go get, git clone ...etc) but I always had headache-making troubles with the Go modules or path problems (different ones at each time).

It would be gratefu

[2020-02-18 16:04] karim-manaouil commented on #1063
I had to read some Go documentation and here are the steps:

`export GOPATH=/home/go`
`export GO111MODULE=off`
`go get k8s.io/perf-tests # This will put perf-tests in $GOPATH/src/k8s.io/perf-tests`
`cd $GOPATH/src/k8s.io/perf-tests/clusterloader2/cmd`
`go get ./... # This fetches all the main package dependencies `
`cd ..`
`./run-e2e.sh --kubeconfig=~/.kube/config --testconfig=testing/density/conf

[2020-02-18 16:04] #1063 closed

[2020-02-18 16:05] karim-manaouil commented on #1063
Issue solved

[2020-02-18 19:31] aakarshg commented on #1057
If a small change will let us use existing prometheus-operator on cluster, we would at least like to see what the change looks like so that we can apply the change locally to test if it'll work..

We're currently evaluating clusterloader2 for our needs. We're hitting all sorts of problems with the clusterloader2 trying to deploy its own prometheus-operator pods, some of them are privilege related,

[2020-02-19 09:18] jprzychodzen commented on #1034
Done with #16188

[2020-02-19 09:24] mm4tt commented on #1034
Thanks @jprzychodzen!
Closing this one for now, the current scalability-presubmit-project pool issues are tracked in https://github.com/kubernetes/test-infra/issues/14697

[2020-02-19 09:24] #1034 closed

[2020-02-19 09:32] Sakuralbj commented on #1059
Where is kubemarkServiceMonitors ?  I don't see kubemark directory in perf-tests/clusterloader2/pkg/prometheus/manifests. @wojtek-t @mm4tt
![image](https://user-images.githubusercontent.com/42128207/74820558-370e0e80-533d-11ea-93c0-912a8905a62c.png)
![image](https://user-images.githubusercontent.com/42128207/74820587-44c39400-533d-11ea-88af-48a3a2549fdd.png)
![image](https://user-images.githubuser

[2020-02-19 09:49] mm4tt commented on #1057
I see, deploying two prometheus-operators is definitely not a good idea.

What we could try to do is to extract the logic we have for setting up prometheus operator and add an ability in cl2 to call it (or not call it) conditionally. If prometheus operator is already present in the cluster then it should be doable for cl2 to re-use it. I'm not sure if it will work out of the box as we might have s

[2020-02-19 09:58] mm4tt commented on #1059
Good catch, I think it's some leftover from one of the recent refactoring of that code. I'd appreciate if you could send a PR cleaning it up  (basically remove this logic from prometheus.go) :)

Regarding your other questions:

1. You can enable prometheus with `--enable-prometheus-server`flag (definition in the prometheus.go file that Wojtek linked). Clusterloader2 will set it up and tear down au

[2020-02-19 13:27] Sakuralbj commented on #1059
Thank you!  I'm not quite sure what  clean it up means. Is it mean we don't need to judge whether pc.iskubemark(), apply defaultServiceMonitors in all situation?
![image](https://tva1.sinaimg.cn/large/0082zybpgy1gc20sqbbr4j30t4096q3q.jpg)

[2020-02-19 13:32] mm4tt commented on #1059
As you noticed, there is no such thing as `kubemarkServiceMonitors`. By clean up I meant to remove the variable and all the code that uses it.

[2020-02-19 13:36] Sakuralbj commented on #1059
Ok,I'll do it.

[2020-02-20 01:49] nilo19 opened #1066 "Test failed after #1035"
The test fails after the merge of #1035 . I tested with the provider `kubemark` on my cluster outside of GCE.

[code]
And finally the result:

[code]

If rolled back to a previous version, it passes smoothly.

/kind bug

[2020-02-20 07:19] wojtek-t commented on #1066
/assign @mborsz

@mm4tt - FYI

We should probably revert it for now.

[2020-02-20 07:48] xial-thu opened #1067 "wrong prometheus simple latency calculation if metric is NaN"
/area clusterloader
/kind bug

I'm testing clusterloader2 on a HA cluster on bare-metal. I'm using my own prometheus stack. However, when looking into prometheus APIResponsiveness simple density output, I found some weird result: in every test, the 99% quantile of POST pods latency is the same

So I directly query prometheus by `histogram_quantile(0.99, sum(rate(apiserver_request_duration_seconds_

[2020-02-20 08:15] mm4tt commented on #1066
Interesting, we have a continuous tests for kubemark, running a few times a day, and it seems to be fine - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100
From the logs I assume you were running our `density` test, did you modify it somehow?

[2020-02-20 08:18] nilo19 commented on #1066
No I don't modify testing/density/config, just take it and use it. Plz let me know if you want more info from me.

[2020-02-20 08:29] vamossagar12 commented on #794
hey @mm4tt I have started working on this task now.
I have made some code changes- haven't checked them in yet coz I have a couple of questions around them. At a high level, what I have done is, created a new measurement, which will get a list of Identifiers and the Method/params for that we want to bunch together and execute.

This part is fine, but I was going through the code trying to reuse so

[2020-02-20 08:40] mm4tt commented on #794
1. I believe the easiest way would be to add MeasurementManager to the MeasurementConfig struct
2. Not sure if I understood correctly, but if you execute all the child measurements from your new measurement in parallel then everything should be fine. If you have a step with 3 measurements:
 - A
 - B
 - C (your new measurement)
   - C1 (child measurement)
   - C2

Then Cl2 will execute A,B,C measur

[2020-02-20 08:49] mm4tt opened #1068 "Clusterloader2 tests are flaky due to NetworkProgrammingLatency measurement errors"
I saw at least 2 runs where the tests failed with the following error:

[code]

E.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/perf-tests/1064/pull-perf-tests-clusterloader2/1230261141716865025/

/assign @oxddr

Janek, could you take a look? If it's hard to debug can we at least make NPL to not fail the test (it's still a WIP SLI).

[2020-02-20 09:46] vamossagar12 commented on #794
Thanks Matt. For 1, even I had thought the same but didn't because I thought the MeasurementConfig struct would have duplicate information because it will contain both the fields from  MeasurementManager and the MeasurementManager itself. Do you think that's fine?

For 2, thanks for clarifying. The only doubt I had was that if I execute C1 and C2 in parallel, would it be parallel with A and B or n

[2020-02-20 09:51] mm4tt commented on #794
For 1. you could refactor MeasurementManager, make the current MeasurementManager struct not exposed (i.e. change it to measurementManager) and instead expose a MeasurementManager interface that will allow you to call execute. Then it should be clean for the MeasurmentConfig to contain a field with MeasurementManager interface

[2020-02-20 09:56] mborsz commented on #1066
Do you know if it started failing after https://github.com/kubernetes/perf-tests/pull/1035 or https://github.com/kubernetes/perf-tests/pull/1051?
I'm guessing that more likely after 1051 as this in fact enables changes in 1035.

The change in 1035 adds simply a validation if the pod spec matches the deployment spec to ensure that it works correctly during updates.

Could you run the test again and

[2020-02-20 10:00] xial-thu commented on #1067
I find that if I force cl2 to `useSimpleLatencyQuery`, the result becomes normal. My test runs on a 15-node cluster and is relatively short. I've printed out the query and it shows the duration is only 4 min. I guess `latencyWindowSize = 5 * time.Minute` causes my problem. So I'll close this issue.

/close

[2020-02-20 10:00] #1067 closed

[2020-02-20 10:10] nilo19 commented on #1066
I'm not sure which PR is the root cause, just my simple assumption. And I use the testing/density/config.yaml as the test config file and the deployment template would be testing/density/deployment.yaml.

[2020-02-20 10:35] oxddr commented on #1068
The error you see is a result of Prometheus not returning any samples to NPL query. This is unexpected, even if the returned values are rubbish ;)

I'll have a look at that hopefully this week.

/priority important-longterm
/area clusterloader

[2020-02-20 13:40] mm4tt opened #1070 "Create release-1.18 perf-tests branch"
The corresponding branch has been already created in k/k repo.

Wojtek, could you do it?

[2020-02-20 13:41] mm4tt commented on #1070
/assign @wojtek-t

[2020-02-20 14:01] wojtek-t commented on #561
/remove-lifecycle rotten

[2020-02-20 14:02] wojtek-t commented on #561
@jprzychodzen

/assign @mm4tt

[2020-02-20 14:03] wojtek-t commented on #1070
Done.

[2020-02-20 14:03] #1070 closed

[2020-02-20 14:03] mm4tt commented on #1070
Thx!

[2020-02-20 15:02] wojtek-t commented on #1066
@mm4tt - I don't know where did you get it - it doesn't seem to be green - everything seems to be red: https://testgrid.k8s.io/sig-scalability-kubemark#Summary

[2020-02-20 15:06] mm4tt commented on #1066
The last failures are caused by something else, there are some gce permission errors affecting a lot of test (e.g. see https://k8s-testgrid.appspot.com/sig-scalability-gce).

Kubemark and gce tests were green yesterday and https://github.com/kubernetes/perf-tests/pull/1051 merged two days ago.

[2020-02-20 15:06] wojtek-t commented on #902
I removed that in the meantime - it's fixed now.

[2020-02-20 15:06] #902 closed

[2020-02-22 07:58] chendave opened #1072 "useless namespaces should be cleanup all at once"
Here is the patch on how to reproduce the issue,

[code]

[code]

and here is what I found,

...
namespace found:  test-tp7qhi-93
namespace found:  test-tp7qhi-94
namespace found:  test-tp7qhi-95
namespace found:  test-tp7qhi-96
namespace found:  test-tp7qhi-97
namespace found:  test-tp7qhi-98
namespace found:  test-tp7qhi-99
namespace going to be deleted:  test-tp7qhi-99
namespace going to be del

[2020-02-22 07:58] chendave commented on #1072
/assign

[2020-02-22 14:50] mm4tt opened #1074 "SchedulingLatency metrics lost in 1.18 and master jobs"
As reported in the discussion in https://github.com/kubernetes/perf-tests/pull/1061, master and 1.18 branch since last week the SchedulingLatency metrics are reported as 0s, e.g. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1231113766444208131/artifacts/SchedulingMetrics_load_2020-02-22T07:39:26Z.json

It's nicely visible on the perd-dash:
### master

[2020-02-22 14:51] mm4tt commented on #1074
We should either fix that or switch to some other metrics given that the metrics that we currently scrape are deprecated, see https://github.com/kubernetes/perf-tests/pull/1061#issuecomment-589963192

[2020-02-24 12:29] oxddr commented on #640
/remove-lifecycle stale

[2020-02-24 12:46] #1072 closed

[2020-02-24 16:11] vamossagar12 commented on #794
hey @mm4tt I have made the requisite changes that you had asked for and tested for service creation measurement. Sample config file: clusterloader2/testing/l4ilb/config.yaml.
The draft PR link is : https://github.com/kubernetes/perf-tests/pull/1075

1 thing that i wanted to point out was that in the example config you had posted above, you had added Params within  Params block. However, since all

[2020-02-24 17:32] wojtek-t commented on #640
FYI - this issues may be related:
https://github.com/kubernetes/kubernetes/issues/82364

[2020-02-24 17:37] mm4tt commented on #794
Thanks @vamossagar12

I'm a bit swamped with work, but I'll try to take a look this week

[2020-02-24 19:30] ingvagabund commented on #1074
https://github.com/kubernetes/perf-tests/pull/1061#issuecomment-590500497

predicates/priorities are not part of the collected metrics string

[2020-02-24 19:46] ingvagabund commented on #1074
Due to https://github.com/kubernetes/kubernetes/pull/86584, both predicate/priority metrics are deprecated since 1.18:
- scheduling_algorithm_predicate_evaluation_seconds, replaced by framework_extension_point_duration_seconds[extenstion_point="Filter"]
- scheduling_algorithm_priority_evaluation_seconds, replaced by framework_extension_point_duration_seconds[extenstion_point="Score"]

[2020-02-24 19:59] aakarshg opened #1077 "clusterloader2 support creation of explicit pod objects."
Code for clusterloader2 is currently opinionated towards creation of controller objects, and this makes it very difficult to use the tool for creation of pod objects specifically. I've tried creation of pod objects and run into an error as follows:

[code]

Digging into code this is due to an assumption that the `controller` has a filed spec.selector - https://github.com/kubernetes/perf-tests/blob

[2020-02-24 20:00] wojtek-t commented on #1077
Creating "naked" pods is an anti-pattern in k8s. We don't want to support it.

[2020-02-24 20:02] aakarshg commented on #1077
Can you please elaborate? or point to any docs/blogs that can help me understand this?

[2020-02-24 20:07] ingvagabund commented on #1074
Opening https://github.com/kubernetes/kubernetes/pull/88485 to postpone the deprecation version to 1.19.

[2020-02-25 11:42] wojtek-t commented on #1077
If a node goes down, you pod disappears.
All pods should be controlled by some controller (deployment, replicaset, statefulset,custom controller, ...)

[2020-02-25 12:02] ingvagabund commented on #1074
@mm4tt metrics are popping back: http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=Scheduler&metricname=SchedulingLatency&Operation=predicate_evaluation.

[2020-02-25 15:49] ingvagabund commented on #1074
/close

[2020-02-25 15:49] #1074 closed

[2020-02-25 16:16] aakarshg commented on #1077
Understood @wojtek-t thanks for explanation. So in that case which controller is used to determine the pods per node limit as per https://kubernetes.io/docs/setup/best-practices/cluster-large/#support ?

Some more context: We try to test similar configurations, but in the past we've used naked pods and our own version of clusterloader. We're evaluating the clusterloader2 in this case to see if we

[2020-02-26 09:30] vamossagar12 commented on #1014
/assign

[2020-02-26 09:33] vamossagar12 commented on #1014
hey @oxddr i can take this up. can you provide some details/examples that I can refer to plz?

[2020-02-26 09:34] vamossagar12 commented on #787
@oxddr do you think we can apply the things done in the PR for this issue? https://github.com/kubernetes/perf-tests/issues/794

[2020-02-26 09:39] oxddr commented on #1014
I happy to hear that. I have other work today, but I'll try to add more details tomorrow.

[2020-02-26 09:41] oxddr commented on #787
Could you point me to a specific PR? I suspect we can apply at least some
pieces based on this issue description.

[2020-02-26 09:48] vamossagar12 commented on #787
Sure. here it is: https://github.com/kubernetes/perf-tests/pull/1075

[2020-02-27 08:16] wojtek-t commented on #787
It can be a building block - I don't want users to even need to be aware of what SLOs we have. They should just say "measure me all SLOs" and don't specific specific one.

[2020-02-27 11:20] xial-thu opened #1083 "wrong schedulingThroughput in density test"
/kind bug
/area clusterloader

When calculating scheduling throughput in density test, I found the calculation is incorrect when running a small test of 300 saturation pods on 16 nodes. The log shows

I0227 17:38:34.247614 2069840 scheduling_throughput.go:118] SchedulingThroughput: labelSelector(group = saturation): 15 pods scheduled
I0227 17:38:39.247969 2069840 scheduling_throughput.go:118] Sche

[2020-02-27 11:25] wojtek-t commented on #1083
This is a know issue - we're going to rewrite this measurement to be based on prometheus metrics.

@mm4tt - FYI

[2020-02-27 11:30] mm4tt commented on #1083
Yeah, thanks for opening the issue. I talked about this some time ago with @jprzychodzen, he'll be looking into rewriting the measurements in the coming weeks.

[2020-02-27 14:07] oxddr commented on #874
This has been solved already.

/close

[2020-02-27 14:08] #874 closed

[2020-02-27 15:03] karim-manaouil opened #1085 "Errors while trying "--enable-prometheus-server" to execute APIResponsivenessPrometheusSimple and other measurements"
I have a bare-metal K8S cluster v1.17.0. I tried to run some test configs (node-throughput/config.yaml), it runs successfully except that at the end I don't get APIResponsiveness measurements because it reports that "Prometheus is not enabled" (even though Prometheus was already installed on my cluster). I deleted existing Prometheus deployment namespace and I run the following command:

`./cluste

[2020-02-28 11:10] oxddr opened #1086 "Prometheus snapshot not created when kubetest times out"
Prometheus snapshot is not created if kubetest times out. Snapshotting logic lives inside clusterloader, so when kubetest times out the logic is simply not executed. It is unfortunate, especially timeouts are situation, which we'd like to debug usually.

I was hit by this issue when tryring to debug: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88342/pull-kubernetes-e2e-gce-large-p

[2020-02-28 11:54] oxddr commented on #1085
1. Clusterloader doesn't work currently with other Prometheus instances than created by clusterloader itself. There are couple of assumptions baked in the code of clusterloader making it impossible at the moment to use other Prometheus instances (PRs welcome :) )

2. Based on the logs it seems, that there might a problem with Prometheus operator (we use to instantiate Prometheus in test clusters).

[2020-02-28 23:52] karim-manaouil commented on #1085
The Prometheus operator is running very well:
`pod/prometheus-operator-6d66b7d98c-k2b24   1/1     Running             0          3m1s`

The pod logs:
[code]

Here is the complete log of the last API request that failed and the complete error response returned by the api-server:

[code]

[2020-03-02 09:51] vamossagar12 commented on #787
Ok. I can take a stab at it once the PR I posted above gets merged. Can you plz add more details to this?

[2020-03-02 13:50] oxddr opened #1092 "Presubmits should be run on release branches."
Context: [this PR](https://github.com/kubernetes/perf-tests/pull/1090) has been merged without running any tests. Changes to clusterloader2 have a potential to break things and presubmit is a cheap way to prevent at least trivial issues.

[2020-03-02 13:51] oxddr commented on #1092
/area clusterloader
/priority important-soon

Ideally configuration of those presubmits should be generated when, the new release branch is created.

[2020-03-03 09:44] oxddr commented on #787
I'll try to add more details today/tomorrow. However I am open to
implementation ideas as long as we would be able to instantiate all SLO
measurements with minimal number of config lines and configurations
options.

[2020-03-03 10:54] mm4tt commented on #1007
/assign @jprzychodzen

[2020-03-03 12:08] mm4tt commented on #1086
I also took some notes about that run:

1. It looked like the api-server exploded during the test, but it wasn't obvious from the logs that it was the case (it requires some experience with CL2 to guess / know that)
2. There is no point in continuing the tests if such thing happens. Actually, continuing the test creates a lot of issues, e.g.
    1. Such test is a waste of resources, it will last u

[2020-03-03 12:21] mm4tt opened #1096 "Create api-availability measurement"
### Justification

See this comment - https://github.com/kubernetes/perf-tests/issues/1086#issuecomment-593918574

### Milestones

#### V0

1. Create a new "ApiAvailability" measurement
1. This measurement should periodically probe the apiserver's /healthz endpoint and record whether api was available or not
1. The measurement should output the following stats
    1. availability percentage (e.g.

[2020-03-03 14:26] jprzychodzen commented on #1083
@xial-thu thanks for bringing up this issue. Right now I've removed this confusing metric.

We are not using it in any test, and as stated already, there are know issues with this metric. Unless there is an exact use case for it, it's hard to discuss what should this metric mean.

Closing as resolved.

[2020-03-03 14:30] jprzychodzen commented on #1083
/close

[2020-03-03 14:30] #1083 closed

[2020-03-03 14:39] oxddr opened #1099 "Migrate perf-tests to Go modules"
Yesterday I tried to release new version of perfdash, but failed to build a binary locally due to a missing dependency. I had a look into dependencies and it's a mess. We still use Godeps, which are now deprecated in favor of Go modules. We should migrate to go modules fully, drop support for Godeps and possibly ditch 'vendor/' dirs too (@mm4tt is there any reason we keep them?).

There are couple

[2020-03-03 15:11] mm4tt commented on #1099
In general, I'm in favor of this change.
I don't think it's critical-urgent, though. Everything seems to be working (I'm quite sure that building perfdash works if you use proper go version and disable GOMODULES). And it definitely works without any issues for clusterloader2.

Downgrading the priority to important-soon
/priority important-soon

IIRC, we still have vendor dirs in some places becaus

[2020-03-03 15:26] oxddr commented on #1099
/remove-priority critical-urgent
With https://github.com/kubernetes/perf-tests/pull/1100 merged, this is indeed not that urgent, as we will be able to again build `perfdash` at HEAD.

I tried to check if this can be done with a simple PR, but I think there is more work needed to make sure we don't break anything. I could prepare a plan on how to do it, what is exactly in the scope (e.g. migration

[2020-03-03 15:27] mm4tt commented on #1099
Sounds good, thanks!

[2020-03-03 15:39] xial-thu commented on #1083
@jprzychodzen thx for your reply. I remember 50 pod/s is set as a goal in community's document. So I'm a little surprised and confusing when you said you never use it. Would you explain a bit more?

It's not an exact use case for me. I'm just trying to set up a baseline for my system and evaluating possible key metrics. From my point of view, the official SLOs involves too many components and once

[2020-03-03 16:02] vamossagar12 opened #1101 "Service Creation Latency Measurement fails when PodService is Nil"
Service Creation Latency measurement throws a Segmentation Violation Error at the following line:

https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/service_creation_latency.go#L316

This happens when exec_service returns PodService as nil here:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/execservice/exec_service.go#L137

The pro

[2020-03-03 16:02] vamossagar12 commented on #1101
/assign

[2020-03-03 16:08] jprzychodzen commented on #1083
@xial-thu thanks for you response.

Just to clarify - we didn't use average value of scheduling throughput metric. However, we are using maximum value (a little has changed with  #1093  form 99th percentile). In result, we were providing confusing metric (avg of scheduling throughput) that we did not use at all.

I've closed this issue as it was explicitly targeting avg of scheduling throughput -

[2020-03-04 08:22] mm4tt commented on #1083
Just to add one more thing. The goal you mentioned is actually 100 pods / s and it's still one of the official scalability goals. It's being continuously verified in our scale tests.

[2020-03-04 10:40] HtcOrange opened #1104 "Panic: division by zero. There is something wrong when running the script."
The testing went wrong!  The results are as following:
[code]
Why is that? Does the key point come from the risk of dividing by zero? I am very anxious to enlist your help!

[2020-03-04 11:01] #829 closed

[2020-03-04 14:30] jprzychodzen commented on #1005
/assign

[2020-03-04 14:38] jprzychodzen commented on #1005
There are two different issues:
 *  Nodes are not really randomly selected. Current selecting mechanism with current configuration does not select any node to kill if ( failure rate ) * ( number of eligible nodes ) < 1. While filtering out nodes running Prometheus we are getting less than 100 nodes. Current failure rate assume that 0.01 nodes will fail. This multiplies to a number lower than one a

[2020-03-05 08:52] mm4tt commented on #779
Closing this one in favor of https://github.com/kubernetes/perf-tests/issues/1007
While https://github.com/kubernetes/perf-tests/issues/1007 it's not addressing exactly the same problem and reasoning for doing it are different, it will make this FR obsolete.

/close

[2020-03-05 09:31] oxddr commented on #779
/reopen

While we may not want to do this in the short-term, I'd like to keep this one open. The issues, you've mentioned means we avoid the problem, but not solving it. Where the problem i lack of functionality in clusterloader. We've added test for tokens recently, which is measured separately. We may add more in the future. We should be able to do measurements across the suite.

[2020-03-05 09:56] mm4tt opened #1110 "Investigate making containerd an official scalability CRI recommendation"
We've got a lot of premises that containerd performance is better comparing to docker. E.g.

1. Pod throughput

    **Docker**
    http://perf-dash.k8s.io/#/?jobname=docker-node-throughput&metriccategoryname=E2E&metricname=PodStartup&Metric=pod_startup
    ![2aT6DcSAOYG](https://user-images.githubusercontent.com/2604887/75969747-ace2b000-5ecf-11ea-9108-bcf9961c88cb.png)

    **Containerd**
    htt

[2020-03-05 09:57] mm4tt commented on #1110
/assign @jprzychodzen

[2020-03-05 10:40] mm4tt opened #1112 "Implement a post-submit job for building and pushing perf-dash image"
We can take inspiration from the existing jobs for kubekins that does the same. See
https://github.com/kubernetes/test-infra/blob/5ae038e4ff718367db1b7e9857e9f1b5ae2d61b5/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L431

Ref. https://github.com/kubernetes/perf-tests/pull/1088#issuecomment-595155270

[2020-03-05 10:46] oxddr commented on #1112
My comment from the PR:

We've talked about it in the past and decided not to do anything, as perf-dash (in the current form) at some point is going to be replaced. On the other hand, building (and even rolling out) an image should be easy to do with Cloud Build.

[2020-03-05 10:58] mm4tt commented on #1112
Copying my comment as well :)

I think it shouldn't be more than ~2h of work (given that there is an existing post-submit we can just copy and tune to our needs). Given that it takes ~10-15min to build/push new perf-dash and we're pushing it 3rd time this month, I believe such investment would quickly pay-off.

[2020-03-05 11:48] #1101 closed

[2020-03-06 14:11] mm4tt commented on #1104
Yeah, sorry about that. This is a known issue - https://github.com/kubernetes/perf-tests/issues/887
Density and Load tests were designed to work with clusters with at least 100 nodes (it's where the scale begins for us). As of now, it's now possible to run them for smaller clusters (without some manual edits).

/close

[2020-03-06 14:11] #1104 closed

[2020-03-09 16:15] oxddr commented on #573
/remove-lifecycle stale
golangci-lint is available as a Docker image - we could easily move the
running lint of Travis to Prow this way.

[2020-03-10 10:11] jprzychodzen commented on #1005
Fixed.

[2020-03-10 10:33] jprzychodzen commented on #1005
/close

[2020-03-10 17:04] wojtek-t commented on #796
/remove-lifecycle stale
/lifecycle frozen

[2020-03-13 15:30] vamossagar12 commented on #1096
/assign
I would like to take this up. Would these be more details furnished?

[2020-03-16 04:56] maniSbindra commented on #1036
Hi @wojtek-t  I would like to work on this issue.

I found 126 occurrences of "testing/load/experimental/override" in 7 files within  k8s.io/test-infra. All these occurrences use ```--test-cmd-args=--testoverrides=./testing/load/experimental/overrides/``` with one of the files listed in https://github.com/kubernetes/perf-tests/tree/master/clusterloader2/testing/load/experimental/overrides .

I wan

[2020-03-16 08:51] mm4tt commented on #1036
Hey @maniSbindra, thanks for taking a look at this!

To give you an example of what "update defaults" means, let's take a look at the
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/load/experimental/overrides/enable_configmaps.yaml
It overrides the `ENABLE_CONFIGMAPS` variable to `true`.
We'd like to change the default of `ENABLE_CONFIGMAPS` to true so the override is

[2020-03-16 10:32] maniSbindra commented on #1036
Thank you @mm4tt

[2020-03-18 08:39] mm4tt commented on #1096
Great, thanks @vamossagar12

Let's start with the V0. Could you let me know which part of the description is not clear or requires further details?

[2020-03-18 10:32] mm4tt commented on #948
/remove-lifecycle stale

[2020-03-18 10:33] mm4tt commented on #948
/good-first-issue

A bit complicated for the first issue, but I think it should be doable. If there is anyone who would like to take this one I can help with this one. I have some ideas that we could try. It'd be great to have the etcd profiles back

[2020-03-18 15:44] vamossagar12 commented on #1096
thanks @mm4tt Couple of things:
1) how frequently should the probe happen? Would it be configurable or we can define it to be fixed?
2) The availability percentage should be wrt the entire perf test run and we have to keep track of percentage and longest unavailable period?

As an outside question, typically if the health end point is down for a configured time, response would be to scale up or so

[2020-03-19 20:19] wojtek-t commented on #1096
Seems like implementation detail. We can make it configurable, but I doubt we will be using different values once we agree on sth.

Correct

There are couple points:
- we want to ensure that we understand how availability looks like (I can imgine all other SLOs being fine, but cluster being periodicall unavailable)
- we can use it as optimization - if cluster is down for X minutes, the it probably

[2020-03-21 08:09] vamossagar12 commented on #1096
Thanks for the updates @wojtek-t . I will start with this issue now. Pretty sure there would be a few more questions along the way though :)

[2020-03-21 15:44] #869 closed

[2020-03-22 13:05] #872 closed

[2020-03-22 15:07] #875 closed

[2020-03-22 20:37] karim-manaouil opened #1129 "clusterloader2's Prometheus cannot connect to the apiserver"
I run clusterloader2 with "--enable-prometheus-server". Prometheus was successfully deployed and running but once I checked the generated report, the APIResponsivenessPrometheus results were empty. After openning the Prometheus web interface and heading to /targets page, it seems that Prometheus wasn't scrapping the apiserver and it failed to establish connection. I checked the RBAC and it was all

[2020-03-23 08:42] jprzychodzen opened #1130 "[ClusterLoader2][NodeKiller] NodeKiller can leave broken nodes"
When a testing run uses NodeKiller, some nodes can be left in a broken state - with disabled services. This can influence results while running multiple testing jobs on the same cluster.

It happens when testing finishes before NodeKiller reboot is triggered.

Sample log:
[code]
In this sample NodeKiller did not schedule reboot an ClusterLoader2 has ended working, leaving e2e-test-jprzychodzen-min

[2020-03-23 10:54] jprzychodzen commented on #1130
/good-first-issue

[2020-03-24 11:34] mcastellin commented on #1130
@jprzychodzen I would like to try have a go at it. It's my first contribution so I'll explain what I have in mind:
I've analyzed the issue a bit and I propose we listen for interruption on the `stopCh` in `nodes.go#kill` so we can break the downtime and have the Monkey schedule the restart.
This would mean we also need to change the test executor to close the `stopCh` before printing the test summ

[2020-03-24 16:39] jprzychodzen commented on #1130
Hi @mcastellin, thanks for expressing an interest to contribute to this issue.

Changing `nodes.go#kill` sounds great and you are right, there needs to be some modification to [simple_test_executor.go](../tree/master/clusterloader2/pkg/test/simple_test_executor.go).

Closing `stopCh` will generate a rebooting of nodes in random order (between/after summary logs) and ideally we would like to preven

[2020-03-24 16:51] mcastellin commented on #1130
@jprzychodzen thanks for you inputs, I'll do my best to implement what you're asking.
Can I reach out to you on the Slack community to ask a few questions on how to test the changes before committing?
I see the bot is scraping PRs to run against the GCE cluster, I wonder if you guys perform any test on your local machine first.

[2020-03-24 21:37] skurtzemann commented on #948
Hi @mm4tt,
I'll like to try this issue as my first issue ;) How can I start ?

[2020-03-25 08:44] jprzychodzen commented on #1130
Few packages have unit tests implemented, however it seems that Node Killer is missing them. If you could add test provider to fake Node Killer actual node disablement and reboot so it could run locally, it would be a great improvement and would unblock local testing of a Node Killer.

When updating Node Killer I've mostly run a small cluster and test Node Killer changes with a synthetic ClusterLo

[2020-03-25 10:10] mm4tt commented on #948
Hey, @skurtzemann
Thanks for reaching out.

Could you try preparing a PR where you'd change the curl command we use to gather etcd profiles, https://github.com/kubernetes/perf-tests/blob/9b73b5f9cc8ee2680474bc08a624833242bd9da8/clusterloader2/pkg/measurement/common/profile.go#L184, to pass there --cert and --key flags, similarly to https://github.com/kubernetes/perf-tests/blob/39b98208736db08b243b

[2020-03-26 11:01] oxddr commented on #704
/remove-lifecycle stale
/lifecycle frozen

[2020-03-26 11:54] mm4tt commented on #1002
This is done, IIRC.

/close

Thanks, @hypnoglow!

[2020-03-26 11:54] #1002 closed

[2020-03-26 15:39] mcastellin commented on #1130
/assign

[2020-03-26 16:11] vamossagar12 commented on #1096
hi. Since I last commented, I didn't get a chance to look at it. Will start over the weekend..

[2020-03-27 03:52] #879 closed

[2020-03-27 15:13] jprzychodzen commented on #1130
/closed
Resolved in #1135

[2020-03-27 15:14] jprzychodzen commented on #1130
/close

[2020-03-27 15:14] #1130 closed

[2020-03-27 15:24] jprzychodzen opened #1137 "[ClusterLoader2][NodeKiller] Refactor NodeKiller by adding 'provider' abstraction and move env specific calls over there"
Two provides should be implemented to consider this issue resolved
 *  one for GCP environment (currenly inlined in [clusterloader2/pkg/chaos](../tree/master/clusterloader2/pkg/chaos) code)
 *  one for fake (testing) environment

Resolving this will unlock adding Kubemark provider and unit testing Chaos Monkey/Node Killer.

/good-first-issue

[2020-03-27 15:25] jprzychodzen commented on #1130
Created a refactoring issue #1137 as a follow up.

[2020-03-27 15:33] mcastellin commented on #1137
As promised, following up on this one
/assign

[2020-03-29 10:16] vamossagar12 commented on #1096
hi so i started looking at this today. One of the things is that there's already a measurement metrics_for_e2e which, among other things, also fetches the metrics from api-server.

So, the new measurement that needs to be created, can work along the same lines just that instead of hitting the /metrics end-point, it can hit the /healthz end-point of api-server. Thats' from an implementation standpo

[2020-03-29 22:51] otterley opened #1139 "clusterloader2 cannot connect to clusters with custom certificate authorities"
clusterloader2 cannot connect to clusters that have custom certificate authority data defined in their kubectl file.

The following error is returned:

[code]

[2020-03-30 11:26] mm4tt commented on #1096
Hey, @vamossagar12

It makes sense to make the implementation similar to the metrics_for_e2e. It's exactly as you said, instead of hitting /metrics, we'll be hitting /healthz.

Regarding your second question. Usually a measurement has two actions: `start` and `gather`. This one should work the same. The `start` action should start a goroutine that will be continuously pinging /healthz endpoint and

[2020-03-30 11:39] wojtek-t commented on #1096
Not sure I understand - for metrics_for_e2e IIRC we're fetching the metrics once at the end of test. Assuming that the above is true - it can't really work the same way...

[2020-03-30 11:59] mm4tt commented on #1096
Good point, I should have checked how the metrics_for_e2e works :) Still you should be able to take some inspiration from that measurement. Let me know if you have more questions.

[2020-03-30 13:22] mm4tt commented on #1005
/reopen

https://github.com/kubernetes/perf-tests/pull/1140

[2020-03-30 14:15] vamossagar12 commented on #1096
Actually I meant to use the metrics_e2e as only a baseline of how to interact with the api server. I hadn't looked at the internals so what @wojtek-t told is even more valuable :)